<section class="article-body">
	{{#unless preview}}
		<div class="mobile-top-leaderboard">&nbsp;</div>
		<h2 class="wiki-title"><a href="#">{{wikiVariables.siteName}}</a></h2>
		<h1 class="wiki-page-title">{{displayTitle}}</h1>
		{{#if subtitle}}
			<span class="wiki-page-subtitle">{{subtitle}}</span>
		{{/if}}
		{{#if hasToC}}
			<div class="collapsible-menu table-of-contents"><div class="title">{{i18n 'app.article-toc-label'}}</div></div>
		{{/if}}
	{{/unless}}
	<article class="article-content" id="preloadedContent">
		{{{articleContent}}}
	</article>
</section>
