{{#if @fullPage}}
  {{outlet}}
{{else}}
  <SiteHead
		  @globalNavigation={{@globalNavigation}}
		  @communityHeader={{@communityHeader}}
		  @contentLanguage={{this.contentLanguage}}
		  @isSearchPage={{@isSearchPage}}
		  @shadow={{@siteHeadShadow}}
		  @themeBar={{@themeBar}}
		  @offset={{this.ads.siteHeadOffset}}
  />
  <div class="page-wrapper">
    {{outlet}}
  </div>
  <WikiaInYourLang />
  {{#if @globalFooter}}
    <GlobalFooter
      @model={{@globalFooter}}
      @track={{this.track}}
    />
    <GlobalFooterBottom @isWikiaOrg={{this.isWikiaOrg}} />
  {{/if}}
{{/if}}
<LightboxWrapper />
<AlertNotifications @alerts={{@alertNotifications}} />
<Spinner @active={{@isLoading}} />
