{{#if fullPage}}
	{{outlet}}
{{else}}
	{{site-head
		drawerContent=activeDrawerContent
		drawerVisible=drawerVisible
		globalNavigation=globalNavigation
		isSearchPage=isSearchPage
		shadow=siteHeadShadow
		setDrawerContent=(action 'setDrawerContent')
		themeBar=themeBar
		toggleDrawer=toggleDrawer
		offset=ads.siteHeadOffset
	}}
	<div class="page-wrapper">
		{{outlet}}
	</div>
	{{wikia-in-your-lang}}
	{{#if globalFooter}}
		{{global-footer/global-footer model=globalFooter}}
	{{/if}}
{{/if}}
{{lightbox-wrapper}}
{{alert-notifications alerts=alertNotifications}}
{{wds-spinner active=isLoading}}
