{{#if fullPage}}
	{{outlet}}
{{else}}
	{{site-head
		drawerContent=activeDrawerContent
		drawerVisible=drawerVisible
		globalNavigation=globalNavigation
		isSearchPage=isSearchPage
		shadow=siteHeadShadow
		setDrawerContent=(action 'setDrawerContent')
		themeBar=themeBar
		toggleDrawer=toggleDrawer
		offset=ads.siteHeadOffset
	}}
	{{#wikia-drawer shouldBeVisible=drawerVisible}}
		{{#if activeDrawerContent}}
			{{component
				drawerContentComponent
				onEnterHandler=(action 'closeDrawer')
				suggestionClickAction=(action 'closeDrawer')
				setDrawerContent=(action 'setDrawerContent')
				closeDrawer=(action 'closeDrawer')
				outsideSuggestionsClickAction=(action 'closeDrawer')
				loadRandomArticle=loadRandomArticle
				globalNavigation=globalNavigation
				noScroll=true
				focusInput=true
			}}
		{{/if}}
	{{/wikia-drawer}}
	<div class="page-wrapper">
		{{outlet}}
	</div>
	{{wikia-in-your-lang}}
	{{#if globalFooter}}
		{{global-footer/global-footer model=globalFooter}}
	{{/if}}
{{/if}}
{{lightbox-wrapper}}
{{alert-notifications alerts=alertNotifications}}
{{wds-spinner active=isLoading}}
