{{#if fullPage}}
	{{outlet}}
{{else}}
	{{site-head
		drawerContent=activeDrawerContent
		drawerVisible=drawerVisible
		globalNavigation=globalNavigation
		isSearchPage=isSearchPage
		shadow=siteHeadShadow
		setDrawerContent=(action 'setDrawerContent')
		themeBar=themeBar
		toggleDrawer=toggleDrawer
	}}
	{{#wikia-drawer
		shouldBeVisible=drawerVisible
	}}
		{{#if activeDrawerContent}}
			{{component
				drawerContentComponent
				onEnterHandler=(action 'closeDrawer')
				suggestionClickAction=(action 'closeDrawer')
				setDrawerContent=(action 'setDrawerContent')
				closeDrawer=(action 'closeDrawer')
				outsideSuggestionsClickAction=(action 'closeDrawer')
				loadRandomArticle=loadRandomArticle
				globalNavigation=globalNavigation
				noScroll=true
				focusInput=true
			}}
		{{/if}}
	{{/wikia-drawer}}
	<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
		{{outlet}}
	</div>
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=closeLightbox
		setQueryParam=setQueryParam
	}}
	{{wikia-in-your-lang}}
	{{#if globalFooter}}
		{{global-footer/global-footer model=globalFooter}}
	{{/if}}
{{/if}}
{{alert-notifications alerts=alertNotifications}}
{{wds-spinner active=isLoading}}
