{{#if fullPage}}
  {{outlet}}
{{else}}
  <SiteHead @globalNavigation={{globalNavigation}} @communityHeader={{communityHeader}} @contentLanguage={{contentLanguage}} @isSearchPage={{isSearchPage}} @shadow={{siteHeadShadow}} @themeBar={{themeBar}} @offset={{ads.siteHeadOffset}} />
  <div class="page-wrapper">
    {{outlet}}
  </div>
  <WikiaInYourLang />
  {{#if globalFooter}}
    <GlobalFooter
      @model={{this.globalFooter}}
      @track={{action this.track}}
    />
    <GlobalFooterBottom @isWikiaOrg={{isWikiaOrg}} />
  {{/if}}
{{/if}}
<LightboxWrapper />
<AlertNotifications @alerts={{alertNotifications}} />
<Spinner @active={{this.isLoading}} />
