{{#if isDarkTheme}}
  {{set-body-class 'siema-leba'}}
{{/if}}
{{#if fullPage}}
  {{outlet}}
{{else}}
  {{site-head
    globalNavigation=globalNavigation
    communityHeader=communityHeader
    contentLanguage=contentLanguage
    isSearchPage=isSearchPage
    shadow=siteHeadShadow
    themeBar=themeBar
    offset=ads.siteHeadOffset
  }}
  <div class="page-wrapper">
    {{outlet}}
  </div>
  {{wikia-in-your-lang}}
  {{#if globalFooter}}
    <GlobalFooter
      @model={{this.globalFooter}}
      @track={{action this.track}}
    />
    {{global-footer-bottom
      isWikiaOrg=isWikiaOrg
    }}
  {{/if}}
{{/if}}
{{lightbox-wrapper}}
{{alert-notifications alerts=alertNotifications}}
<Spinner @active={{this.isLoading}} />
