{{#if fullPage}}
	{{outlet}}
{{else}}
	{{#if shouldShowABTestBannerOnIOS}}                                                                                │  774 root       30  10  778M 23252  6304 S  0.0  0.4  6:19.36 osqueryd
		{{smart-banner-test                                                                                            │  704 root       30  10  778M 23252  6304 S  0.0  0.4  6:28.94 osqueryd
			toggleVisibility=attrs.toggleSmartBanner                                                                   │  839 telegraf   20   0  782M 16780  4308 S  0.0  0.3  1:48.79 /usr/bin/telegraf -pidfile /var/run/telegraf/telegraf.p
			isVisible=smartBannerVisible                                                                               │  552 root       20   0 38164 17976  5980 S  0.0  0.3  1:14.51 /usr/bin/consul agent -config-dir /etc/consul.d
		}}                                                                                                             │ 9539 bkowalczy  20   0  104M  5568  3556 S  0.0  0.1  0:01.02 sshd: bkowalczyk@pts/2
   {{/if}}
	{{site-head
		drawerContent=activeDrawerContent
		drawerVisible=drawerVisible
		globalNavigation=this.attrs.globalNavigation
		isSearchPage=isSearchPage
		shadow=siteHeadShadow
		setDrawerContent=(action 'setDrawerContent')
		smartBannerVisible=smartBannerVisible
		themeBar=themeBar
		testSmartBannerVisible=shouldShowABTestBannerOnIOS
		toggleDrawer=this.attrs.toggleDrawer
	}}
	{{#wikia-drawer
		shouldBeVisible=drawerVisible
	}}
		{{#if activeDrawerContent}}
			{{component
				drawerContentComponent
				onEnterHandler=(action 'closeDrawer')
				suggestionClickAction=(action 'closeDrawer')
				setDrawerContent=(action 'setDrawerContent')
				closeDrawer=(action 'closeDrawer')
				outsideSuggestionsClickAction=(action 'closeDrawer')
				loadRandomArticle=this.attrs.loadRandomArticle
				globalNavigation=this.attrs.globalNavigation
				goToSearchResults=this.attrs.goToSearchResults
				noScroll=true
				focusInput=true
			}}
		{{/if}}
	{{/wikia-drawer}}
	{{#unless shouldShowABTestBannerOnIOS}}
		{{smart-banner-android
			isVisible=smartBannerVisible
			toggleVisibility=attrs.toggleSmartBanner
		}}
	{{/unless}}
	<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
		{{outlet}}
	</div>
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
	{{wikia-in-your-lang}}
	{{#if globalFooter}}
		{{global-footer/global-footer model=globalFooter}}
	{{/if}}
{{/if}}
{{alert-notifications alerts=alertNotifications}}
{{wds-spinner active=isLoading}}
