{{#if contributionEnabled}}
	{{#wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImage}}
		{{article-contribution
			edit='edit'
			editAllowed=editAllowed
			editIconVisible=editIconVisible
			section=0
			title=model.displayTitle
		}}
	{{/wikia-ui-components/wiki-page-header}}
{{else}}
	{{wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImage}}
{{/if}}
<section class="article-body">
	{{#if featuredVideoVisible}}
		{{article-featured-video model=model.featuredVideo
								 toggleSiteHeadShadow=(action 'toggleSiteHeadShadow')}}
	{{/if}}

	{{ad-slot isAboveTheFold=true name='NATIVE_PAID_ASSET_DROP'}}
	{{#if model.fileThumbnail}}
		{{article-media-thumbnail
			height=model.fileThumbnail.height
			href=model.fileThumbnail.url
			itemContext='file'
			openLightbox=(action 'openLightbox' 'media' model.fileMedia)
			shouldBeLoaded=true
			title=model.fileThumbnail.title
			type=model.fileThumbnail.type
			url=model.fileThumbnail.url
			width=model.fileThumbnail.width
		}}
	{{/if}}
	{{article-content
		adsContext=model.adsContext
		content=model.content
		contributionEnabled=contributionEnabled
		displayEmptyArticleInfo=displayEmptyArticleInfo
		displayTitle=model.displayTitle
		edit=(action 'edit')
		editAllowed=editAllowed
		editIconVisible=editIconVisible
		heroImage=model.heroImage
		media=model.media
		openLightbox=(action 'openLightbox')
	}}
</section>
{{yield}}
{{! Keep the same server/app/views/_partials/article-footer/index.hbs }}
<section class="article-footer">
	{{wikia-users
		classes='contributors'
		users=model.topContributors
	}}
	{{#if showComments}}
		{{article-comments
			articleId=model.id
			commentsCount=model.comments
			page=commentsPage
		}}
	{{/if}}
	{{#if model.categories}}
		{{! Keep the same server/app/views/_partials/article-footer/categories.hbs }}
		{{#collapsible-menu
			observe=model.displayTitle
			ordered=false
			showMenuIcon=false
			tLabel='article.categories-list-label'
			trackingEvent='category-menu'
		}}
			{{#each model.categories as |category|}}
				<li class="mw-content" {{action 'trackClick' 'category-menu' 'open-category'}}>
					<a href="{{unbound category.url}}" title="{{unbound category.title}}">
						{{unbound category.title}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
	{{#if model.otherLanguages}}
		{{#collapsible-menu
			observe=model.displayTitle
			ordered=false
			showMenuIcon=false
			tLabel='article.other-languages'
		}}
			{{#each model.otherLanguages as |link|}}
				<li class="mw-content">
					<a href="{{unbound link.url}}" title="{{unbound link.title}}">
						{{unbound link.languageName}} | {{unbound link.articleTitle}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
</section>
