<div role="button" {{action 'toggleComments'}} class='show-comments-btn wds-font-size-s wds-font-weight-medium wds-text-transform-capitalize {{if isCollapsed 'collapsed'}}'>
	<span>{{i18n 'article.comments-label' count=commentsCount}}</span>
	{{wds-icon name='menu-control-tiny' size='tiny' class='chevron'}}
</div>
{{#if showComments}}
	{{#if commentsCount}}
		<button class='wds-button page-button prev-page-button {{unless prevButtonShown 'wds-is-hidden'}}' {{action 'prevPage'}}>
			{{i18n 'article-comments.prev-button'}}
		</button>
		<ul class='comments wds-font-size-xs {{if commentsHidden 'wds-is-hidden'}}'>
			{{#each model.comments as |comment|}}
				{{article-comment comment=comment users=model.users}}
			{{/each}}
		</ul>
		<button class='wds-button page-button {{unless nextButtonShown 'wds-is-hidden'}}' {{action 'nextPage'}}>
			{{i18n 'article-comments.next-button'}}
		</button>
	{{else}}
		<div class="comments__no-comments wds-font-size-s">
			{{svg 'wds-icons-reply' class='wds-icon comments__reply-icon'}}
			<div>{{i18n 'article-comments.no-comments'}}</div>
		</div>
	{{/if}}

	<div class='comments__add-comment'>
		{{#wds-button href='?useskin=oasis#WikiaArticleComments'}}{{i18n 'article-comments.add-comment'}}{{/wds-button}}

		<div class='comments__message wds-font-size-xs wds-font-style-italic wds-leading-tight'>{{i18n 'article-comments.desktop-warning'}}</div>
	</div>
{{/if}}
