{{! This wrapper is required so the chevron is positioned correctly }}
<div class="article-media-thumbnail-image-wrapper">
	{{svg 'wds-icons-image' role='img' class='wds-icon'}}
	{{#if isOgg}}
		<a href="{{href}}">{{svg 'wds-icons-download' viewBox='0 0 24 24' class='wds-icon'}}</a>
	{{else}}
		<a href="{{href}}">
			<img alt="{{title}}"
				 src="{{thumbnailUrl}}"
				 height="{{if forcedHeight forcedHeight height}}"
				 width="{{if forcedWidth forcedWidth width}}">
			{{#if isLinkedByUser}}
				{{svg 'wds-icons-menu-control' viewBox='0 0 12 12' class='wds-icon wds-icon-tiny wds-icons-tiny chevron'}}
			{{/if}}
		</a>
	{{/if}}

	{{#if isVideo}}
		<div class="article-media-thumbnail__play-icon">
			{{svg 'wds-player-icon-play' class='wds-player-icon-play-medium'}}
		</div>
	{{/if}}

</div>
{{! Allow custom captions }}
{{#if hasBlock}}
	{{yield}}
{{else}}
	{{#if hasFigcaption}}
		<figcaption>
			{{#if showTitle}}
				<div>{{title}}</div>
			{{/if}}
			{{{caption}}}
		</figcaption>
	{{/if}}
{{/if}}
