{{#if contributionEnabled}}
	{{#wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImageInHeader}}
		{{article-contribution
			edit=edit
			editAllowed=editAllowed
			editIconVisible=editIconVisible
			section=0
			title=model.displayTitle
		}}
	{{/wikia-ui-components/wiki-page-header}}
{{else}}
	{{wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImageInHeader}}
{{/if}}

{{#if hasFeaturedVideo}}
	{{article-featured-video
		model=model.featuredVideo
		hasPortableInfobox=model.hasPortableInfobox
	}}
{{/if}}

<section class="article-body">
	{{#if model.fileThumbnail}}
		{{article-media-thumbnail
			height=model.fileThumbnail.height
			href=model.fileThumbnail.url
			itemContext='file'
			mime=model.fileThumbnail.mime
			openLightbox=(action 'openLightbox' 'media' model.fileMedia)
			shouldBeLoaded=true
			title=model.fileThumbnail.title
			type=model.fileThumbnail.type
			url=model.fileThumbnail.url
			width=model.fileThumbnail.width
		}}
	{{/if}}
	{{#if smallHeroImage}}
		{{portable-infobox-hero-image-small
			heroImage=smallHeroImage
			openLightbox=(action 'openLightbox')
		}}
	{{/if}}
	{{article-content
		adsContext=model.adsContext
		content=model.content
		contributionEnabled=contributionEnabled
		displayEmptyArticleInfo=displayEmptyArticleInfo
		displayTitle=model.displayTitle
		edit=(action edit)
		editAllowed=editAllowed
		editIconVisible=editIconVisible
		featuredVideo=model.featuredVideo
		forceFeaturedVideoVisibility=(action 'forceFeaturedVideoVisibility')
		heroImage=heroImage
		media=model.media
		openLightbox=(action 'openLightbox')
	}}
</section>
{{yield}}
{{#if displayArticleWrapper}}
	<section class="article-footer">
		{{wikia-users
			users=model.topContributors
		}}
		{{#if showComments}}
			{{article-comments
				articleId=model.id
				commentsCount=model.comments
				page=commentsPage
			}}
		{{/if}}
		{{#if model.categories}}
			{{#collapsible-menu
				observe=model.displayTitle
				ordered=false
				showMenuIcon=false
				tLabel='article.categories-list-label'
				trackingEvent='category-menu'
				click=(action 'trackClick' 'category-menu' 'open-category')
				class="mw-content"
			}}
				{{#each model.categories as |category|}}
					<li>
						<a href="{{unbound category.url}}" title="{{unbound category.title}}">
							{{unbound category.title}}
							{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
						</a>
					</li>
				{{/each}}
			{{/collapsible-menu}}
		{{/if}}
	</section>
{{/if}}
