<div class="video-container{{unless isPlayerLoading ' player-ready'}}{{if isPlayed ' is-played'}}">
	{{wds-spinner active=isPlayerLoading overlay=false radius=27 strokeWidth=5}}
	<img src="{{model.url}}" class="video-thumbnail">
	<div {{action 'playVideo'}} class="video-placeholder">
		<div class="video-details">
			<div class="video-label">
				{{i18n 'article.video-watch'}}
				<span class="video-time">{{videoTime}}</span>
			</div>
			<div class="video-title">{{videoTitle}}</div>
		</div>
		<div class="video-play-circle">
			{{svg 'wds-icons-play-triangle' class='wds-icon wds-icon-small'}}
		</div>
	</div>
	<div class="video-close-button">
		{{svg 'wds-icons-cross' class='wds-icon wds-icon-small'}}
	</div>
	<div id="{{videoContainerId}}" class="ooyala-article-video"></div>
</div>
