{{#if this.hasThumbnail}}
  <a href={{@model.href}}>
    <img
      class="article-media-placeholder lazyload"
      alt={{@model.title}}
      src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 48 48' fill='%23fff' width='{{@model.width}}' height='{{@model.height}}'%3e%3cg fill-rule='evenodd'%3e%3cpath d='M3 4h18v8.737l-3.83-3.191a.916.916 0 0 0-1.282.108l-4.924 5.744-3.891-3.114a.92.92 0 0 0-1.146 0L3 14.626V4zm19-2H2a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h20a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z'/%3e%3cpath d='M9 10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2'/%3e%3c/g%3e%3c/svg%3e"
      data-src={{@model.thumbnailUrl}}
      data-srcset={{@model.srcset}}
      data-sizes="auto"
      height={{@model.height}}
      width={{@model.width}}
    >
    {{#if this.isVideo}}
      <div class="video-icon-container">
        {{svg "wds-player-icon-play" class="wds-player-icon-play-medium"}}
      </div>
    {{/if}}
  </a>
{{else}}
  <a href={{@model.href}}>
    <Icon @name="download" />
  </a>
{{/if}}

{{! Allow custom captions }}
{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if this.hasFigcaption}}
    <figcaption>
      {{#if this.showTitle}}
        <div>{{@model.title}}</div>
      {{/if}}
      {{{@model.caption}}}
    </figcaption>
  {{/if}}
{{/if}}
