<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
	<meta itemprop="name" content="{{metadata.name}}">
	<meta itemprop="duration" content="{{metadata.duration}}">
	<meta itemprop="description" content="{{metadata.description}}">
	<meta itemprop="thumbnailUrl" content="{{metadata.thumbnailUrl}}">
	<meta itemprop="contentURL" content="{{metadata.contentUrl}}">
	<meta itemprop="uploadDate" content="{{metadata.uploadDate}}">
	<div class="article-featured-video__on-scroll-video-wrapper">
		<div class="article-featured-video__video-content" style={{placeholderStyle}} id="{{videoContainerId}}"></div>
		{{article-featured-video-close
			onTap=(action 'dismissPlayer')
		}}
		<div class="article-featured-video__details">
			<div class="article-featured-video__label">
				{{t 'featured-video.watch'}}
				<span class="article-featured-video__time">{{videoDuration}}</span>
			</div>
			<div class="article-featured-video__title">{{currentVideoDetails.title}}</div>
		</div>
	</div>
	<div class="article-featured-video__on-scroll-placeholder"></div>
</div>
{{#if hasAttribution}}
	<div class="article-featured-video__attribution-container {{if hasPortableInfobox 'has-portable-infobox'}}">
		<div class="article-featured-video__attribution-inner-container">
			<a class="article-featured-video__attribution-link" href="{{currentVideoDetails.userUrl}}"
				 target="_blank" rel="noopener">
				<img class="article-featured-video__attribution-avatar" src="{{attributionAvatarUrl}}"
						 alt="{{currentVideoDetails.username}}">
				{{t 'featured-video.from'}}&nbsp;{{currentVideoDetails.username}}
				{{svg 'wds-icons-out-arrow-tiny'
							class='wds-icon wds-icon-tiny article-featured-video__attribution-icon'}}
			</a>
		</div>
	</div>
{{/if}}
