<div {{action "toggleComments"}}
  role="button"
  class="show-comments-btn wds-font-size-s wds-font-weight-medium wds-text-transform-capitalize {{if isCollapsed "collapsed"}}"
>
  <span>{{i18n "article.comments-label" count=commentsCount}}</span>
  <Icon @name="menu-control" @size="tiny" class="chevron" />
</div>
{{#if showComments}}
  {{#if isUcp}}
    <div id="articleComments"></div>
  {{else}}
    {{#if commentsCount}}
      <ul class="comments wds-font-size-xs {{if commentsHidden "wds-is-hidden"}}">
        {{#each comments as |comment|}}
          {{article-comment comment=comment users=users}}
        {{/each}}
      </ul>
      <div class="comments__navigation">
        <Button
          class="page-button prev-page-button"
          @onClick={{action "prevPage"}}
          @disabled={{this.prevButtonDisabled}}
          @secondary={{true}}
          @square={{true}}
        >
          <Icon @name="menu-control" @size="tiny" />
        </Button>

        <Button
          class="page-button next-page-button"
          @onClick={{action "nextPage"}}
          @disabled={{this.nextButtonDisabled}}
          @secondary={{true}}
          @square={{true}}
        >
          <Icon @name="menu-control" @size="tiny" />
        </Button>
      </div>
    {{else}}
      <div class="comments__no-comments wds-font-size-s">
        <Icon @name="comment" class="comments__reply-icon" />
        <div>{{i18n "article-comments.no-comments"}}</div>
      </div>
    {{/if}}
  {{/if}}

  <div class="comments__add-comment">
    <Button @href="?useskin=oasis#WikiaArticleComments">
      {{i18n "article-comments.add-comment"}}
    </Button>

    <div
      class="comments__message wds-font-size-xs wds-font-style-italic wds-leading-tight"
    >
      {{i18n "article-comments.desktop-warning"}}
    </div>
  </div>
{{/if}}
