<div class="video-container">
	<img src="{{model.url}}" class="video-thumbnail">
	<div {{action 'playVideo'}} class="video-placeholder">
		<div class="video-details">
			<div class="video-label">
				{{i18n 'article.video-watch'}}
				<span class="video-time"></span>
			</div>
			<div class="video-title"></div>
		</div>
		<div class="video-play-circle">
			{{svg 'wds-icons-play-triangle' class='wds-icon wds-icon-small'}}
		</div>
	</div>
	<div id="{{ videoContainerId }}" class="ooyala-article-video"></div>
</div>
