<div role="button" {{action 'toggleComments'}} class='show-comments-btn wds-font-size-s wds-font-weight-medium wds-text-transform-capitalize {{if isCollapsed 'collapsed'}}'>
  <span>{{i18n 'article.comments-label' count=commentsCount}}</span>
  {{wds-icon name='menu-control-tiny' size='tiny' class='chevron'}}
</div>
{{#if showComments}}
  {{#if commentsCount}}
    <ul class='comments wds-font-size-xs {{if commentsHidden 'wds-is-hidden'}}'>
      {{#each comments as |comment|}}
        {{article-comment comment=comment users=users}}
      {{/each}}
    </ul>
    <div class="comments__navigation">
      {{#wds-button
        class='page-button prev-page-button'
        click=(action 'prevPage')
        disabled=prevButtonDisabled
        secondary=true
        square=true
      }}
        {{wds-icon name='menu-control-tiny' size='tiny'}}
      {{/wds-button}}

      {{#wds-button
        class='page-button next-page-button'
        click=(action 'nextPage')
        disabled=nextButtonDisabled
        secondary=true
        square=true
      }}
        {{wds-icon name='menu-control-tiny' size='tiny'}}
      {{/wds-button}}
    </div>
  {{else}}
    <div class="comments__no-comments wds-font-size-s">
      {{wds-icon name='reply' class='comments__reply-icon'}}
      <div>{{i18n 'article-comments.no-comments'}}</div>
    </div>
  {{/if}}

  <div class='comments__add-comment'>
    {{#wds-button href='?useskin=oasis#WikiaArticleComments'}}{{i18n 'article-comments.add-comment'}}{{/wds-button}}

    <div class='comments__message wds-font-size-xs wds-font-style-italic wds-leading-tight'>{{i18n 'article-comments.desktop-warning'}}</div>
  </div>
{{/if}}
