<div {{action "toggleComments"}}
  role="button"
  class="show-comments-btn wds-font-size-s wds-font-weight-medium wds-text-transform-capitalize {{if isCollapsed "collapsed"}}"
>
  <span>{{i18n "article.comments-label" count=commentsCount}}</span>
  <Icon @name="menu-control" @size="tiny" class="chevron" />
</div>
{{#if showComments}}
  <div id="articleComments"></div>

  <div class="comments__add-comment">
    <Button @href="?useskin=oasis#WikiaArticleComments">
      {{i18n "article-comments.add-comment"}}
    </Button>

    <div
      class="comments__message wds-font-size-xs wds-font-style-italic wds-leading-tight"
    >
      {{i18n "article-comments.desktop-warning"}}
    </div>
  </div>
{{/if}}
