<div class="article-featured-video__container">
	{{! The 'article-featured-video__wrapper' element is needed here to fix an issue with background color while
	scrolling on iOS 9. }}
	<div class="article-featured-video__wrapper">
		{{wds-spinner active=isPlayerLoading overlay=false radius=27 strokeWidth=5}}
		<img src="{{model.url}}" class="article-featured-video__thumbnail" {{action 'playVideo'}}>
		<div {{action 'playVideo'}} class="article-featured-video__placeholder">
			<div class="article-featured-video__details">
				<div class="article-featured-video__label">
					Watch
					<span class="article-featured-video__time">{{videoTime}}</span>
				</div>
				<div class="article-featured-video__title">{{videoTitle}}</div>
			</div>
			<div class="article-featured-video__play-circle">
				{{#if isVideoDrawerVisible}}
					{{svg 'wds-icons-play-triangle' class='wds-icon wds-icon-tiny'}}
				{{else}}
					{{svg 'wds-icons-play-triangle' class='wds-icon wds-icon-small'}}
				{{/if}}
			</div>
		</div>
		<div class="article-featured-video__close-button" {{action 'closeVideoDrawer'}}>
			{{svg 'wds-icons-cross' class='wds-icon wds-icon-small'}}
		</div>
		<div id="{{videoContainerId}}" class="ooyala-article-video"></div>
	</div>
</div>
