<div class='metadata'>
	{{wds-avatar src=(unbound user.avatar) alt=userName}}
	<span class='username wds-font-size-xs wds-font-weight-medium'>
		{{#if user.url}}
			<a href='{{unbound user.url}}'>{{unbound userName}}</a>
		{{else}}
			{{unbound userName}}
		{{/if}}
	</span>
	<span class="separator">•</span>
	<span class="timestamp" title="{{timestamp-to-date comment.created}}">
		{{time-ago comment.created}}
	</span>
</div>
<div class='content wds-font-size-base wds-leading-loose wds-font-weight-light'>
	{{{comment.text}}}
	{{#if comment.comments}}
		{{#unless isExpanded}}
			{{#wds-button
					text=true
					click=(action 'toggleExpand')
					class='show-reply-btn'
			}}
				{{i18n 'article.replies-label' count=comment.comments.length}}
			{{/wds-button}}
		{{/unless}}

		<ul class='{{if isExpanded 'expanded'}}'>
			{{#each comment.comments as |comment|}}
				{{article-comment comment=comment users=users}}
			{{/each}}
		</ul>
	{{/if}}
</div>
