{{wikia-ui-components/wiki-page-header
  title=model.displayTitle
  subtitle=wikiPageHeaderSubtitle
  heroImage=heroImageInHeader
}}

{{#if hasFeaturedVideo}}
  {{article-featured-video
    model=model.featuredVideo
    hasPortableInfobox=model.hasPortableInfobox
  }}
{{/if}}

<section class="article-body">
  {{#if model.fileThumbnail}}
    {{article-media-thumbnail
      model=model.fileThumbnail
      shouldBeLoaded=true
    }}
  {{/if}}
  {{#if smallHeroImage}}
    {{portable-infobox-hero-image-small
      heroImage=smallHeroImage
    }}
  {{/if}}
  {{article-content
    adsContext=model.adsContext
    content=model.content
    displayEmptyArticleInfo=displayEmptyArticleInfo
    displayTitle=model.displayTitle
    featuredVideo=model.featuredVideo
    forceFeaturedVideoVisibility=(action "forceFeaturedVideoVisibility")
    heroImage=heroImage
    id=model.id
    media=model.media
    data-test-article-content=true
  }}
</section>
{{yield}}
{{#if displayArticleWrapper}}
  <section class="article-footer">
    <div class="article-information-header">
      <h2
        class="wds-font-size-base wds-font-weight-bold wds-text-transform-uppercase wds-midlight-navy"
      >
        {{i18n "article.article-information"}}
      </h2>
    </div>
    {{wikia-users
      users=model.topContributors
      class="article-footer-item"
    }}
    {{#if showComments}}
      {{article-comments
        articleId=model.id
        commentsCount=model.comments
        page=commentsPage
        class="article-footer-item"
      }}
    {{/if}}
    {{#if model.categories}}
      {{#collapsible-menu
        observe=model.displayTitle
        ordered=false
        tLabel="article.categories-list-label"
        trackingEvent="category-menu"
        click=(action "trackClick" "category-menu" "open-category")
        class="article-categories-list article-footer-item mw-content"
      }}
        {{#each model.categories as |category|}}
          <li>
            <a
              href={{category.url}}
              title={{category.title}}
              class="wds-font-size-s wds-text-transform-capitalize wds-leading-loose"
            >
              {{category.title}}
            </a>
          </li>
        {{/each}}
      {{/collapsible-menu}}
    {{/if}}
    {{#if model.languageLinks}}
      {{#collapsible-menu
        observe=model.displayTitle
        ordered=false
        tLabel="article.language-links-label"
        trackingEvent="language-links"
        class="article-language-links-list article-footer-item"
      }}
        {{#each model.languageLinks as |lang|}}
          <li>
            <a
              href={{lang.href}}
              title={{lang.text}}
              class="wds-font-size-s wds-text-transform-capitalize wds-leading-loose"
            >
              {{lang.text}}
            </a>
          </li>
        {{/each}}
      {{/collapsible-menu}}
    {{/if}}
    <div class="license-description wds-font-size-s wds-leading-tight">
      {{{i18n "license-description" ns="design-system" license=(wrap-me wikiVariables.licenseText tagName="a" href=wikiVariables.licenseUrl className="wds-font-weight-medium")}}}
    </div>
  </section>
{{/if}}
