{{#each @model as |group|}}
  <h3
    class="category-members-grouped__first-char{{if group.isCollapsed " is-collapsed"}}"
    role="button"
    onclick={{action "toggleGroup" group}}
  >
    {{group.firstChar}}
    <Icon @name="menu-control" @size="tiny" class="chevron" />
  </h3>
  <ul
    onclick={{action "trackClick" "category-page" "open-link"}}
    class="category-members-grouped__members-for-char wds-has-big-items wds-list mw-content"
  >
    {{#each group.members as |member|}}
      <li class="category-members-grouped__member">
        <div class="category-members-grouped__member-left">
          {{#if member.isCategory}}
            <Icon @name="pages" @size="small" />
          {{else if member.image}}
            <img
              class="category-members-grouped__member-thumbnail lazyload"
              alt={{member.title}}
              data-src={{member.image}}
              src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 48 48' fill='%23fff' width='44' height='44'%3e%3cg fill-rule='evenodd'%3e%3cpath d='M3 4h18v8.737l-3.83-3.191a.916.916 0 0 0-1.282.108l-4.924 5.744-3.891-3.114a.92.92 0 0 0-1.146 0L3 14.626V4zm19-2H2a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h20a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z'/%3e%3cpath d='M9 10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2'/%3e%3c/g%3e%3c/svg%3e"
            >
            {{!-- Chrome downloads all images on load instead of lazily if we render noscript with JS --}}
            {{!-- Probably somehow related to the lazysizes lib that we use --}}
            {{#if this.fastboot.isFastBoot}}
              <noscript>
                <img
                  class="category-members-grouped__member-thumbnail"
                  alt={{member.title}}
                  src={{member.image}}
                >
              </noscript>
            {{/if}}
          {{/if}}
        </div>
        <a
          class="category-members-grouped__member-link"
          href={{member.url}}
        >
          {{member.title}}
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div>{{i18n "category-page.no-members"}}</div>
{{/each}}
