{{#if prevPage}}
	<div class="category-navigation">
		{{wds-spinner
			active=true
			overlay=false
			radius=16
			strokeWidth=2
		}}
		<a href="{{prevPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button category-navigation__prev" {{action 'loadPage' prevPage 'previous'}}>
			{{i18n 'category-page.load-previous'}}
		</a>
	</div>
{{/if}}
{{#each-in membersGrouped as |firstLetter members|}}
	<div>
		<h3>{{firstLetter}}</h3>
		<ul class="category-members-grouped__list wds-has-big-items wds-list mw-content" onclick={{action 'trackClick' 'category-page' 'open-link'}}>
			{{#each members as |category|}}
				<li class="{{if category.isCategory 'category-members-grouped__subcategory'}}">
					<a href="{{category.url}}">{{category.title}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
{{else}}
	<div>{{i18n 'category-page.no-members'}}</div>
{{/each-in}}
{{#if nextPage}}
	<div class="category-navigation">
		{{wds-spinner
			active=true
			overlay=false
			radius=16
			strokeWidth=2
		}}
		<a href="{{nextPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button category-navigation__next" {{action 'loadPage' nextPage 'next'}}>
			{{i18n 'category-page.load-more'}}
		</a>
	</div>
{{/if}}
{{alert-notifications alerts=alertNotifications}}
