{{#each-in membersGrouped as |firstLetter members|}}
  <div>
    <h3>{{firstLetter}}</h3>
    <ul
      onclick={{action "trackClick" "category-page" "open-link"}}
      class="category-members-grouped__list wds-has-big-items wds-list mw-content"
    >
      {{#each members as |category|}}
        <li
          class={{if category.isCategory "category-members-grouped__subcategory"}}
        >
          {{#if category.isCategory}}
            {{svg "wds-icons-pages-small" class="wds-icon wds-icon-small"}}
          {{/if}}
          <a href={{category.url}}>{{category.title}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div>{{i18n "category-page.no-members"}}</div>
{{/each-in}}
