<h2 class="category-page__total-number">
  {{i18n
    "category-page.total-number"
    totalNumberOfItems=@model.totalNumberOfMembers
  }}
</h2>
<CategoryAlphabetShortcuts @from={{@from}} @loadFrom={{action "loadFrom"}} />
{{#if this.isLoading}}
  <Spinner
    @active={{this.isLoading}}
    @block={{true}}
    @overlay={{false}}
  />
{{else}}
  <CategoryMembersGrouped @model={{@model.members}} />
  {{#if @model.hasPagination}}
    <CategoryPagination @loadFrom={{action "loadFrom"}} @model={{@model.pagination}} />
  {{/if}}
{{/if}}
<AlertNotifications @alerts={{this.alertNotifications}} />
