{{#if @model.firstPageUrl}}
  <a {{on "click" (fn @loadFrom null "first")}}
    href={{@model.firstPageUrl}}
    class="wds-button wds-is-text"
  >
    {{i18n "category-page.pagination-first"}}
  </a>
{{/if}}
{{#if @model.prevPageUrl}}
  <a {{on "click" (fn @loadFrom (if @model.isPrevPageTheFirstPage null @model.prevPageKey) "prev")}}
    href={{@model.prevPageUrl}}
    class="category-pagination__prev wds-button wds-is-secondary"
  >
    <Icon @name="menu-control" @size="tiny" />
  </a>
{{/if}}
{{#if @model.nextPageUrl}}
  <a {{on "click" (fn @loadFrom @model.nextPageKey "next")}}
    href={{@model.nextPageUrl}}
    class="category-pagination__next wds-button wds-is-secondary"
  >
    <Icon @name="menu-control" @size="tiny" />
  </a>
{{/if}}
{{#if @model.lastPageUrl}}
  <a {{on "click" (fn @loadFrom @model.lastPageKey "last")}}
    href={{@model.lastPageUrl}}
    class="wds-button wds-is-text"
  >
    {{i18n "category-page.pagination-last"}}
  </a>
{{/if}}
