<div {{action "toggleMenu"}}
  role="button"
  class="{{if isCollapsed "collapsed"}} title wds-font-size-s wds-font-weight-medium"
>
  <span>{{i18n tLabel count=tCount}}</span>
  <Icon @name="menu-control" @size="tiny" class="chevron" />
</div>
{{#if ordered}}
  <ol>
    {{yield}}
  </ol>
{{else}}
  <ul>
    {{yield}}
  </ul>
{{/if}}
