<div {{on "click" this.toggleMenu}}
  role="button"
  class="{{if this.isCollapsed "collapsed"}} title wds-font-size-s wds-font-weight-medium"
>
  <span>{{i18n @tLabel count=this.tCount}}</span>
  <Icon @name="menu-control" @size="tiny" class="chevron" />
</div>
{{#if @ordered}}
  <ol>
    {{yield}}
  </ol>
{{else}}
  <ul>
    {{yield}}
  </ul>
{{/if}}
