<div role="button" {{action 'toggleMenu'}} class="{{if isCollapsed 'collapsed'}} title">
	<span>{{i18n tLabel count=tCount}}</span>
	{{svg 'wds-icons-menu-control-tiny' viewBox='0 0 12 12' class='wds-icon wds-icon-tiny'}}
</div>
{{#if ordered}}
	<ol>
		{{yield}}
	</ol>
{{else}}
	<ul>
		{{yield}}
	</ul>
{{/if}}
