<div
  class="curated-content-section {{unless @shouldBeVisible "wds-is-hidden"}}"
>
  {{#if @model.items}}
    {{#if @model.label}}
      <div class="curated-content-section__header">
        <a {{action @closeSection}}
          href="#"
          class="curated-content-section__back wds-font-style-italic"
        >
          <Icon @name="arrow" @size="small" role="img" />
          {{i18n "navigation.back-label"}}
        </a>
        <h2>{{@model.label}}</h2>
      </div>
    {{/if}}
    <div class="curated-content-items">
      {{#each @model.items as |item index|}}
        <CuratedContentItem @index={{index}} @model={{item}} @openSection={{@openSection}} />
      {{/each}}
    </div>
  {{/if}}
</div>

