<figure class="item-figure">
  <div class="item-image" style={{this.style}}>
    {{#unless this.imageLoaded}}
      <Icon @name="image" />
    {{/unless}}
    <img
      src={{this.thumbUrl}}
      alt={{@model.label}}
      onload={{fn (mut this.imageLoaded) true}}
    >
  </div>
  <figcaption class="item-figcaption">
    <div class="item-caption-row">
      <div
        class="item-caption label wds-font-size-s wds-font-weight-bold wds-leading-none"
      >
        <div class="item-caption clamp">{{truncate @model.label 48}}</div>
      </div>
      <div class="item-caption grid-icon">
        <div class="grid-icon-container">
          {{svg this.icon role="img" viewBox="0 0 22 22"}}
        </div>
      </div>
    </div>
  </figcaption>
</figure>
