{{#if model.items}}
	{{#if model.label}}
		<div class="curated-content-section__header">
			<a href="#" class="curated-content-section__back" {{action closeSection}}>
				{{svg 'wds-icons-arrow-small' role='img' class='wds-icon wds-icon-small'}}
				{{i18n 'navigation.back-label'}}
			</a>
			<h2>{{model.label}}</h2>
		</div>
	{{/if}}
	<div class="curated-content-items">
		{{#each model.items as |item index|}}
			{{curated-content-item
				index=index
				model=item
				openSection=openSection
			}}
		{{/each}}
	</div>
{{/if}}
