<div class="fandom-app-smart-banner__close" role="button" {{action "close"}}>
  {{svg "wds-icons-cross" class="wds-icon wds-icon-small"}}
</div>
<a href={{linkUrl}} class="fandom-app-smart-banner__link">
  <div class="fandom-app-smart-banner__info">
    <img
      alt="fandom app icon"
      class="fandom-app-smart-banner__icon"
      src="{{imageUrl}}"
    >
    <div class="fandom-app-smart-banner__meta">
      <div
        class="fandom-app-smart-banner__title wds-font-size-base wds-font-weight-bold"
      >
        {{title}}
      </div>
        <span
          class="fandom-app-smart-banner__description wds-font-size-s wds-leading-none"
        >
          {{text}}
        </span>
    </div>
  </div>
  <div
    class="fandom-app-smart-banner__install wds-font-size-base wds-font-weight-medium"
  >
    {{linkText}}
  </div>
</a>
