<div class="smart-banner__close" role="button" {{on "click" this.close}}>
  <Icon @name="close" @size="small" />
</div>
<a href={{this.link}} class="smart-banner__link">
  <div class="smart-banner__info">
    <img
      alt="fandom app icon"
      class="smart-banner__icon"
      src="https://services.wikia.com/static-assets/image/28423c7b-dae5-4b5e-bfba-a779f4f57eb0"
    >
    <div class="smart-banner__meta">
      <div
        class="smart-banner__title wds-font-size-base wds-font-weight-bold"
      >
        FANDOM
      </div>
      {{#if this.customText}}
        <span
          class="smart-banner__description wds-font-size-s wds-leading-none"
        >
          {{this.customText}}
        </span>
      {{else}}
        <span
          class="smart-banner__description wds-font-size-s wds-leading-none"
        >
          Get it free at the
        </span>
        <span class="smart-banner__store wds-font-size-s wds-leading-none">{{this.storeName}}</span>
      {{/if}}
    </div>
  </div>
  <div
    class="smart-banner__install wds-font-size-base wds-font-weight-medium"
  >
    {{i18n "smartbanner.install-android"}}
  </div>
</a>
