<div class="fandom-app-smart-banner__close" role="button" {{action 'close'}}>
	{{svg 'wds-icons-cross' class='wds-icon wds-icon-small'}}
</div>
<a href="{{link}}" class="fandom-app-smart-banner__link">
	<div class="fandom-app-smart-banner__info">
		<img alt="fandom app icon" class="fandom-app-smart-banner__icon"
			 src="https://services.wikia.com/static-assets/image/28423c7b-dae5-4b5e-bfba-a779f4f57eb0">
		<div class="fandom-app-smart-banner__meta">
			<div class="fandom-app-smart-banner__title">FANDOM</div>
			<span class="fandom-app-smart-banner__description">Get it free at the</span>
			<span class="fandom-app-smart-banner__store">{{storeName}}</span>
		</div>
	</div>
	<div class="fandom-app-smart-banner__install">{{t 'smartbanner.install-android'}}</div>
</a>
