{{#if type}}
	<div class="lightbox-header {{if headerHidden 'wds-is-hidden'}}">
		<div class="lightbox-close-wrapper">
			{{#if closeButtonHidden}}
				{{lightboxCloseButtonDelay}}
			{{else}}
				{{svg 'wds-icons-cross' role='img' class='wds-icon wds-icon-small lightbox-close-button'}}
			{{/if}}
		</div>
		<div class="lightbox-header-title">{{header}}</div>
	</div>
	<div class="lightbox-content">
		{{component lightboxComponent
			model=model
			lightboxCloseButtonDelay=lightboxCloseButtonDelay
			setFooter=(action 'setFooter')
			setHeader=(action 'setHeader')
			setCloseButtonHidden=(action 'setCloseButtonHidden')
		}}
		{{#if footer}}
			<div class="lightbox-footer wds-font-size-s {{if footerHidden 'wds-is-hidden'}}">
				{{#if footerHead}}
					<div class="lightbox-footer-head wds-font-weight-bold wds-leading-normal">{{footerHead}}</div>
				{{/if}}
				<div class="lightbox-footer-content mw-content wds-font-weight-normal wds-leading-tight {{if footerExpanded 'expanded'}}">
					{{footer}}
				</div>
			</div>
		{{/if}}
	</div>
{{/if}}
