{{#if type}}
  <div class="lightbox-header {{if uiHidden "wds-is-hidden"}}">
    <div class="lightbox-close-wrapper">
      {{#if closeButtonHidden}}
        {{lightboxCloseButtonDelay}}
      {{else}}
        <Icon @name="close" @size="small" role="img" class="lightbox-close-button" />
      {{/if}}
    </div>
    <div class="lightbox-header-title">{{header}}</div>
  </div>
  <div class="lightbox-content">
    {{component
      lightboxComponent
      model=model
      lightboxCloseButtonDelay=lightboxCloseButtonDelay
      setFooter=(action "setFooter")
      setHeader=(action "setHeader")
      setCloseButtonHidden=(action "setCloseButtonHidden")
      setThumbnails=(action "setThumbnails")
      updateGalleryRef=(action "updateGalleryRef")
    }}
  </div>

  <div class="lightbox-footer wds-font-size-s {{if uiHidden "wds-is-hidden"}}">
    {{#if footerHead}}
      <div class="lightbox-footer-head wds-font-weight-bold wds-leading-normal">{{footerHead}}</div>
    {{/if}}
    <div class="lightbox-footer-content-wrapper">
      <div
        class="lightbox-footer-content mw-content wds-font-weight-normal wds-leading-tight {{if footerExpanded "expanded"}}"
      >
        {{footer}}
      </div>
      {{#if footerLink}}
        <div class="lightbox-footer-link">
          <a href={{footerLink}}>
            <Icon @name="link" @size="small" />
          </a>
        </div>
      {{/if}}
    </div>
    {{#if displayFilmstrip}}
      <LightboxFilmstrip @thumbnails={{thumbnails}} @activeThumbnailRef={{model.galleryRef}} @class={{if uiHidden "lightbox-filmstrip-hidden" ""}} />
    {{/if}}
  </div>
{{/if}}
