{{#if type}}
	<div class="lightbox-header {{if headerHidden 'wds-is-hidden'}}">
		<div class="lightbox-close-wrapper">
			{{svg 'wds-icons-cross-tiny' role='img' class='wds-icon wds-icon-tiny lightbox-close-button'}}
		</div>
		<div class="lightbox-header-title">{{header}}</div>
	</div>
	<div class="lightbox-content">
		{{component lightboxComponent
			model=model
			setFooter=(action 'setFooter')
			setHeader=(action 'setHeader')
		}}
	</div>
	{{#if footer}}
		<div class="lightbox-footer mw-content wds-font-weight-light {{if footerExpanded 'expanded'}} {{if footerHidden 'wds-is-hidden'}}">{{footer}}</div>
	{{/if}}
{{/if}}
