<figure class="pi-hero-small">
	<a href="{{heroImage.url}}">
		<img class="article-media-placeholder"
				 src="{{imageSrc}}"
				 height="{{heroImageHelper.computedHeight}}"
				 width="{{maxWidth}}"
				 alt="{{heroImage.title}}">
	</a>
</figure>
