{{{infoboxHTML}}}
{{#if isLongInfobox}}
	<div role="button" class={{expandButtonClass}} {{action "toogleInfobox"}}>
		<span class="wds-text-transform-uppercase wds-font-weight-bold wds-font-size-s wds-line-height-xs">{{buttonLabel}}</span>{{wds-icon name='menu-control' size='tiny' class='chevron'}}
	</div>
{{/if}}
