<div class="pi-item pi-data pi-item-spacing pi-border-color">
	<h3 class="pi-data-label pi-secondary-font">{{i18n 'article.portable-infobox-image'}}</h3>
	<div class="pi-data-value pi-font">
		<figure>
			<a href="{{heroImage.url}}"
				 class="pi-hero-small"
				{{action openLightbox 'image' value='heroImage.url' bubbles=false}}>
				<img class="article-media-placeholder"
						 src="{{imageSrc}}"
						 height="{{heroImageHelper.computedHeight}}"
						 width="{{maxWidth}}"
						 alt="{{heroImage.title}}">
			</a>
		</figure>
	</div>
</div>
