<aside class="portable-infobox pi{{if this.collapsed " collapsed"}}">
  {{{@infoboxHTML}}}
</aside>
{{#if this.isLongInfobox}}
  <div role="button" class={{this.expandButtonClass}} {{on "click" this.toggleInfobox}}>
    <span
      class="wds-text-transform-uppercase wds-font-weight-bold wds-font-size-s wds-leading-none"
    >
      {{this.buttonLabel}}
    </span>
    <Icon @name="menu-control" @size="tiny" class="chevron" />
  </div>
{{/if}}
