{{#if isEnabled}}
  <aside class="post-search-results">
    <header class="post-search-results__header">
      <div class="post-search-results__header-text wds-midlight-navy">
        <Icon @name="comment" @size="small" />
        {{{i18n "main.search-post-items-header" ns="search"}}}
      </div>
      {{#if seeMoreButtonEnabled}}
        <Button
          @href={{seeMoreUrl}}
          @text={{true}}
          class="post-search-results__see-more"
          onclick={{action "trackMoreClick"}}
        >
          <span>{{{i18n "main.search-post-items-see-more" ns="search"}}}</span>
          <Icon @name="arrow" @size="tiny" />
        </Button>
      {{/if}}
    </header>
    {{#if isLoading}}
      <Spinner
        @active={{true}}
        @block={{true}}
        @overlay={{false}}
        @radius={{24}}
        @strokeWidth={{2}}
        class="post-search-results__loading"
      />
    {{else}}
      <div class="post-search-results__items">
        {{#each posts as |post index|}}
          {{#if (equal post.type "affiliate")}}
            {{post-search-results-affiliate-item
              affiliateUnit=unit
              postIndex=index
              setHasAffiliateUnit=setHasAffiliateUnit
            }}
          {{else}}
            {{post-search-results-item post=post postIndex=index}}
          {{/if}}
        {{else}}
          <div class="post-search-results__no-posts">
            {{{i18n "main.search-post-item-no-posts" ns="search"}}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </aside>
  <div class="post-search-results__slant"></div>
{{/if}}
