{{#if @affiliateUnit.image}}
  <img class="post-search-results-affiliate-item__image" src={{@affiliateUnit.image}} alt={{@affiliateUnit.heading}}>
{{/if}}
<a
  href={{this.getUnitLink}}
  class="post-search-results-affiliate-item__title wds-leading-tight"
  rel="noopener sponsored"
  {{on "click" (fn this.trackClick @postIndex @affiliateUnit)}}
>
  {{@affiliateUnit.heading}}
</a>
<div class="post-search-results-affiliate-item__details">
  {{@affiliateUnit.subheading}}
  <Icon class="post-search-results-affiliate-item__icon" @name="external" @size="tiny" />
</div>
