{{#if isEnabled}}
  <aside class="post-search-results">
    <header class="post-search-results__header">
      <div class="post-search-results__header-text wds-midlight-navy">
        <Icon @name="comment" @size="small" />
        {{{i18n "main.search-post-items-header" ns="search"}}}
      </div>
      {{#if isNotCrossWiki}}
        <Button
          @href={{feedsUrl}}
          @text={{true}}
          class="post-search-results__see-more"
        >
          <span>{{{i18n "main.search-post-items-see-more" ns="search"}}}</span>
          <Icon @name="arrow" @size="tiny" />
        </Button>
      {{/if}}
    </header>
    {{#if isLoading}}
      <Spinner
        @active={{true}}
        @block={{true}}
        @overlay={{false}}
        @radius={{24}}
        @strokeWidth={{2}}
        class="post-search-results__loading"
      />
    {{else}}
      {{#each posts as |post|}}
        {{post-search-results-item post=post}}
      {{else}}
        <div class="post-search-results__no-posts">
          {{{i18n "main.search-post-item-no-posts" ns="search"}}}
        </div>
      {{/each}}
    {{/if}}
  </aside>
{{/if}}
