<div style="border:1px solid #aaa;padding:15px;margin:15px;">
  <a href={{affiliateUnit.link}}>{{affiliateUnit.heading}}</a>
  <div>{{affiliateUnit.subheading}}</div>
  <img src={{affiliateUnit.image}} alt={{affiliateUnit.heading}}>
</div>

{{!-- heading: "Wikia"
image: "https://vignette.wikia.nocookie.net/central/images/b/bc/Wiki.png/revision/latest?cb=20180423162614"
link: "https://fandom.com"
name: "fandom-com2"
priority: 1
subheading: "Ye old times" --}}