{{#if this.displayTopArticles}}
  <div class="recirculation-prefooter__wiki-articles">
    <header
      class="recirculation-prefooter__wiki-articles-header wds-leading-normal wds-font-size-base wds-font-weight-bold wds-text-transform-uppercase"
    >
      {{i18n "recirculation.popular-wiki-articles-header" wikiName=this.wikiName}}
    </header>
    <ul class="recirculation-prefooter__wiki-articles-list">
      {{#each this.topArticles as |article index|}}
        <li {{action "articleClick" article.title (sum index 1)}}
          class="recirculation-prefooter__wiki-article"
        >
          <span
            class="recirculation-prefooter__wiki-article-circle wds-font-size-l wds-font-weight-bold wds-leading-none"
          >
            {{sum index 1}}
          </span>
          <span
            class="recirculation-prefooter__wiki-article-title wds-font-weight-medium"
          >
            {{article.title}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if this.displaySponsoredContent}}
  <ul class="recirculation-prefooter__list">
    <li
      class="recirculation-prefooter__item is-sponsored"
      style={{concat-background this.sponsoredItemThumbnail}}
    >
      <a href={{this.sponsoredItem.url}} class="recirculation-prefooter__item-anchor" {{action "sponsoredContentClick" this.sponsoredItem preventDefault=false}}>
        <p class="recirculation-prefooter__title wds-font-size-base wds-font-weight-bold wds-leading-tight">
          {{this.sponsoredItem.title}}
        </p>
        {{#if this.sponsoredItem.attribution}}
          <p class="recirculation-prefooter__subtitle wds-font-size-s wds-font-weight-medium wds-leading-tight">
            {{this.sponsoredItem.attributionLabel}} {{this.sponsoredItem.attribution}}
          </p>
        {{/if}}
      </a>
    </li>
  </ul>
  {{#if this.sponsoredItem.pixelContent}}
    <TrackingPixel @pixelContent={{this.sponsoredItem.pixelContent}} @pixelType={{this.sponsoredItem.pixelType}} />
  {{/if}}
{{/if}}

<ul class="recirculation-prefooter__list">
  {{#each this.items as |post index|}}
    <li
      class="recirculation-prefooter__item"
      style={{concat-background post.thumbnail}}
    >
      {{#unless post.thumbnail}}
        <div class="recirculation-prefooter__placeholder">
          {{svg "wds-company-logo-fandom-heart"}}
        </div>
      {{/unless}}
      <a {{action "postClick" post index preventDefault=true}}
        href={{post.url}}
        class="recirculation-prefooter__item-anchor"
      >
        <p
          class="recirculation-prefooter__title wds-font-size-base wds-font-weight-bold wds-leading-tight"
        >
          {{post.title}}
        </p>
        <p
          class="recirculation-prefooter__subtitle wds-font-size-s wds-font-weight-medium wds-leading-tight"
        >
          {{post.site_name}}
        </p>
        {{#if post.presented_by}}
          <span
            class="recirculation-prefooter__badge-sponsored wds-font-size-xs wds-font-weight-bold"
          >
            Sponsored
          </span>
        {{/if}}
      </a>
    </li>
  {{/each}}
</ul>
