{{#if items.length}}
	<h3>{{i18n 'recirculation.trending-fandom-articles'}}</h3>
	<ul class="recirculation-prefooter__list">
		{{#each items as |post index|}}
			<li class="recirculation-prefooter__item" {{action 'postClick' post index preventDefault=true}}>
				<!--This 'a' tag is required by liftigniter's js lib in order to properly set tracking for elements-->
				<a href="#" class="recirculation-prefooter__item-anchor">
					<div class="recirculation-prefooter__item-thumbnail">
						<img src="{{post.thumbnail}}" alt="{{post.title}}">
						{{#if post.isVideo}}
							<img src="http://vignette.wikia.nocookie.net/6857d275-0eb0-4e97-9401-3d23da474ed0"
								 class="recirculation-prefooter__item-is-video">
						{{/if}}
					</div>
					{{#if post.isPlista}}
						<a {{action 'adChoiceBadgeClick' post preventDefault=true}}
								class="recirculation-prefooter__badge
							recirculation-prefooter__badge-plista" href="#">
							<img src="http://static.plista.com/images/powered_by_plista_logo.png">
						</a>
					{{/if}}
					{{#if post.presented_by}}
						<span class="recirculation-prefooter__badge recirculation-prefooter__badge-sponsored">Sponsored</span>
					{{/if}}
					<p class="recirculation-prefooter__title">{{post.title}}</p>
				</a>
			</li>
		{{/each}}
	</ul>
{{/if}}
