{{#if model.posts.length}}
	<h3>{{model.title}}</h3>
	<ul class="thumbnails">
		{{#each model.posts as |post|}}
			<li class="title-thumbnail" {{action 'trackExperimentClick' item.url preventDefault=(if externalLink true false)}}>
				<a href="{{post.url}}">
					<div class="image image-thumbnail">
							{{#if post.image_url }}
								<img src="{{post.image_url}}" alt="{{post.title}}">
						{{/if}}
					</div>
					<p class="title">{{post.title}}</p>
				</a>
			</li>
		{{/each}}
	</ul>
{{/if}}

{{#if isLoading}}
	{{wds-spinner active=isLoading }}
{{/if}}
