<header>
  <h2 class="wds-font-size-xs">
    <span>FANDOM</span><span class="wds-font-weight-light">VIDEO</span>
  </h2>
  <div class="recommended-video__close" {{action "close"}}>
    <Icon @name="close" @size="tiny" />
  </div>
</header>
{{#if this.isClickToPlay}}
  <div class="recommended-video__playlist-thumbnail" {{action "play"}}>
    <img src={{this.playlistItems.0.image}} alt={{this.playlistItems.0.title}}>
    {{svg "wds-player-icon-play" class="wds-player-icon-play-tiny"}}
  </div>
{{/if}}
<div class="recommended-video__player">
  <div id="recommended-video-player"></div>
</div>
<div class="recommended-video__container">
  <div
    class="recommended-video__title wds-font-size-s wds-font-weight-bold" {{action "play"}}
  >
    {{this.playlistItem.title}}
  </div>
  <h3 class="recommended-video__upnext wds-font-size-s wds-font-weight-normal">
    Up Next
  </h3>
  <ul class="recommended-video__playlist">
    {{#each this.playlistItems as |item index|}}
      <li {{action "play" index}}
        class={{if (equal this.playlistItem.mediaid item.mediaid) "current"}}
      >
        <div class="recommended-video__playlist-thumbnail">
          <img src={{item.image}} alt={{item.title}}>
          {{svg "wds-player-icon-play" class="wds-player-icon-play-tiny"}}
        </div>
        <div class="recommended-video__playlist-title wds-font-weight-bold">
          {{item.title}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
