<header>
	<h2>
		<span>FANDOM</span><span>VIDEO</span>
	</h2>
	<div class="recommended-video__close" {{action 'close'}}>
		{{svg 'wds-icons-cross-tiny' class='wds-icon wds-icon-tiny'}}
	</div>
</header>
{{#if isClickToPlay}}
	<div class="recommended-video__playlist-thumbnail" {{action 'play'}}>
		<img src="{{playlistItems.0.image}}" alt="{{playlistItems.0.title}}">
		{{svg 'wds-player-icon-play' class='wds-player-icon-play-tiny'}}
	</div>
{{/if}}
<div class="recommended-video__player">
	<div id="recommended-video-player"></div>
</div>
<div class="recommended-video__container">
	<div class="recommended-video__title" {{action 'play'}}>{{playlistItem.title}}</div>
	<h3 class="recommended-video__upnext">
		Up Next
	</h3>
	<ul class="recommended-video__playlist">
		{{#each playlistItems as |item index|}}
			<li class="{{if (equal playlistItem.mediaid item.mediaid) 'current'}}" {{action 'play' index}}>
				<div class="recommended-video__playlist-thumbnail">
					<img src="{{item.image}}" alt="{{item.title}}">
					{{svg 'wds-player-icon-play' class='wds-player-icon-play-tiny'}}
				</div>
				<div class="recommended-video__playlist-title">
					{{item.title}}
				</div>
			</li>
		{{/each}}
	</ul>
</div>
