{{#if isFandomAppSmartBannerVisible}}
  {{fandom-app-smart-banner
    isVisible=smartBannerVisible
  }}
{{/if}}
{{#if isCustomSmartBannerVisible}}
  {{custom-smart-banner
    isVisible=smartBannerVisible
  }}
{{/if}}
<div class="site-head-wrapper">
  <GlobalNavigation
    @model={{this.globalNavigation}}
    @sitename={{this.communityHeader.sitename}}
    @showSearchScope={{this.showSearchScope}}
    @defaultSearchScope={{this.defaultSearchScope}}
    @canShowContentRecommendations={{this.canShowContentRecommendations}}
    @track={{action this.track}}
    @onModalOpen={{action this.onModalOpen}}
    @onSearchSuggestionChosen={{action this.onSearchSuggestionChosen}}
    @onSearchSuggestionsImpression={{action this.onSearchSuggestionsImpression}}
    @goToSearchResults={{action this.goToSearchResults}}
  />
</div>
<BannerNotifications />
{{! It's not available on language wikis index }}
{{#if communityHeader}}
  <CommunityBar
    @model={{this.communityHeader}}
    @track={{action this.track}}
    @onLinkClicked={{action this.onLinkClicked}}
  />
{{/if}}
