{{#if isFandomAppSmartBannerVisible}}
  {{fandom-app-smart-banner
    isVisible=smartBannerVisible
  }}
{{/if}}
{{#if isCustomSmartBannerVisible}}
  {{custom-smart-banner
    isVisible=smartBannerVisible
  }}
{{/if}}
<div class="site-head-wrapper">
  {{wds-global-navigation
    model=globalNavigation
    sitename=communityHeader.sitename
    canShowContentRecommendations=canShowContentRecommendations
    track=(action track)
    onSearchSuggestionChosen=(action onSearchSuggestionChosen)
    goToSearchResults=(action goToSearchResults)
  }}
</div>
{{wds-banner-notifications}}
{{wds-community-bar
  model=communityHeader
  track=(action track)
  onLinkClicked=(action onLinkClicked)
}}
