{{#if this.isFandomAppSmartBannerVisible}}
  <FandomAppSmartBanner @isVisible={{this.smartBannerVisible}} />
{{/if}}
{{#if this.isCustomSmartBannerVisible}}
  <CustomSmartBanner @isVisible={{this.smartBannerVisible}} />
{{/if}}
<div class="site-head-wrapper">
  <GlobalNavigation
    @model={{this.globalNavigation}}
    @sitename={{this.communityHeader.sitename}}
    @canShowContentRecommendations={{this.canShowContentRecommendations}}
    @track={{this.track}}
    @onModalOpen={{this.onModalOpen}}
    @onSearchSuggestionChosen={{this.onSearchSuggestionChosen}}
    @onSearchSuggestionsImpression={{this.onSearchSuggestionsImpression}}
    @goToSearchResults={{this.goToSearchResults}}
  />
</div>
<BannerNotifications />
{{! It's not available on language wikis index }}
{{#if @communityHeader}}
  <CommunityBar
    @model={{@communityHeader}}
    @track={{this.track}}
    @onLinkClicked={{this.onLinkClicked}}
  />
{{/if}}
