<div class="sb-close" role="button" {{action 'close'}}>{{svg 'close' viewBox='0 0 18 18'}}</div>
<div class="sb-icon" style={{iconStyle}}></div>
<div class="sb-info">
	<div class="sb-title">{{title}}</div>
	{{#if description}}
		<div class="sb-description">{{description}}</div>
	{{/if}}
	<div class="sb-rating"></div>
	<div class="sb-in-store">{{i18n 'smartbanner.price'}} - {{i18n 'smartbanner.store-android'}}</div>
</div>
<div class="sb-button">{{i18n 'smartbanner.install-android'}}</div>
