<div class="steam-news-item">
  <h3><a href="{{item.url}}">{{item.title}}</a></h3>
  <p class="steam-news-item__content">
    {{{item.contents}}}
  </p>

  {{# if item.feedlabel }}
    <p class="steam-news-item__source">
      Source: {{ item.feedlabel }}
    </p>
  {{/if}}

  <p class="steam-news-item__date">
    {{item.date}}
  </p>
</div>
