<a href={{this.href}}>
  <div class="item-image">
    {{#if this.thumbUrl}}
      <img src={{this.thumbUrl}} alt={{@video.title}} width="600" height="338">
    {{else}}
      <img src={{this.emptyGif}} alt={{@video.title}}>
    {{/if}}
  </div>
  <div class="video-icon-container">
    {{svg "wds-player-icon-play" class="wds-player-icon-play-large"}}
  </div>
</a>
<figcaption
  class="item-figcaption wds-font-size-s wds-font-weight-bold wds-leading-tight"
>
  {{@video.title}}
</figcaption>

