<figure>
	<div class="item-image" style={{imageStyle}}>
		{{#if currentlyRenderedImageUrl}}
			<img src="{{currentlyRenderedImageUrl}}" alt="{{title}}">
		{{else}}
			<img src="{{emptyGif}}" alt="{{title}}" style="width: 56%">
		{{/if}}
	</div>
	<figcaption class="item-figcaption">{{title}}</figcaption>
</figure>
