<figure>
	<div class="item-image" style={{imageStyle}}>
		{{#if currentlyRenderedImageUrl}}
			<img src="{{currentlyRenderedImageUrl}}" alt="{{title}}" />
		{{else}}
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAQAIBRAA7" alt="{{title}}" style="width: 56%" />
		{{/if}}
	</div>
	<figcaption class="item-figcaption">{{title}}</figcaption>
</figure>
