<figure>
	<div class="item-image">
		{{#if currentlyRenderedImageUrl}}
			<img src="{{currentlyRenderedImageUrl}}" alt="{{title}}">
		{{else}}
			<img src="{{emptyGif}}" alt="{{title}}" style="width: 56.25%">
		{{/if}}
		{{svg 'wds-icons-image' viewBox='0 0 24 24' role='img' class='wds-icon image-placeholder'}}
	</div>
	<figcaption class="item-figcaption">{{title}}</figcaption>
</figure>
