{{#if this.isVisible}}
  <div class="watch-show__disclaimer">
    {{i18n "affiliate-unit.disclaimer"}}
  </div>
  <div class="watch-show">
    <h2>{{this.cta}}</h2>
    <a
      class="wds-button"
      {{on "click" this.trackClick}}
      href={{this.url}}
      target="_blank"
      {{! template-lint-disable link-rel-noopener }}
      rel="noopener sponsored"
    >
      {{this.buttonLabel}}
    </a>
    <div class="watch-show__image-wrapper">
      <hr class="watch-show__hr">
      <img src={{this.imageUrl}} alt={{this.cta}} class="watch-show__image">
      <hr class="watch-show__hr">
    </div>
  </div>
  <div class="watch-show__slant"></div>
{{/if}}
