{{#if isVisible}}
  <div class="affiliate-unit-disclaimer">
    {{i18n "affiliate-unit.disclaimer"}}
  </div>
  <div class="watch-show">
    <h2>{{cta}}</h2>
    <a
      class="wds-button"
      onClick={{action "trackClick"}}
      href={{url}}
      target="_blank"
      rel="noopener"
    >
      {{buttonLabel}}
    </a>
    <div class="watch-show__image-wrapper">
      <hr class="watch-show__hr">
      <img src={{imageUrl}} alt={{cta}} class="watch-show__image">
      <hr class="watch-show__hr">
    </div>
  </div>
  <div class="watch-show__slant"></div>
{{/if}}
