{{#if isVisible}}
  <div class="watch-show">
    <h2>{{cta}}</h2>
    <img src={{imageUrl}} alt={{cta}} class="watch-show__image">
    <a
      class="wds-button"
      onclick={{this.trackClick}}
      href={{url}}
      target="_blank"
      rel="noopener"
    >
      {{buttonLabel}}
    </a>
  </div>
  <div class="watch-show__slant"></div>
{{/if}}
