{{#if posts}}
	<div class="heading-wrapper">
		<h2 class="heading">
			{{i18n 'widget-discussions.header-title'}}
		</h2>
		<a href="/d/f" class='heading-viewall'>
			{{i18n 'widget-discussions.all-discussions-link-mobile'}}
			{{svg 'arrow-right-long'}}
		</a>
	</div>
{{/if}}
{{#each posts as |post|}}
	{{widget-discussions-post
		post=post
		upvote=(action 'upvote')
	}}
{{else}}
	{{#if isLoading}}
		{{wds-spinner
			active=true
			radius=32
			strokeWidth=2
		}}
	{{/if}}
{{/each}}
