<div class="post-header">
	<div class="user-avatar">
		<figure class="avatar">
			<a href="{{post.createdBy.profileUrl}}">
				<img alt="user avatar" src="{{post.createdBy.avatarUrl}}">
			</a>
		</figure>
		<a class="avatar-username" href="{{post.createdBy.profileUrl}}">{{post.createdBy.name}}</a>
	</div>
	<span class="timestamp" title="{{format-date post.creationTimestamp}}">
		&bull; {{format-relative post.creationTimestamp}}
	</span>
</div>
<div class="discussion-content">
	{{#if post.title}}
		<h2 class="post-title">
			<a class="post-details-link" href="/d/p/{{post.threadId}}">{{post.title}}</a>
		</h2>
	{{/if}}
	<a class="post-details-link" href="/d/p/{{post.threadId}}">{{parsedContent}}</a>
</div>
{{#if post.openGraph}}
	<a href="{{post.openGraph.uri}}" title="{{post.openGraph.title}}" target="_blank" rel="noopener" class="og-container">
		{{#if openGraphImageUrl}}
			<img class="og-image" src="{{openGraphImageUrl}}" alt="{{post.openGraph.title}}">
		{{/if}}

		<div class="og-texts">
			<span class="og-title">
				{{post.openGraph.title}}
			</span>
			<span class="og-site-name">
				{{openGraphSiteName}}
			</span>
		</div>
	</a>
{{/if}}
<div class="post-bottom-row">
	<span class="post-category-name">
		{{t 'widget-discussions.in-category-label' categoryName=post.categoryName}}
	</span>
	<span class="post-counters">
		<span class="upvote-count">
			{{svg 'wds-icons-upvote-tiny' class='wds-icon wds-icon-tiny upvote'}}
			{{post.upvoteCount}}
		</span>
		<span class="reply-count">
			{{svg 'wds-icons-reply-tiny' class='wds-icon wds-icon-tiny replies'}}
			{{post.repliesCount}}
		</span>
	</span>
</div>
<ul class="post-actions">
	<li class="upvote-area upvote {{if post.userData.hasUpvoted 'has-upvoted'}}" role="button" {{action upvote post}}>
		{{svg 'wds-icons-upvote-small' class='wds-icon wds-icon-small upvote'}}
		{{t 'widget-discussions.post-actions-upvote-label'}}
	</li>
	<li class="replies replies-area">
		<a href="/d/p/{{post.threadId}}">
			{{svg 'wds-icons-reply-small' class='wds-icon wds-icon-small replies'}}
			{{t 'widget-discussions.post-actions-reply-label'}}
		</a>
	</li>
</ul>
