{{#if this.posts}}
  <div class="heading-wrapper">
    <h2 class="heading wds-font-size-xxl">
      {{i18n "widget-discussions.header-title"}}
    </h2>
    <a href="/d/f" class="heading-viewall wds-font-size-xs">
      {{i18n "widget-discussions.all-discussions-link-mobile"}}
      <Icon @name="arrow" @size="tiny" />
    </a>
  </div>
{{/if}}
{{#each this.posts as |post|}}
  <WidgetDiscussionsPost @post={{post}} @upvote={{action "upvote"}} />
{{else}}
  {{#if this.isLoading}}
    <Spinner
      @active={{true}}
      @radius={{32}}
      @strokeWidth={{2}}
    />
  {{/if}}
{{/each}}
