<div class="wikia-user-profile__fixed-wrapper">
	<div class="wikia-nav__header">
		<a {{action 'getBack' preventDefault=false}}
				class="wikia-nav__back wikia-user-profile__back-link">
			{{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='icon wds-menu-chevron'}}
		</a>
		<div class="wikia-nav--external wikia-nav--logout">
			{{sign-out title='global-navigation-user-sign-out' trackingLabel='open-logout' trackingCategory='side-nav'}}
		</div>
	</div>

	<header class="wikia-user-profile__header-wrapper">
		{{user-avatar
			username=username
			avatarUrl=currentUser.avatarPath
		}}
		<h4 class="wikia-user-profile__username">{{username}}</h4>
	</header>

	<div class="wikia-user-profile__notification-title-wrapper">
		<h5 class="wikia-user-profile__notification-title">{{i18n 'notifications-notifications' ns='design-system'}}</h5>
		{{#if notificationsList.length}}
			<a class="wds-notifications__mark-all-as-read" {{action 'markAllAsRead'}}>
				{{i18n 'notifications-mark-all-as-read' ns='design-system'}}
			</a>
		{{/if}}
	</div>
</div>


<div class="wikia-user-profile__scrollable-wrapper scrolling-part">
	{{#if notificationsList.length}}
		<ul class="wds-notifications__notification-list wds-list wds-has-lines-between">
			{{#each notificationsList as |notification|}}
				{{notification-card
						model=notification
				}}
			{{/each}}
			{{#if isLoadingNewResults }}
				<li>
					{{wds-spinner
						active=true
						isBlock=true
						isThemed=false
						overlay=false
						radius=15
						strokeWidth=2
					}}
				</li>
			{{/if}}
		</ul>
	{{else}}
		<p class="wds-notifications__zero-state">
			{{#if isLoadingNewResults}}
				{{wds-spinner
						active=true
						isBlock=true
						isThemed=false
						overlay=false
						radius=15
						strokeWidth=2
				}}
			{{else}}
				{{i18n 'notifications-no-notifications-message' ns='design-system'}}
			{{/if}}
		</p>
	{{/if}}
</div>
