{{#if users.length}}
	<div class="title">{{i18n 'article.top-contributors-label'}}</div>
	<ul>
		{{#each users as |user|}}
			<li>
				<a href="{{unbound user.url}}" {{action 'trackClick' 'contributors' 'open-user' preventDefault=false}}>
					{{#if viewportEntered}}
						{{thumbnail user.avatar mode=user.thumbMode alt=user.name}}
					{{else}}
						{{thumbnail}}
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
{{/if}}
