<div class="wikia-stats-container">
	{{#each items as |item|}}
		{{#if item.value}}
			<div class="wikia-stats-item">
				{{#if item.url}}
					<a href="{{item.url}}" class="wikia-stats-link" {{action 'trackClick' item.trackingLabel preventDefault=false}} >
						<div class="wikia-stats-label">{{item.label}}</div>
						<div class="wikia-stats-value">{{shorten-large-number item.value}}</div>
					</a>
				{{else}}
					<div class="wikia-stats-label">{{item.label}}</div>
					<div class="wikia-stats-value">{{shorten-large-number item.value}}</div>
				{{/if}}
			</div>
		{{/if}}
	{{/each}}
</div>
