{{#if model.inRoot}}
	{{#if isUserAuthenticated}}
		<div class="wikia-nav__header">
			<a role="link" {{action 'onUsernameClicked'}}
					class="wikia-nav--external wikia-nav--profile-link">
				<figure class="wikia-nav__avatar user-profile-avatar">
					{{#if unreadCount}}
						<span class="wds-notifications__unread-mark">{{unreadCount}}</span>
					{{/if}}
					<img src={{currentUser.avatarPath}} alt="{{currentUser.name}}">
				</figure>
				<span>{{currentUser.name}}</span>
				{{svg 'wds-icons-menu-control-small' class='wds-icon wds-menu-chevron wds-icon-small'}}
			</a>
		</div>
	{{else}}
		<a class="wikia-nav__header" role="link" {{action 'goToLogin'}}>
			<figure class="wikia-nav__avatar">
				{{svg 'wds-avatar-icon' class='wds-icon'}}
			</figure>
			{{t 'user-status.login-text'}} | {{t 'user-status.register-text'}}
		</a>
	{{/if}}
{{else}}
	<a class="wikia-nav__header wikia-nav__back" {{action 'goBack'}} href="#">
		{{svg 'wds-icons-arrow' class='wds-icon'}}
		<span>{{model.header}}</span>
	</a>
{{/if}}

{{nav-menu
	items=model.items
	onClickHandler=(action 'onClick')
	onChangeItemHandler=(action 'goToSubNav')
}}
