{{#if editorPreview}}
	<div class="page-wrapper editor-preview" lang={{language.content}} dir={{language.contentDir}}>
		<section class='wiki-container'>
			{{outlet}}
		</section>
	</div>
{{else if fullPage}}
	{{outlet}}
{{else}}
	{{smart-banner
		isVisible=smartBannerVisible
		toggleVisibility=attrs.toggleSmartBanner
	}}

	{{site-head
		smartBannerVisible=smartBannerVisible
		toggleSideNav=attrs.toggleSideNav
		toggleUserMenu=attrs.toggleUserMenu
		toggleSiteHeadPinned=attrs.toggleSiteHeadPinned
		themeBar=themeBar
	}}

	{{#if enableShareHeader}}
		{{share-header
			smartBannerVisible=smartBannerVisible
			title=currentTitle
			language=language
		}}
	{{/if}}
	{{side-nav
		shouldBeVisible=sideNavVisible
		loadRandomArticle=attrs.loadRandomArticle
		search=attrs.search
		toggleVisibility=attrs.toggleSideNav
	}}
	{{user-menu
		shouldBeVisible=userMenuVisible
		toggleVisibility=attrs.toggleUserMenu
	}}
	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
