<h2 class="wiki-title" {{action 'trackClick' 'wikiname'}}>{{#link-to 'article' mainPageTitle alt=siteName}}{{siteName}}{{/link-to}}</h2>
{{#if model.error}}
	{{render 'not-found'}}
{{else}}
	<section class="article-body">
		<h1 class="article-title">{{model.cleanTitle}}</h1>
		{{ad-slot name='NATIVE_PAID_ASSET_DROP' noAds=noAds}}
		{{#if headers.length}}
			{{#collapsible-menu
				showMenuIcon=true
				additionalClasses='table-of-contents'
				tLabel='app.article-toc-label'
				ordered=true
				observe=model.cleanTitle
				trackingEvent='toc'
			}}
				{{#each headers as |section|}}
					<li {{action 'trackClick' 'toc' 'header' on='mouseDown'}}>
						<a href="#{{unbound section.id}}" title="{{unbound section.name}}">
							{{unbound section.name}}
							{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
						</a>
					</li>
				{{/each}}
			{{/collapsible-menu}}
		{{/if}}
		{{#if contributionFeatureEnabled}}
			<div class="contribution-container">
				{{article-contribution 
				    article=model.article
				    section=0
				    title=model.cleanTitle
				    edit="edit"
				    upload="addPhoto"
				}}
			</div>
		{{/if}}
		{{article-content
			adsContext=model.adsContext
			content=model.article
			media=model.media
			noAds=noAds
			openLightbox='openLightbox'
			updateHeaders='updateHeaders'
		}}
	</section>
	<section class="article-footer">
		{{wikia-users
			users=model.topContributors
			classes='contributors'
			label='app.article-top-contributors-label'
			trackingEvent='contributors'
		}}
		{{article-comments
			page=commentsPage
			articleId=model.id
			commentsCount=model.comments
		}}
		{{#if model.categories}}
			{{#collapsible-menu
				showMenuIcon=false
				additionalClasses='article-categories-list'
				tLabel='app.article-categories-list-label'
				ordered=false
				observe=model.cleanTitle
				trackingEvent='category'
			}}
				{{#each model.categories itemController='categoryListItem' as |category|}}
					<li class="mw-content" {{action 'trackClick' 'category' 'link'}}><a href="{{unbound category.model.url}}" title="{{unbound category.model.title}}">
						{{category.cleanTitle}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a></li>
				{{/each}}
			{{/collapsible-menu}}
		{{/if}}
	</section>
	{{content-recommendations pages=model.relatedPages}}
{{/if}}
{{wikia-footer}}
