{{#if commentsCount}}
	<div {{action 'toggleComments'}} class='show-comments-btn page-btn {{if isCollapsed 'collapsed'}}'>
		{{i18n 'app.article-comments-label' count='commentsCount'}}
		{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
	</div>
{{/if}}
{{#if showComments}}
	{{#if model.comments}}
		<button class='page-btn {{unless prevButtonShown 'hidden'}}' {{action 'prevPage'}}>{{i18n 'app.comments-prev-button'}}</button>
		<ul class='comments {{if commentsHidden 'hidden'}}'>
			{{#each comment in model.comments}}
				{{article-comment comment=comment users=model.users}}
			{{/each}}
		</ul>
		<button class='page-btn {{unless nextButtonShown 'hidden'}}' {{action 'nextPage'}}>{{i18n 'app.comments-next-button'}}</button>
	{{/if}}
{{/if}}
