<div class="edit-section">
	{{#if isEditAllowed}}
		<span {{action 'edit'}}>
			{{svg 'pencil' role='img' class='icon pencil'}}
		</span>
	{{else}}
		<span {{action 'loginToEdit'}}>
			{{svg 'pencil' role='img' class='icon pencil'}}
		</span>
	{{/if}}
</div>
<div class={{if uploadFeatureEnabled 'upload-photo' 'upload-photo disabled'}}>
	<span {{action 'loginToUploadPhoto'}}>
		{{svg 'camera' role='img' class='icon camera'}}
	</span>
	{{#if currentUser.isAuthenticated}}
		<input class="file-upload-input" type="file" accept="image/*" {{action 'addPhoto' on='change'}}/>
	{{/if}}
</div>
