<div class="edit-section">
	<span {{action 'edit' model.title}}>
		{{svg 'pencil' role='img' class='icon pencil'}}
	</span>
</div>
<input class="file-input" type="file" accept="image/*" style="display:none;"/>
<div class="upload-photo" {{action 'upload' on='change' target='view'}}  {{action 'select' target='view' bubbles=true}}>
	{{svg 'camera' role='img' class='icon camera'}}
</div>
