<li class="list-item" {{action 'toggleSection'}}>
	{{thumbnail section.image_url width=100 height=100 alt=section.title}}{{section.title}}
	{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
	<div class="section-items">
		<ul>
			{{#each item in section.items}}
				<li class="list-item"><a href="#">{{item.label}} {{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron-horizontal'}}</a></li>
			{{/each}}
		</ul>
	</div>
</li>