<header class="edit-head curated-content-editor-head">
	{{#link-to 'mainPage' }}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<button {{action 'save'}} class="large publish">Save</button>

	<div class="edit-head-title">Edit Main Page</div>
</header>
{{curated-content-editor-block
	model=model.featured
	block='featured'
	title='Featured Content'
	description='Drag each item into the order you prefer. Click the arrow on the right of the item to reveal additional configuration options.'
	addItemLabel='add new featured content'
	addItem='addBlockItem'
	editItem='editBlockItem'
}}

{{curated-content-editor-block
	model=model.regular
	block='regular'
	title='Explore the Wiki'
	description='Drag each item into the order you prefer. Click the arrow on the right of the item to reveal additional configuration options.'
	addItemLabel='add new section'
	addItem='addBlockItem'
	editItem='editBlockItem'
	openSection='openSection'
}}

{{curated-content-editor-block
	model=model.optional
	block='optional'
	title='Optional'
	description='Drag each item into the order you prefer. Click the arrow on the right of the item to reveal additional configuration options.'
	addItemLabel='add category'
	addItem='addBlockItem'
	editItem='editBlockItem'
}}
