<div class="edit-head curated-content-editor-head">
	{{#link-to 'curatedContentEditor'}}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<h5>{{model.title}}</h5>
</div>
<div class="curated-content-section-details">
	<div class="section-image">
		<img src="{{thumbUrl}}"/>
	</div>
	<div class="section-desc">
		<div class="section-label">{{model.title}}</div>
		<div class="section-items-count">{{model.items.length}}items</div>
	</div>
	<a class="section-edit">
		{{svg 'pencil' role='img' class='icon pencil'}}
	</a>
</div>
{{#each model.items as |item|}}
	{{curated-content-editor-row
		model=item
		editItem='editItem'
	}}
{{/each}}
<div class="curated-content-editor-item">
	<button {{action 'addItem'}} class="curated-content-editor-add-item-btn">+ add new category</button>
</div>
