<header class="sub-head">
	<a {{action 'goBack'}} class="sub-head--cancel">
		{{svg 'back-arrow' role='img' class='icon'}}
	</a>
	<button {{action 'done'}} class="sub-head--done" type="submit" disabled={{unless notEmptyItems 'disabled'}}>{{i18n 'app.curated-content-editor-done'}}</button>
	<div class="sub-head--title">{{model.label}}</div>
</header>
<div class="curated-content-section-details" {{action 'editSection'}}>
	<div class="curated-content-section-details--image">
		<img src="{{thumbUrl}}"/>
	</div>
	<div class="curated-content-section-details--description">
		<div class="curated-content-section-details--label">{{model.label}}</div>
		<div class="curated-content-section-details--count">{{itemsCountLabel}}</div>
	</div>
</div>
{{#unless notEmptyItems}}
	<small>{{i18n 'app.curated-content-editor-add-items-message'}}</small>
{{/unless}}
{{#each sortableItems as |item|}}
	{{curated-content-editor-row
		model=item
		editItem='editItem'
		moveBy='moveBy'
	}}
{{/each}}
<button {{action 'addItem'}} class="curated-content-editor-add-item-btn">{{i18n 'app.curated-content-editor-add-category'}}</button>
{{alert-notifications alerts=alertNotifications}}
