<header>{{title}}</header>
{{#if description}}
	<div class="block-description">{{description}}</div>
{{/if}}
<div class="curated-content-editor-rows">
	{{#each sortableItems as |item|}}
		{{curated-content-editor-row
			model=item
			editItem='editItem'
			openSection='openSection'
			moveBy='moveBy'
		}}
	{{/each}}
	<button {{action 'addItem'}} class="curated-content-editor-add-item-btn">{{addItemLabel}}</button>
</div>
