{{#if curatedContent}}
	<div class="curated-content">
		<nav class="grid-sections">
			{{#each section in curatedContent.sections}}
				<div {{action "showItems" section.title}}>
					{{#if section.image_url}}
						{{thumbnail section.image_url width=100 height=100 alt=section.title}}{{section.title}}
					{{/if}}
				</div>
			{{/each}}
		</nav>
		<nav class="list-items">
			<div {{action "showGrid"}}>BACK</div>
			{{#each item in model.activeSectionItems}}
				{{#if item.image_url}}
					{{thumbnail item.image_url width=100 height=100 alt=item.title}}
				{{/if}}
				{{item.label}}
				{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron-horizontal'}}
			{{/each}}
		</nav>
	</div>
{{/if}}