<form {{action 'done' on='submit'}}>
	<header class="edit-head curated-content-editor-head">
		<a {{action 'goBack'}}>{{svg 'chevron' role='img' class='icon arrow-left'}}</a>
		{{!-- @TODO CONCF-956 add translations to DONE --}}
		<button class="large publish curated-content-editor-submit" type="submit" disabled={{if canSave null 'disabled'}}>Done</button>
		{{!-- @TODO CONCF-956 add translations to Create new item --}}
		<div class="edit-head-title">{{#if model.label}}{{model.label}}{{else}}Create new{{/if}}</div>
	</header>
	<div class="curated-content-editor-photo {{if imageErrorMessage 'error'}}">
		<img src="{{imageUrl}}" class="{{if imageErrorMessage 'error'}}" />
		{{#if imageErrorMessage}}
			<small class="error">{{imageErrorMessage}}</small>
		{{/if}}
		{{loading-spinner active=isLoading overlay=false}}
		{{file-input fileUpload='fileUpload'}}
	</div>
	<div class="curated-content-input-wrapper">
		<div class="input-container {{if labelErrorMessage 'error'}}">
			{{input
				value=model.label
				id='label'
				class=labelClass
				name='label'
				focus-out='setLabelFocusedOut'
				focus-in='setLabelFocusedIn'
			}}
			{{!-- @TODO CONCF-956 add translations to Enter a display name --}}
			<label class="floating-label {{if labelErrorMessage 'error'}} {{if isLabelActive 'active'}}" for="label">Enter a display name</label>
			{{#if labelErrorMessage}}
				<small class="error">{{labelErrorMessage}}</small>
			{{/if}}
		</div>
		{{#unless isSectionView}}
			<div class="input-container {{if titleErrorMessage 'error'}}">
				{{input
					value=model.title
					id='title'
					class=titleClass
					name='title'
					focus-out='setTitleFocusedOut'
					focus-in='setTitleFocusedIn'
				}}
				{{!-- @TODO CONCF-956 add translations to Enter a page name --}}
				<label class="floating-label {{if titleErrorMessage 'error'}} {{if isTitleActive 'active'}}" for="title">Enter a page name</label>
				{{#if titleErrorMessage}}
					<small class="error">{{titleErrorMessage}}</small>
				{{/if}}
			</div>
		{{/unless}}
	</div>
	{{!-- @TODO CONCF-956 add translations to Delete item --}}
	<a {{action 'deleteItem'}} class="curated-content-editor-remove">Delete item</a>
</form>
