<header>{{title}}</header>
{{#if description}}
	<div class="block-description">{{description}}</div>
{{/if}}
<div class="curated-content-edit-rows">
	{{#each model.items as |item|}}
		{{curated-content-edit-row
			model=item
			block=block
			editItem='editItem'
			openSection='openSection'
		}}
	{{/each}}
	<div class="curated-content-edit-row">
		<button {{action 'addItem'}} class="curated-content-edit-add-item-btn">+ {{addItemLabel}}</button>
	</div>
</div>
