<header class="edit-head curated-content-editor-head">
	<a {{action 'goBack'}}>{{svg 'chevron' role='img' class='icon arrow-left'}}</a>
	{{!-- @TODO CONCF-956 add translations to DONE --}}
	<button {{action 'done'}} class="large publish curated-content-editor-submit">Done</button>
	{{!-- @TODO CONCF-956 add translations to Crop image --}}
	<div class="edit-head-title">Crop image</div>
</header>
<div class="curated-content-editor-photo-crop">
	<img src="{{imageUrl}}" />
	{{loading-spinner active=isLoading overlay=false}}
</div>
