<figure class='item-figure'>
	<div class='item-image' style={{style}}>
	{{#if imageUrl}}
		<img src='{{thumbUrl}}' alt='{{label}}'/>
	{{/if}}
	</div>
	<figcaption class='item-figcaption'>
		<div class='item-caption-row'>
		<span class='item-caption label'>{{label}}</span>
		<span class='item-caption grid-icon'>
			<div class='grid-icon-container'>
				{{svg 'category-thumb-icon' role='img' class='category-icon' viewBox='0 0 17 17'}}
			</div>
		</span>
		</div>
	</figcaption>
</figure>

