<img src="{{thumbUrl}}" />
<div class="item-description">
	<div class="title">{{model.label}}</div>
	{{#if model.items}}
		<div class="subtitle">{{i18n 'app.curated-content-editor-items-count' count=model.items.length}}</div>
	{{/if}}
</div>
<div class="navigation">
	<div {{action 'moveBy' -1}}>
		{{svg 'chevron' role='img' class='icon arrow arrow-up'}}
	</div>
	<div {{action 'moveBy' 1}}>
		{{svg 'chevron' role='img' class='icon arrow arrow-down'}}
	</div>
</div>

