<header class="edit-head curated-content-editor-head">
	<a {{action 'goBack'}}>{{svg 'chevron' role='img' class='icon arrow-left'}}</a>
	<button {{action 'done'}} class="large publish curated-content-editor-submit" type="submit" disabled={{if notEmptyItems null 'disabled'}}>{{i18n 'app.curated-content-editor-done'}}</button>
	<div class="edit-head-title">{{model.label}}</div>
</header>
<div class="curated-content-section-details">
	<div class="section-image">
		<img src="{{thumbUrl}}"/>
	</div>
	<div class="section-desc">
		<div class="section-label">{{model.label}}</div>
		<div class="section-items-count">{{i18n 'app.curated-content-editor-items-count' count=itemsCount}}</div>
	</div>
	<a {{action 'editSection'}} class='section-edit'>
		{{svg 'pen' role='img' class='icon pen'}}
	</a>
</div>
{{#unless notEmptyItems}}
	<small>{{i18n 'app.curated-content-editor-add-items-message'}}</small>
{{/unless}}
{{#each sortableItems as |item|}}
	{{curated-content-editor-row
		model=item
		editItem='editItem'
		moveBy='moveBy'
	}}
{{/each}}
<button {{action 'addItem'}} class="curated-content-editor-add-item-btn">{{i18n 'app.curated-content-editor-add-category'}}</button>
