<div class="edit-head curated-content-edit-head">
	{{#link-to 'curatedContentEdit' }}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<h5>{{model.title}}</h5>
	<div>
		<div><img src="{{model.image_url}}"/></div>
		<div>{{model.title}} {{model.items.length}} items</div>
	</div>
	{{#each model.items as |item|}}
		{{curated-content-edit-item model=item}}
	{{/each}}
</div>
