{{#if curatedContent}}
	<nav class='grid root-sections'>
		{{#each section in curatedContent}}
			<div {{action 'showItems' section}} class='curated-content-item-container'>
				{{curated-content-item label=section.title imageUrl=section.image_url}}
			</div>
		{{/each}}
	</nav>
	<nav class='grid child-sections'>
		<div class='section-top'>
			<div class='section-navigation' {{action 'showGrid'}}>
				{{svg 'chevron' viewBox='0 0 12 7' class='nav-item back-chevron chevron'}}
			</div>
			<div class='section-title'>{{model.activeSection}}</div>
		</div>
		{{#each item in model.activeSectionItems}}
			<a class='curated-content-item-container' {{action 'trackClick' 'curated-content' 'item-level-1'}} href='{{item.article_local_url}}'>
				{{curated-content-item label=item.label imageUrl=item.image_url}}
			</a>
		{{/each}}
	</nav>
{{/if}}
{{loading-spinner active=isLoading}}
