<form {{action "updateItem" on="submit"}}>
	<div class="edit-head curated-content-edit-head">
		{{svg 'chevron' role='img' class='icon arrow-left'}}
		<button class="large publish curated-content-edit-submit" type="submit">Done</button>
		<h5>{{item.label}}</h5>
	</div>
	<div class="curated-content-edit-photo">
		<img src="{{imageUrl}}" />
	</div>
	<div class="curated-content-input-wrapper">
		<div class="input-container">
				{{input value=item.label id="label" name="label" focus-in="checkLabel" focus-out="checkLabel" key-press="checkLabel"}}
				<label class="floating-label" for="label">Enter a display name</label>
		</div>
		<div class="input-container">
			{{input value=item.title id="page" name="page" focus-in="checkPage" focus-out="checkPage" key-press="checkLabel"}}
			<label class="floating-label" for="page">Enter a page name</label>
		</div>
	</div>
	<a class="curated-content-edit-remove">
			Delete
	</a>
</form>
