<div class="edit-head curated-content-edit-head">
	{{#link-to 'curatedContentEdit'}}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<h5>{{model.title}}</h5>
</div>
<div class="curated-content-section-details">
	<div class="section-image">
		<img src="{{thumbUrl}}"/>
	</div>
	<div class="section-desc">
		<div class="section-label">{{model.title}}</div>
		<div class="section-items-count">{{model.items.length}}items</div>
	</div>
</div>
{{#each model.items as |item|}}
	{{curated-content-edit-row
	model=item
	editItem='editItem'
	}}
{{/each}}
<div class="curated-content-edit-item">
	<button {{action 'addItem'}} class="curated-content-edit-add-item-btn">+ add new category</button>
</div>
