<form {{action "updateItem" on="submit"}}>
	<div class="edit-head curated-content-editor-head">
		{{svg 'chevron' role='img' class='icon arrow-left'}}
		<button class="large publish curated-content-editor-submit" type="submit">Done</button>
		<h5>{{model.label}}</h5>
	</div>
	<div class="curated-content-editor-photo">
		<img src="{{imageUrl}}" />
	</div>
	<div class="curated-content-input-wrapper">
		<div class="input-container">
				{{input value=model.label id="label" name="label" focus-in="checkLabel" focus-out="checkLabel" key-press="checkLabel"}}
				<label class="floating-label" for="label">Enter a display name</label>
		</div>
		{{#if displayPageInput}}
			<div class="input-container">
				{{input value=model.title id="page" name="page" focus-in="checkPage" focus-out="checkPage" key-press="checkLabel"}}
				<label class="floating-label" for="page">Enter a page name</label>
			</div>
		{{/if}}
	</div>
	<a class="curated-content-editor-remove">
			Delete
	</a>
</form>
