<div class="curated-content-editor-row" {{action 'itemClick'}}>
	<img src="{{thumbUrl}}" />
	<div class="item-description">
		<div class="title">{{model.label}}</div>
		{{#if model.items}}
			<div class="subtitle">{{i18n 'app.curated-content-editor-items-count' count=itemsCount}}</div>
		{{/if}}
	</div>
</div>
<div class="navigation">
	<div {{action 'moveBy' -1}}>
		{{svg 'chevron' role='img' class='icon arrow-up'}}
	</div>
	<div {{action 'moveBy' 1}}>
		{{svg 'chevron' role='img' class='icon arrow-down'}}
	</div>
</div>
