{{#if curatedContent}}
	<div class="curated-content">
		<nav class="grid-sections">
			{{#each section in curatedContent.sections}}
				<div {{action "showItems" section.title}}>
					{{curated-content-item url=section.image_url title=section.title}}
				</div>
			{{/each}}
		</nav>
		<nav class="list-items">
			<div {{action "showGrid"}}>BACK</div>
			{{#each item in model.activeSectionItems}}
				{{#if item.image_url}}
					{{curated-content-item url=item.image_url title=item.title}}
				{{/if}}
				<p>{{item.title}}</p>
			{{/each}}
		</nav>
	</div>
{{/if}}
