<header class="edit-head curated-content-editor-head">
	{{#link-to 'mainPage' }}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<button {{action 'save'}} class="large publish">{{i18n 'app.curated-content-editor-publish'}}</button>
	<div class="edit-head-title">{{i18n 'app.curated-content-editor-edit-main-page'}}</div>
</header>
{{curated-content-editor-block
	model=model.featured
	block='featured'
	title=(i18n 'app.curated-content-editor-featured-content')
	description=(i18n 'app.curated-content-editor-featured-description')
	helpText=(i18n 'app.curated-content-editor-block-help-text')
	addItemLabel=(i18n 'app.curated-content-editor-add-featured-content-button')
	addItem='addBlockItem'
	editItem='editBlockItem'
	showHelp='showHelp'
}}
{{curated-content-editor-block
	model=model.curated
	block='curated'
	title=(i18n 'app.curated-content-editor-explore-the-wiki')
	description=(i18n 'app.curated-content-editor-explore-the-wiki-description')
	helpText=(i18n 'app.curated-content-editor-block-help-text')
	addItemLabel=(i18n 'app.curated-content-editor-add-section-button')
	addItem='addSection'
	openSection='openSection'
	showHelp='showHelp'
}}
{{curated-content-editor-block
	model=model.optional
	block='optional'
	title=(i18n 'app.curated-content-editor-optional')
	description=(i18n 'app.curated-content-editor-optional-description')
	helpText=(i18n 'app.curated-content-editor-block-help-text')
	addItemLabel=(i18n 'app.curated-content-editor-add-category')
	addItem='addBlockItem'
	editItem='editBlockItem'
	showHelp='showHelp'
}}
{{loading-spinner active=isLoading}}
