<header class="sub-head">
	<a {{action 'openMainPage'}} class="sub-head--cancel">{{svg 'back-arrow' role='img' class='icon'}}</a>
	<button {{action 'save'}} class="sub-head--done">{{i18n 'app.curated-content-editor-publish'}}</button>
	<div class="sub-head--title">{{i18n 'app.curated-content-editor-editing-header' label=(i18n 'app.curated-content-editor-main-page')}}</div>
</header>
{{curated-content-editor-block
	model=model.featured
	block='featured'
	title=(i18n 'app.curated-content-editor-featured-content')
	description=(i18n 'app.curated-content-editor-featured-description')
	addItemLabel=(i18n 'app.curated-content-editor-add-featured-content-button')
	addItem='addBlockItem'
	editItem='editBlockItem'
	showHelp='showHelp'
}}
{{curated-content-editor-block
	model=model.curated
	block='curated'
	title=(i18n 'app.curated-content-editor-featured-categories')
	description=(i18n 'app.curated-content-editor-featured-categories-description')
	addItemLabel=(i18n 'app.curated-content-editor-add-section-button')
	addItem='addSection'
	openSection='openSection'
	showHelp='showHelp'
}}
{{curated-content-editor-block
	model=model.optional
	block='optional'
	title=(i18n 'app.curated-content-editor-optional')
	description=(i18n 'app.curated-content-editor-optional-description')
	addItemLabel=(i18n 'app.curated-content-editor-add-category')
	addItem='addBlockItem'
	editItem='editBlockItem'
	showHelp='showHelp'
}}
{{loading-spinner active=isLoading}}
{{alert-notifications alerts=alertNotifications}}
