{{#if bannerImageStyle}}
	<div class="layer banner" style={{bannerImageStyle}}></div>
{{/if}}
{{#if bannerColorStyle}}
	<div class="layer opacity" style={{bannerColorStyle}}></div>
{{/if}}
<div class="layer">
	<h1>{{name}}</h1>
	<p>{{i18n 'discussion.number-of-posts' numberOfPosts=numberOfPosts}}</p>
	{{discussion-contributors
		contributors=contributors
		maxContributorDisplayCount=6
		totalContributorCount=numberOfPosts
	}}
</div>
