{{#if headerImageStyle}}
	<div class="layer banner" style={{headerImageStyle}}></div>
{{/if}}
{{#if headerColorStyle}}
	<div class="layer opacity" style={{headerColorStyle}}></div>
{{/if}}
<div class="layer">
	<h1>{{name}}</h1>
	{{#if numberOfPosts}}
		<p>{{i18n 'discussion.number-of-posts' numberOfPosts=numberOfPosts}}</p>
	{{/if}}
	{{discussion-contributors
		contributors=contributors
		maxContributorDisplayCount=6
		totalContributorCount=numberOfPosts
	}}
</div>
