<div class="editor-container {{if sticky 'sticky'}} {{unless siteHeadPinned 'pinned-top'}}">
	<a href="#" class="editor-close" {{action 'toggleEditorActive' false}}>
		{{svg 'close' class="fill-theme-color" viewBox='0 0 18 18'}}
	</a>
	<button class="active-element-theme-color" type="submit" {{action 'createPost' forumId}} disabled={{submitDisabled}}>{{i18n 'main.post-action-button-label' ns='discussion'}}</button>
	<div class="editor-wrapper">
		<textarea class="editor-textarea" onkeypress={{action 'handleKeyPress' forumId}} oninput={{action 'updateOnType'}} onfocus={{action 'toggleEditorActive' true}} placeholder="{{i18n 'main.post-editor-placeholder-text' ns='discussion'}}"></textarea>
	</div>
	<label class="desktop-hidden editor-label">{{i18n 'main.post-editor-label' ns='discussion'}}</label>
	{{user-avatar
		avatarUrl=currentUser.avatarPath
	}}
	{{#if isLoading}}
		{{loading-spinner
			active=isLoading
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	{{#if shouldShowError}}
		<span class="error">{{i18n 'main.post-failed-error' ns='discussion'}}</span>
	{{/if}}
	{{#if showSuccess}}
		<div class="loading-overlay">
			{{svg 'success' class='success' viewBox='0 0 80 80'}}
		</div>
	{{/if}}
</div>
