<div class="editor-container {{if sticky 'sticky'}} {{unless siteHeadPinned 'pinned-top'}}">
	<a href="#" class="editor-close" {{action 'toggleEditorActive' false}}>
		{{svg 'close' viewBox='0 0 18 18'}}
	</a>
	<button type="submit" {{action 'createPost' forumId}} disabled={{submitDisabled}}>Post</button>
	<div class="editor-wrapper">
		<textarea class="editor-textarea" oninput={{action 'updateOnType'}} onfocus={{action 'toggleEditorActive' true}} placeholder="Share a thought, question or link..."></textarea>
	</div>
	<label class="desktop-hidden editor-label">Create a post</label>
	{{user-avatar
		avatarUrl=currentUser.avatarPath
	}}
	{{#if isLoading}}
		{{loading-spinner
			active=isLoading
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	{{#if showSuccess}}
		<div class="loading-overlay">
			{{svg 'success' class='success' viewBox='0 0 80 80'}}
		</div>
	{{/if}}
</div>
