{{#if isVisible}}
	{{#modal-dialog
		isVisible = isVisible
	}}
		<div class="modal-dialog-content">{{i18n errorMessage ns='discussion'}}</div>
		<footer>
			{{#unless currentUser.isAuthenticated}}
				<button class="active-element-theme-color" {{action 'goToLoginPage'}}>{{i18n 'main.modal-dialog-log-in' ns='discussion'}}</button>
			{{/unless}}
			<button class="active-element-theme-color" {{action 'close'}}>{{i18n 'main.modal-dialog-confirm' ns='discussion'}}</button>
		</footer>
	{{/modal-dialog}}
{{/if}}
