<div class="error-content">
	{{i18n 'discussion.not-found-error'}}
	<a class="action-item" {{action attrs.allDiscussions}}>{{svg 'back-arrow' role='img' class='icon-back'}}
		<span class="mobile-hidden">{{i18n 'discussion.all-discussions-link-desktop'}}</span>
		<span class="desktop-hidden">{{i18n 'discussion.all-discussions-link-mobile'}}</span>
	</a>
</div>
