<a href="#">Sign In / Register</a>
{{#each hubsLinks as |link|}}
	<a href="{{link.href}}">{{link.text}}</a>
{{/each}}
<a {{action this.attrs.replaceNavigationContent 'explore'}} href="#">{{exploreWikiaLabel}}</a>
<a {{action this.attrs.replaceNavigationContent 'local'}} href="#">{{i18n 'app.exploreWiki' wikiName=wikiName}}</a>
