{{#if link}}
	<a href='{{link}}' {{action 'clickLinkedImage'}}>
		<img src='{{imageSrc}}' style='{{style}}'>
		{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
	</a>
{{else}}
	<img src='{{imageSrc}}' style='{{style}}'>
{{/if}}{{!-- these comments prevent polluting HTML with whitespaces that caused positioning problems
--}}{{yield}}{{!--
--}}{{#if caption}}
	<figcaption>{{{caption}}}</figcaption>
{{/if}}
