<div class="img-container {{model.status}}">
	<img id="{{model.imageId}}" src="{{thumbnailUrl}}" tabindex = "-1"
		{{action (action this.attrs.showModal model.fullSizeImageUrl)}}>
	<form>
		{{radio-button value='ACCEPTED' groupValue=model.status}} OK
		{{radio-button value='REJECTED' groupValue=model.status}} Del
		{{radio-button value='FLAGGED' groupValue=model.status}} Q
	</form>
</div>
