<h2> Image Review </h2>
<p> Click on images to mark them for deletion or as questionable (for staff review). When you're done with the batch, click "Review" below to get the next batch.</p>

<h1> Images to review </h1>

<ul class="image-review-list">
    <li class="image-review-item">
		{{#each model.images as |item|}}
			{{image-review-item model=item targetObject=this showModal='showModal'}}
		{{/each}}
    </li>
</ul>

{{#modal-dialog isVisible=model.isModalVisible}}
	<img src="http://vignette-poz.wikia-dev.com/"{{model.modalImageUUID}}/>
	<p>{{model.modalImageUUID}}</p>
{{/modal-dialog}}

<button class="review-images-and-get" {{action 'reviewAndGetMoreImages'}}>Review & get next batch</button>
<button class="review-images-and-get" {{action 'getFlaggedOnly'}}>Get flagged</button>

{{loading-spinner active=isLoading}}
{{alert-notifications alerts=alertNotifications}}
