<div class="img-container">
    <img id="{{img_id}}" src="{{img_src}}" width="230">
</div>
<a href="{{img_href}}" target="_blank" class="internal sprite details magnify" title="Go to image page"></a>

<label title="Mark as OK"><input type="radio" name="{{img_id}}" value="2" checked="">OK</label>
<label title="Delete"><input type="radio" name="{{img_id}}" value="4">Delete</label>
<label title="Questionable"><input type="radio" name="{{img_id}}" value="5">Questionable</label>