<h2>{{i18n 'app.image-review-head'}}</h2>
<p>{{i18n 'app.image-review-description'}}</p>

<h4>{{i18n 'app.image-review-images-to-review'}}</h4>

<ul class="image-review-list">
	{{#each model.images as |item|}}
		<li class="image-review-item">
			{{image-review-item model=item showModal=(action 'showModal')}}
		</li>
	{{/each}}
</ul>

{{#modal-dialog isVisible=isModalVisible}}
	<img src="{{modalImageUrl}}"/>
{{/modal-dialog}}

<div class="action-buttons">
    <button {{action (action this.attrs.reviewAndGetMoreImages)}}>{{i18n 'app.image-review-and-get-more'}}</button>
    <button {{action (action this.attrs.getFlaggedOnly)}}>{{i18n 'app.image-review-get-flagged'}}</button>
</div>

{{loading-spinner active=isLoading}}
{{alert-notifications alerts=alertNotifications}}
