<div class="img-container">
    <img id="{{model.imageId}}" src="http://vignette-poz.wikia-dev.com/{{model.imageId}}" width="230">
</div>
<a href="{{img_href}}" target="_blank" class="internal sprite details magnify" title="Go to image page"></a>
<p> ImageID: {{model.imageId}} </p>
<form>
	<label title="Mark as OK"><input {{action 'setStatus' 'ACCEPTED'}} type="radio" name="{{model.imageId}}">OK</label>
	<label title="Delete"><input {{action 'setStatus' 'REJECTED'}} type="radio" name="{{model.imageId}}">Delete</label>
	<label title="Questionable"><input {{action 'setStatus' 'FLAGGED'}} type="radio" name="{{model.imageId}}">Questionable</label>
</form>
