<h2> {{i18n 'app.image-review-head'}} </h2>
<p> {{i18n 'app.image-review-description'}} </p>

<h1> {{i18n 'app.image-review-images-to-review'}} </h1>

<ul class="image-review-list">
    <li class="image-review-item">
		{{#each model.images as |item|}}
			{{image-review-item model=item targetObject=this showModal='showModal'}}
		{{/each}}
    </li>
</ul>

{{#modal-dialog isVisible=model.isModalVisible}}
	<img src={{model.baseImgUrl}}{{model.modalImageUUID}}/>
	<p>{{model.modalImageUUID}}</p>
{{/modal-dialog}}

<button class="review-images-and-get" {{action 'reviewAndGetMoreImages'}}>{{i18n 'app.image-review-and-get-more'}}</button>
<button class="review-images-and-get" {{action 'getFlaggedOnly'}}>{{i18n 'app.image-review-get-flagged'}}</button>

{{loading-spinner active=isLoading}}
{{alert-notifications alerts=alertNotifications}}
