{{#each media as |image|}}
	<div class="pi-item {{if image.isActive 'active'}} article-{{image.type}}">
		{{#if image.caption}}
			<hgroup class="pi-hero-title-wrapper pi-item-spacing">
				<h3 class="pi-hero-caption">{{image.caption}}</h3>
			</hgroup>
		{{/if}}
		<img src="{{image.thumbUrl}}" class="{{if image.load 'loaded'}}" data-ref="{{image.ref}}" data-gallery-ref="{{image.galleryRef}}">
	</div>
{{/each}}
<div class="image-collection-actions">
	{{#if hasPreviousImage}}<button class="action-previous" {{action 'switchImage' 'previous'}}>{{svg 'chevron-linked' viewBox='0 0 12 7'}}</button>{{/if}}
	{{#if hasNextImage}}<button class="action-next" {{action 'switchImage' 'next'}}>{{svg 'chevron-linked' viewBox='0 0 12 7'}}</button>{{/if}}
</div>
