{{#unless loadingError}}
	<img class='current' src='{{imageSrc}}' style={{style}}>
{{else}}
	<p class="lightbox-content-inner">{{i18n 'app.media-lightbox-error'}}</p>
{{/unless}}
{{loading-spinner active=isLoading overlay=false}}
