{{#each media in limitedMedia}}
	<figure class='linked-gallery-{{unbound media.type}}{{unbound media.captionClass}}'>
		{{#if media.link}}
			<a href='{{media.link}}' {{action 'clickLinkedImage'}}>
				<img src='{{media.thumbUrl}}' class='{{if media.load 'loaded'}}' data-gallery-ref='{{unbound media.galleryRef}}'>
				{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
			</a>
		{{else}}
			<img src='{{media.thumbUrl}}' class='{{if media.load 'loaded'}}' data-gallery-ref='{{unbound media.galleryRef}}'>
		{{/if}}
		{{#if media.caption}}
			<figcaption>{{{media.caption}}}</figcaption>
		{{/if}}
	</figure>
{{/each}}
{{#if canShowMore}}
	<button {{action 'showMore'}}>{{i18n 'app.view-more'}}</button>
{{/if}}
