{{#each media in limitedMedia}}
	<figure class='{{unbound media.classNames}}'>
		{{#if media.link}}
			<a {{bind-attr href=media.link}} {{action 'clickLinkedImage'}}>
				<img {{bind-attr src=media.thumbUrl}} {{bind-attr class='media.load:loaded'}} data-gallery-ref='{{unbound media.galleryRef}}'>
				{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
			</a>
		{{else}}
			<img {{bind-attr src=media.thumbUrl}} {{bind-attr class='media.load:loaded'}} data-gallery-ref='{{unbound media.galleryRef}}'>
		{{/if}}
		{{#if media.caption}}
			<figcaption>{{{media.caption}}}</figcaption>
		{{/if}}
	</figure>
{{/each}}
{{#if canShowMore}}
	<button {{action 'showMore'}}>{{i18n 'view-more'}}</button>
{{/if}}
