<section class='main-page-body mw-content'>
	{{#if model.wikiaStats}}
		{{wikia-stats model=model.wikiaStats}}
	{{/if}}
	{{#if model.featuredContent}}
		{{featured-content model=model.featuredContent}}
	{{/if}}
	{{#if model.curatedContent}}
		{{curated-content topLevelSection=model.curatedContent}}
	{{/if}}
	{{#if model.trendingArticles}}
		{{trending-articles model=model.trendingArticles}}
	{{/if}}
	{{#if model.trendingVideos}}
		{{trending-videos model=model.trendingVideos}}
	{{/if}}
</section>
