<div>
	{{user-avatar
		avatarUrl=post.createdBy.avatarUrl
		displayUsername=true
		profileUrl=authorUrl
		username=post.createdBy.name
	}}
	<span class="timestamp">
		&bull; {{time-ago post.creationDate.epochSecond}}
	</span>
</div>
{{#if isDetailsView}}
	<div class="discussion-content">
		{{{post.rawContent}}}
	</div>
{{else}}
	<div class="discussion-content" {{action 'goToPost' postId}}>
		{{{post.rawContent}}}
	</div>
{{/if}}
<div class="row">
	{{discussion-upvote-post
		post=post
		upvote='upvote'
	}}
	{{#if isDetailsView}}
		<div class="small-5 large-3 columns count">
			{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
			{{replyCount}}
		</div>
	{{else}}
		<div class="small-5 large-3 columns count" {{action 'goToPost' postId}}>
			{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
			{{replyCount}}
		</div>
	{{/if}}
	<div class="share small-2 large-5 columns">
		{{#if isDetailsView}}
			{{share-feature sharedUrl=sharedUrl}}
		{{else}}
			<span {{action 'toggleShareComponent'}}>
				{{svg 'share' class='icon toggle-share'}}
			</span>
			{{share-feature
				sharedUrl=sharedUrl
				isVisible=isShareFeatureVisible
				onMouseEnter=(action 'cancelHideShareComponent')
				onMouseLeave=(action 'hideShareComponent')
			}}
		{{/if}}
	</div>
</div>
