<div class="discussion-reply">
	<div>
		<div class="upvotes">
			{{discussion-upvote-reply
				post=post
				upvote='upvote'
			}}
		</div>
		{{user-avatar
			avatarUrl=author.avatarUrl
			displayUsername=true
			profileUrl=authorUrl
			username=author.name
		}}
		<span class="timestamp">
			&bull; {{time-ago post.creationDate.epochSecond}}
		</span>
		{{discussion-delete
			delete=this.attrs.deleteReply
			undelete=this.attrs.undeleteReply
			post=post
		}}
	</div>
	<div class="discussion-content">
		{{{parsedContent}}}
	</div>
</div>
