<div>
	{{user-avatar
		avatarUrl=author.avatarUrl
		profileUrl=authorUrl
		username=author.name
		displayUsername=true
	}}
	<span class="timestamp">
		&bull; {{timeAgo timestamp}}
	</span>
</div>
<div class="discussion-content">
	{{{content}}}
</div>
<div class="row">
	<div class="small-5 columns upvote count">
		{{svg 'upvote' viewBox='0 0 30 30' class='icon upvote'}}
		{{upvoteCount}}
	</div>
	<div class="small-5 columns end count">
		{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
		{{replyCount}}
	</div>
</div>
