<div class="discussion-reply">
	<div>
		<div class="upvotes">
			{{discussion-upvote
				upvoteCount=upvoteCount
				post=post
				firstPost=false
				upvote='upvote'
			}}
		</div>
		<figure class="avatar">
			<a href="{{authorUrl}}">
				<img src="{{author.avatarUrl}}">
			</a>
		</figure>
		<a href="{{authorUrl}}" class="author">
			{{author.name}}
		</a>
		<span class="timestamp">
			&bull; {{timeAgo timestamp}}
		</span>
	</div>
	<div class="discussion-content">
		{{{content}}}
	</div>
</div>
