<div class="discussion-reply">
    <div class="discussion-reply-avatar">
        <img src="{{avatarURL}}" /><br />
        {{authorName}}
    </div>
    <div class="discussion-reply-meta">
        Created on: {{createTime}}<br />
        Upvotes: {{upvoteCount}}<br />
    </div>
    <div class="discussion-reply-content">
        {{content}}
    </div>
</div>