<div class="discussion-reply">
    <div>
        <img src="/front/images/upvote-default.png" />
        <span class="discussion-upvote">{{upvoteCount}}</span>
        <figure class="avatar">
            <a href="{{author.url}}">
                <img src="{{author.avatarPath}}" />
                 {{author.name}}
            </a>
            <span class="discussion-reply-timestamp">
                &middot; {{timeAgo timestamp}}
            </span>
        </figure>
    </div>
    <div class="discussion-reply-content">
        {{content}}
    </div>
</div>
