<div>
	<figure class="avatar">
		<a href="{{authorUrl}}">
			<img src="{{post.createdBy.avatarUrl}}">
		</a>
	</figure>
	<a href="{{authorUrl}}" class="author">{{post.createdBy.name}}</a>
	<span class="timestamp">
		&bull; {{timeAgo post.creationDate.epochSecond}}
	</span>
</div>
<div class="discussion-content">
	{{{post.rawContent}}}
</div>
<div class="row">
	{{discussion-upvote
		post=post
		firstPost=true
		upvote='upvote'
	}}
	<div class="small-5 columns end count">
		{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
		{{replyCount}}
	</div>
</div>

