<div class="discussion-reply">
	<div>
		<div class="upvotes">
			{{svg 'upvote-reply' viewBox='0 0 30 30' class='icon upvote-reply'}}
			<small>{{upvoteCount}}</small>
		</div>
		{{user-avatar
			avatarUrl=author.avatarUrl
			profileUrl=authorUrl
			username=author.name
			displayUsername=true
		}}
		<span class="timestamp">
			&bull; {{timeAgo timestamp}}
		</span>
	</div>
	<div class="discussion-content">
		{{{content}}}
	</div>
</div>
