<div class="post-details">
	<figure class="avatar">
		<a href="{{author.profileUrl}}">
			<img src="{{author.avatarPath}}">
		</a>
	</figure>
	<a href="{{author.profileUrl}}">{{author.name}}</a>
	<span class="timestamp">
		&bull; {{timeAgo timestamp}}
	</span>
</div>
<div class="discussion-content">
	{{{content}}}
</div>
<div class="row">
	<div class="small-5 columns upvote">
		{{svg 'upvote' viewBox='0 0 30 30' class='icon upvote'}}
		{{upvoteCount}}
	</div>
	<div class="small-5 columns end">
		{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
		{{replyCount}}
	</div>
</div>

