<div class="discussion-reply">
	<div>
		<div class="upvotes">
			{{discussion-upvote-reply
				post=post
				upvote='upvote'
			}}
		</div>
		<figure class="avatar">
			<a href="{{authorUrl}}">
				<img src="{{post.createdBy.avatarUrl}}">
			</a>
		</figure>
		<a href="{{authorUrl}}" class="author">
			{{post.createdBy.name}}
		</a>
		<span class="timestamp">
			&bull; {{timeAgo post.creationDate.epochSecond}}
		</span>
	</div>
	<div class="discussion-content">
		{{{post.rawContent}}}
	</div>
</div>
