<div>
	{{user-avatar
		avatarUrl=post.createdBy.avatarUrl
		displayUsername=true
		profileUrl=authorUrl
		username=author.name
	}}
	<span class="timestamp">
		&bull; {{time-ago post.creationDate.epochSecond}}
	</span>
</div>
{{#if isDetailsView}}
	<div class="discussion-content">
		{{{parsedContent}}}
	</div>
{{else}}
	<div class="discussion-content" {{action 'goToPost' postId}}>
		{{{parsedContent}}}
	</div>
{{/if}}
<div class="row">
	{{discussion-upvote-post
		post=post
		upvote='upvote'
	}}
	{{#if isDetailsView}}
		<div class="small-5 large-2 columns count">
			<span class="replies-area">
				{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
				{{replyCount}}
			</span>
		</div>
	{{else}}
		<div class="small-2 large-2 columns count">
			<a {{action 'goToPost' postId}} class="replies-area">
				{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
				{{replyCount}}
			</a>
		</div>
	{{/if}}
	<div class="share small-5 large-7 columns">
		{{#if isDetailsView}}
			{{share-feature sharedUrl=sharedUrl}}
		{{else}}
			{{share-feature
				sharedUrl=sharedUrl
				isVisible=isShareFeatureVisible
				onMouseEnter=(action 'cancelHideShareComponent')
				onMouseLeave=(action 'hideShareComponent')
			}}
			<span {{action 'toggleShareComponent'}}>
				{{svg 'share' class='icon toggle-share'}}
			</span>
		{{/if}}
	</div>
</div>
