<div class="post-details">
	<figure class="avatar">
		<img src="{{author.avatarPath}}" alt="">
	</figure>
	<a href="{{profileUrl}}">{{author.name}}</a>
	&bull;
	{{timeAgo timestamp}}
</div>
<div class="post-content">
	{{{content}}}
</div>
<div class="row">
	<div class="small-5 columns">
		<img class="icon upvote" alt="">
	</div>
	<div class="small-5 columns end">
		<img class="icon replies" alt="">
	</div>
</div>

