<div>
	<figure class="avatar">
		<a href="{{authorUrl}}">
			<img src="{{author.avatarUrl}}">
		</a>
	</figure>
	<a href="{{authorUrl}}" class="author">{{author.name}}</a>
	<span class="timestamp">
		&bull; {{timeAgo timestamp}}
	</span>
</div>
<div class="discussion-content">
	{{{content}}}
</div>
<div class="row">
	<div class="small-5 columns upvote count">
		{{svg 'upvote' viewBox='0 0 30 30' class='icon upvote'}}
		{{upvoteCount}}
	</div>
	<div class="small-5 columns end count">
		{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
		{{replyCount}}
	</div>
</div>

