<div class="discussion-reply">
    <div class="discussion-reply-avatar">
        <img src="{{author.avatarPath}}" /><br />
        {{author.name}}
    </div>
    <div class="discussion-reply-meta">
        Created: {{timeAgo timestamp}}<br />
        Upvotes: {{upvoteCount}}<br />
    </div>
    <div class="discussion-reply-content">
        {{content}}
    </div>
</div>
