<div class="discussion-reply">
	<div>
		<div class="upvotes">
			{{svg 'upvote-reply' viewBox='0 0 30 30' class='icon upvote-reply'}}
			<small>{{item.upvoteCount}}</small>
		</div>
		<figure class="avatar">
			<a href="{{author.profileUrl}}">
				<img src="{{author.avatarPath}}">
			</a>
		</figure>
		<a href="{{author.profileUrl}}">
			{{author.name}}
		</a>
		<span class="timestamp">
			&bull; {{timeAgo item.creationDate.epochSecond}}
		</span>
	</div>
	<div class="discussion-content">
		{{{item.rawContent}}}
	</div>
</div>
