<a target="_blank" href="http://line.me/R/msg/text/?{{unbound the_title}}%0D%0A#{{unbound the_permalink}}">{{svg 'line' role='img' class='icon line'}}</a>
<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url">{{svg 'fb' role='img' class='icon fb'}}</a>
<a target="_blank" href="https://twitter.com/share">{{svg 'twitter' role='img' class='icon twitter'}}</a>