{{#if isJapaneseBrowser}}
	<a target="_blank" {{action 'trackClick' 'share' 'line' true preventDefault=false}} href="{{lineShare}}">
		{{svg 'line' role='img' class='icon line'}}
	</a>
{{/if}}
<a target="_blank" {{action 'trackClick' 'share' 'fb' true preventDefault=false}} href="{{facebookShare}}">
	{{svg 'fb' role='img' class='icon fb'}}
</a>
<a target="_blank" {{action 'trackClick' 'share' 'twitter' true preventDefault=false}} href="{{twitterShare}}">
	{{svg 'twitter' role='img' class='icon twitter'}}
</a>
{{#if isJapaneseBrowser}}
	<a target="_blank" {{action 'trackClick' 'share' 'google' true preventDefault=false}} href="{{googleShare}}">
		{{svg 'google' role='img' class='icon google'}}
	</a>
{{/if}}
