{{! Overlay that fades in}}
<div {{action 'collapse'}} class='overlay'></div>
{{!
	This is the element that is slid away
	If this element has search class, the elements in it will rearrange to be in search mode or whatever
}}
<div class='drawer {{if isInSearchMode 'search'}}'>
	<div class='search-container'>
		<div class="search-input-container">
			{{svg 'search-side-menu' viewBox='0 0 14 14' class='icon search-side-menu'}}
			{{input tabindex='-1' placeholder=searchPlaceholderLabel focus-in='searchFocus' value=searchQuery enter='enter'}}
			<div class='clear-search-btn' {{action 'clearSearch' target='view'}}>
				{{svg 'close-side-menu' viewBox='0 0 18 18' class='icon close-side-menu'}}
			</div>
		</div>
		<div {{action 'searchCancel'}} class='cancel'>{{i18n 'app.cancel-label'}}</div>
	</div>
	{{local-wikia-search
		sideNavVisible=shouldBeVisible
		query=searchQuery
		isInSearchMode=isInSearchMode
		collapseSideNav='collapse'
	}}
	{{local-nav-menu
		sideNavVisible=shouldBeVisible
		loadRandomArticle='loadRandomArticle'
		collapseSideNav='collapse'
	}}
</div>
