{{! Overlay that fades in}}
<div {{action 'collapse'}} class='overlay'></div>
{{! 
	This is the element that is slid away
	If this element has search class, the elements in it will rearrange to be in search mode or whatever
}}
<div class='drawer {{if controller.isInSearchMode 'search'}}'>
	<div class='search-container'>
		{{input placeholder=searchPlaceholderLabel focus-in='searchFocus' value=searchQuery action='enter'}}
		{{! add action on this svg too because it's stacked on top of the input area}}
		<svg {{action 'searchFocus'}} viewBox='0 0 14 14' class='icon search-side-menu'>
			<use xlink:href='#search-side-menu'></use>
		</svg>
		<div class='clear-search-btn' {{action 'clearSearch' target='view'}}>
			<svg {{action 'clearSearch' target='view'}} viewbox='0 0 18 18' class='icon close-side-menu'>
				<use xlink:href='#close-side-menu'></use>
			</svg>
		</div>
		<div {{action 'searchCancel'}} class='cancel'>{{i18n 'app.cancel-label'}}</div>
	</div>
	{{local-wikia-search sideNavCollapsed=isCollapsed query=searchQuery isInSearchMode=isInSearchMode}}
	{{local-nav-menu sideNavCollapsed=isCollapsed loadRandomArticle='loadRandomArticle'}}
</div>
