{{#if isUserAuthenticated}}
	<a href="{{unbound userProfileLink.href}}" class="external">
		<figure class="avatar">
			<img src={{currentUser.avatarPath}} alt={{currentUser.name}}>
		</figure>
		{{i18n 'app.my-profile-label'}}
	</a>
	<a href="{{unbound logoutLink.href}}" class="external">{{i18n 'app' logoutLink.textKey}}</a>
{{else}}
	<a class="side-nav-menu__item main" {{action 'goToLogin'}}>{{i18n 'app.sign-in-or-register-label'}}</a>
{{/if}}

{{#each hubsLinks as |link|}}
	<a class="side-nav-menu__item {{link.specialAttr}}" href="{{link.href}}">
		{{link.text}}
	</a>
{{/each}}
<a class="side-nav-menu__item menu" {{action this.attrs.replaceNavigationContent 'explore'}} href="#">
	{{exploreWikiaLabel}}
</a>
<a class="side-nav-menu__item menu" {{action this.attrs.replaceNavigationContent 'local'}} href="#">
	{{i18n 'app.exploreWiki' wikiName=wikiName}}
</a>
