<li class="side-nav-menu__item main">
	{{#if parentItem}}
		{{currentMenuItem.text}}
	{{else}}
		{{i18n 'app.side-nav-menu-label'}}
	{{/if}}
</li>
{{#if parentItem}}
	<li class="side-nav-menu__item back" {{action 'goBack'}}>
		{{i18n 'app.navigation-back-label'}}
	</li>
{{else}}
	<li class="side-nav-menu__item" {{action 'loadRandomArticle'}}>
		{{i18n 'app.random-page-label'}}
	</li>
{{/if}}
{{#each currentMenuItem.children as |child|}}
	{{#if child.children}}
		<li class="side-nav-menu__item menu" {{action 'changeMenuItem' child.index}}>
			{{unbound child.text}}
		</li>
	{{else}}
		<li class="side-nav-menu__item mw-content">
			<a {{action this.attrs.collapse}} href="{{unbound child.href}}">{{unbound child.text}}</a>
		</li>
	{{/if}}
{{/each}}
