<div {{action 'expandSideNav'}} class='side-nav-toggle'>
    {{svg 'nav' viewBox='0 0 24 14' class='icon nav'}}
</div>
{{render 'login' joinPathContext}}
<div class='site-logo' {{action 'trackClick' 'wordmark'}}>
    {{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
</div>
