<div {{action 'expandSideNav'}} class="side-nav-toggle">
    {{svg 'nav' viewBox='0 0 24 14' class='icon nav'}}
</div>
{{#if isUserAuthenticated}}
	<figure {{action 'showUserMenu'}} class="avatar">
		<img src={{currentUser.avatarPath}} alt={{currentUser.name}}>
	</figure>
{{else}}
	{{login-icon}}
{{/if}}
<div class="site-logo">
	<a {{action 'trackClick' 'wordmark' preventDefault=false}} href={{wikiaHomepage}}>
		{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
	</a>
</div>
