{{svg 'wikia-logo' role='img' class='icon wikia-logo logo-image'}}
<user-status
	class="user-status"
	anon-avatar-src="http://wikia.github.io/style-guide/assets/images/icons/icon_avatar.svg"
	anon-avatar-href="/join"
	user-logged-in={{isUserLoggedIn}}
	user-avatar-src="{{currentUser.avatarPath}}">
	{{#each links as |link|}}
		<li>
			<a href="{{unbound link.href}}" class="external">{{i18n 'app' link.textKey}}</a>
		</li>
	{{/each}}
</user-status>
