<figure>
	<div class='item-image' style='{{imageStyle}}'>
		<img src='{{currentlyRenderedImageUrl}}' alt='{{title}}' />
		{{#if duration}}<div class="item-duration">{{duration duration}}</div>{{/if}}
	</div>
	<figcaption class='item-figcaption'>{{title}}</figcaption>
</figure>
