<figure>
	<div class='item-image' style='{{imageStyle}}'>
		<img src='{{thumbUrl}}' alt='{{title}}' />
		<div class="item-duration">{{duration duration}}</div>
	</div>
	<figcaption class='item-figcaption'>{{title}}</figcaption>
</figure>
