<figure class="avatar">
	{{#if avatarUrl}}
		{{#if profileUrl}}
			<a href="{{profileUrl}}">
				<img src="{{avatarUrl}}">
			</a>
		{{else}}
			<img src="{{avatarUrl}}">
		{{/if}}
	{{else}}
		{{svg 'avatar' viewBox='0 0 40 40' class='icon'}}
	{{/if}}
</figure>
{{#if displayUsername}}
	<a href="{{profileUrl}}" class="avatar-username">{{username}}</a>
{{/if}}
