<figure class="avatar">
	<a href="{{profileUrl}}">
		<img src="{{avatarUrl}}">
	</a>
</figure>
{{#if displayUsername}}
<a href="{{profileUrl}}" class="avatar-username">
	{{#if truncateName}}
		{{truncate username truncateName}}
	{{else}}
		{{username}}
	{{/if}}
</a>
{{/if}}
