<user-status
	class="user-status needsclick"
	user-logged-in={{userLoggedIn}}
	user-avatar-src="{{userAvatarSrc}}"
	user-name="{{userName}}">

	{{#if userLoggedIn}}
		{{#each userMenuLinks as |link|}}
			<li>
				<a href="{{unbound link.href}}" class="external">{{i18n 'app' link.textKey}}</a>
			</li>
		{{/each}}
	{{else}}
		<figure>
			<a href="{{anonAvatarHref}}">
				{{svg 'avatar' role='img' class='icon login'}}
			</a>
		</figure>
		<span class="register-cta">
			{{{i18n 'userStatus.anon-cta'
				loginLink=loginLink
				registerLink=registerLink
			}}}
		</span>
	{{/if}}
</user-status>
