<figure class="avatar">
	{{#if avatarUrl}}
		{{#if wrapAvatar}}
			<a href="{{profileUrl}}">
				<img src="{{avatarUrl}}">
			</a>
		{{else}}
			<img src="{{avatarUrl}}">
		{{/if}}
	{{else}}
		{{svg 'avatar' viewBox='0 0 40 40' class='icon'}}
	{{/if}}
</figure>
{{#if displayProfileName}}
	<a href="{{profileUrl}}" class="avatar-username">{{profileName}}</a>
{{/if}}
