<div class="wikia-stats-container">
	{{#if model.pages}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">{{i18n 'app.pages-label' }}</div>
			<div class="wikia-stats-value">{{numeral model.pages '0 a'}}</div>
		</div>
	{{/if}}
	{{#if model.images}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">{{i18n 'app.photos-label' }}</div>
			<div class="wikia-stats-value">{{numeral model.images '0 a'}}</div></div>
	{{/if}}
	{{#if model.videos}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">{{i18n 'app.videos-label' }}</div>
			<div class="wikia-stats-value">{{numeral model.videos '0 a'}}</div>
		</div>
	{{/if}}
</div>
