{{#if model.header}}
	{{#rl-dropdown-container class=dropdownContainerClassNames}}
		{{!-- TODO handle title={{model.header.username.value}} --}}
		{{#rl-dropdown-toggle tagName="div" class="wds-dropdown__toggle wds-global-navigation__dropdown-toggle"}}
			{{#if showAvatar}}
				<img class="wds-avatar wds-is-circle" src="{{model.header.url}}" alt="{{model.header.username.value}}" />
			{{else}}
				<span>{{i18n model.header.title.key ns='design-system'}}</span>
			{{/if}}
			{{svg 'wds-icons-dropdown-tiny' class='wds-icon wds-icon-tiny wds-dropdown__toggle-chevron'}}
		{{/rl-dropdown-toggle}}
		{{#rl-dropdown class=dropdownClassNames closeOnChildClick="a"}}
			<ul class="wds-list wds-is-linked">
				{{#each model.links as |link|}}
					<li>
						{{#if (equal link.type 'link-authentication')}}
							{{design-system/global-navigation-link-authentication model=link}}
						{{else}}
							{{design-system/global-navigation-link-dropdown model=link}}
						{{/if}}
					</li>
				{{/each}}
			</ul>
		{{/rl-dropdown}}
	{{/rl-dropdown-container}}
{{else}}
	{{#each model.links as |link|}}
		{{design-system/global-navigation-link model=link}}
	{{/each}}
{{/if}}
