<div id="globalNavigation" class="wds-global-navigation {{if isGlobalNavigationPositionFixed 'is-fixed'}} {{if searchIsActive 'wds-search-is-active'}}">
	<div class="wds-global-navigation__content-bar">
		{{#unless model.logo.header.subtitle}}
			<a href="{{model.logo.header.href}}" class="wds-global-navigation__logo">
				{{svg model.logo.header.image class='wds-global-navigation__logo-fandom'}}
			</a>
		{{else}}
			<a href="{{model.logo.header.href}}" class="wds-global-navigation__logo wds-global-navigation__logo-wikia">
				{{svg model.logo.header.image class='wds-global-navigation__logo-wikia-icon'}}
				<span class="wds-global-navigation__logo-wikia-caption">{{i18n model.logo.header.subtitle.key ns='design-system'}}</span>
			</a>
		{{/unless}}
		<div class="wds-global-navigation__links-and-search">
			{{#each model.fandom_overview.links as |link|}}
				{{design-system.global-navigation-link-branded model=link}}
			{{/each}}
            {{design-system.global-navigation-links
                model=model.wikis
                type='wikis-menu'
                onClose=(action 'onDropdownClose')
                onOpen=(action 'onDropdownOpen')
            }}
            {{design-system.global-navigation-search
                model=model.search.module
                activateSearch='activateSearch'
                deactivateSearch='deactivateSearch'
            }}
		</div>
		{{#if model.user}}
			{{design-system.global-navigation-links
				dropdownRightAligned=true
				model=model.user
				type='user-menu'
				onClose=(action 'onDropdownClose')
				onOpen=(action 'onDropdownOpen')
			}}
		{{else if model.anon}}
			{{design-system.global-navigation-account-navigation
				model=model.anon
				onClose=(action 'onDropdownClose')
				onOpen=(action 'onDropdownOpen')
			}}
		{{/if}}
		<div class="wds-global-navigation__start-a-wiki">
			<a href="{{model.create_wiki.header.href}}" class="wds-button wds-is-squished wds-is-secondary">
				<span class="wds-global-navigation__start-a-wiki-caption">{{i18n model.create_wiki.header.title.key ns='design-system'}}</span>
				{{svg 'wds-icons-plus' class='wds-global-navigation__start-a-wiki-icon wds-icon'}}
			</a>
		</div>
	</div>
</div>
