<a {{action 'back'}} title="{{backArrowTooltip}}" class="sub-head--cancel">{{svg 'back-arrow' role='img'
class='icon'}}</a>
<button class="sub-head--done" {{action 'confirm'}}>{{confirmBtnLabel}}</button>
<div class="sub-head--title">{{title}}</div>
