{{#if fullPage}}
	{{outlet}}
{{else}}
	{{site-head
		smartBannerVisible=smartBannerVisible
		toggleDrawer=this.attrs.toggleDrawer
		themeBar=themeBar
		wikiaHomepage=wikiaHomepage
		drawerContent=activeDrawerContent
		drawerVisible=drawerVisible
		setDrawerContent=(action 'setDrawerContent')
	}}

	{{site-head-fandom-bar}}

	{{#wikia-drawer
		shouldBeVisible=drawerVisible
		wikiaHomepage=wikiaHomepage
	}}
		{{#if activeDrawerContent}}
			{{component
				drawerContentComponent
				closeDrawer=(action 'closeDrawer')
				loadRandomArticle=this.attrs.loadRandomArticle
			}}
		{{/if}}
	{{/wikia-drawer}}

	{{smart-banner-android
        isVisible=smartBannerVisible
        toggleVisibility=attrs.toggleSmartBanner
	}}
	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
