{{#if fullPage}}
	{{outlet}}
{{else}}
	{{smart-banner-android
		isVisible=smartBannerVisible
		toggleVisibility=attrs.toggleSmartBanner
	}}

	{{!--
		temporary change for nav entry points AB test - https://wikia-inc.atlassian.net/browse/DAT-4052
		cleanup as a part of https://wikia-inc.atlassian.net/browse/DAT-4064

		previous code:

		{{site-head
			smartBannerVisible=smartBannerVisible
			toggleSideNav=attrs.toggleSideNav
			toggleUserMenu=attrs.toggleUserMenu
			toggleSiteHeadPinned=attrs.toggleSiteHeadPinned
			themeBar=themeBar
		}}
	--}}
	{{site-head
		smartBannerVisible=smartBannerVisible
		toggleSideNav=attrs.toggleSideNav
		toggleUserMenu=attrs.toggleUserMenu
		toggleSiteHeadPinned=attrs.toggleSiteHeadPinned
		themeBar=themeBar
		navABTestChangeUI=navABTestChangeUI
		navABTestIsFabSearchIcon=navABTestIsFabSearchIcon
		navABTestIsFabMenuIcon=navABTestIsFabMenuIcon
		navABTestIsControlGroup=navABTestIsControlGroup
		navABTestExperimentName=navABTestExperimentName
		navABTestIsBarMenuIcon=navABTestIsBarMenuIcon
		navABTestIsBarDropdownIcon=navABTestIsBarDropdownIcon
		leftSiteHeadIconClick=(action 'leftSiteHeadIconClick')
		rightSiteHeadIconClick=(action 'rightSiteHeadIconClick')
	}}

	{{!--
		temporary change for nav entry points AB test - https://wikia-inc.atlassian.net/browse/DAT-4052
		cleanup as a part of https://wikia-inc.atlassian.net/browse/DAT-4064
	--}}
	{{#if displayFabIcon}}
		{{wikia-ui-components/icon-button
			class='fab-button-navigation'
			click=(action 'fabIconClick')
			icon=fabIcon
			iconSize=24
		}}
	{{/if}}

	{{!--
		temporary change for nav entry points AB test - https://wikia-inc.atlassian.net/browse/DAT-4052
		cleanup as a part of https://wikia-inc.atlassian.net/browse/DAT-4064
	--}}
	{{#if navABTestEnableShare}}
		{{#if enableShareHeader}}
			{{share-header
				smartBannerVisible=smartBannerVisible
				title=currentTitle
				language=language
			}}
		{{/if}}
	{{/if}}

	{{!--
		temporary change for nav entry points AB test - https://wikia-inc.atlassian.net/browse/DAT-4052
		cleanup as a part of https://wikia-inc.atlassian.net/browse/DAT-4064

		previous code:

		{{side-nav
			shouldBeVisible=sideNavVisible
			loadRandomArticle=attrs.loadRandomArticle
			toggleVisibility=attrs.toggleSideNav
		}}
	--}}
	{{side-nav
		shouldBeVisible=sideNavVisible
		loadRandomArticle=attrs.loadRandomArticle
		toggleVisibility=attrs.toggleSideNav
		shouldOpenNavSearch=shouldOpenNavSearch
		shouldFocusSearchInput=shouldFocusSearchInput
	}}

	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
