{{#if fullPage}}
	{{outlet}}
{{else}}
	{{smart-banner-android
		isVisible=smartBannerVisible
		toggleVisibility=attrs.toggleSmartBanner
	}}

	{{site-head
		smartBannerVisible=smartBannerVisible
		toggleDrawer=this.attrs.toggleDrawer
		toggleSiteHeadPinned=this.attrs.toggleSiteHeadPinned
		themeBar=themeBar
		wikiaHomepage=wikiaHomepage
		activeIcon = activeNavigationDrawerContent
		menuIcon = navigationDrawerMenu
		searchIcon = navigationDrawerSearch
		setNavigationDrawerContent=(action 'setNavigationDrawerContent')
	}}

	{{#wikia-drawer
		shouldBeVisible=drawerVisible
		wikiaHomepage=wikiaHomepage
	}}
		{{#if showSearchInNavigationDrawer}}
			{{wikia-search}}
		{{else}}
			{{wikia-navigation loadRandomArticle=attrs.loadRandomArticle}}
		{{/if}}
	{{/wikia-drawer}}

	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
