{{#if fullPage}}
	{{outlet}}
{{else}}
	{{smart-banner-android
		isVisible=smartBannerVisible
		toggleVisibility=attrs.toggleSmartBanner
	}}

	{{site-head
		smartBannerVisible=smartBannerVisible
		toggleSideNav=attrs.toggleSideNav
		toggleSiteHeadPinned=attrs.toggleSiteHeadPinned
		themeBar=themeBar
		wikiaHomepage=wikiaHomepage
		setNavigationDrawerContent=(action 'setNavigationDrawerContent')
	}}

	{{#side-nav
		shouldBeVisible=sideNavVisible
		wikiaHomepage=wikiaHomepage
	}}
		{{#if showSearchInNavigationDrawer}}
			{{wikia-search}}
		{{else}}
			{{side-nav-menu loadRandomArticle=attrs.loadRandomArticle}}
		{{/if}}
	{{/side-nav}}

	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		isVisible=lightboxVisible
		lightboxCloseButtonDelay=lightboxCloseButtonDelay
		closeLightbox=attrs.closeLightbox
		setQueryParam=attrs.setQueryParam
	}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
