<header class="sub-head">
	{{#link-to 'recent-wiki-activity' class="sub-head--cancel"}}
		{{svg 'back-arrow' role='img' class='icon'}}
	{{/link-to}}
    <div class="sub-head--title">{{i18n 'main.title' ns='recent-wiki-activity'}}</div>
</header>

{{recent-change model=model showDiffLink=showDiffLink}}

<div class="diff-page-legend">
	<span class="diff-page-legend__previous"></span>
	<span class="diff-page-legend__text">
		{{i18n 'diff.before' ns='recent-wiki-activity'}}
	</span><br>
	<span class="diff-page-legend__current"></span>
	<span class="diff-page-legend__text">
		{{i18n 'diff.after' ns='recent-wiki-activity'}}
	</span>
</div>

{{#each model.diffs as |diffs|}}
	{{#each diffs as |diff|}}
		<div class="{{diff.class}}{{if diff.allChanged ' all-changed'}}">{{diff.content}}</div>
	{{/each}}
{{/each}}

{{#if currentUser.isAuthenticated}}
	<button {{action 'showConfirmation'}} class="diff-page__undo">{{i18n 'main.undo-label' ns='recent-wiki-activity'}}</button>
{{/if}}
