{{#if contributionEnabled}}
	{{#wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImage}}
		{{article-contribution
			addPhoto='addPhoto'
			addPhotoAllowed=addPhotoAllowed
			addPhotoIconVisible=addPhotoIconVisible
			edit='edit'
			editAllowed=editAllowed
			editIconVisible=editIconVisible
			section=0
			title=model.displayTitle
		}}
	{{/wikia-ui-components/wiki-page-header}}
{{else}}
	{{wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=wikiPageHeaderSubtitle heroImage=heroImage}}
{{/if}}
<section class="article-body">
	{{ad-slot isAboveTheFold=true name='NATIVE_PAID_ASSET_DROP'}}
	{{#if model.fileImage}}
		{{article-media-thumbnail
			height=model.fileImage.height
			itemContext=model.fileImage.itemContext
			shouldBeLoaded=model.fileImage.shouldBeLoaded
			title=model.fileImage.title
			type=model.fileImage.type
			url=model.fileImage.url
			width=model.fileImage.width
		}}
	{{/if}}
	{{article-content
		addPhoto='addPhoto'
		addPhotoAllowed=addPhotoAllowed
		addPhotoIconVisible=addPhotoIconVisible
		adsContext=model.adsContext
		content=model.content
		contributionEnabled=contributionEnabled
		displayEmptyArticleInfo=displayEmptyArticleInfo
		displayTitle=model.displayTitle
		edit='edit'
		editAllowed=editAllowed
		editIconVisible=editIconVisible
		heroImage=model.heroImage
		media=model.media
		openLightbox=(action 'openLightbox')
		uploadFeatureEnabled=uploadFeatureEnabled
	}}
</section>
{{yield}}
<section class="article-footer">
	{{wikia-users
		classes='contributors'
		users=model.topContributors
	}}
	{{#if showComments}}
		{{article-comments
			articleId=model.id
			commentsCount=model.comments
			page=commentsPage
		}}
	{{/if}}
	{{#if model.categories}}
		{{#collapsible-menu
			observe=model.displayTitle
			ordered=false
			showMenuIcon=false
			tLabel='app.article-categories-list-label'
			trackingEvent='category-menu'
		}}
			{{#each model.categories as |category|}}
				<li class="mw-content" {{action 'trackClick' 'category-menu' 'open-category'}}>
					<a href="{{unbound category.url}}" title="{{unbound category.title}}">
						{{unbound category.title}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
	{{#if model.otherLanguages}}
		{{#collapsible-menu
			observe=model.displayTitle
			ordered=false
			showMenuIcon=false
			tLabel='app.article-other-languages'
		}}
			{{#each model.otherLanguages as |link|}}
				<li class="mw-content">
					<a href="{{unbound link.url}}" title="{{unbound link.title}}">
						{{unbound link.languageName}} | {{unbound link.articleTitle}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
</section>
