{{! This wrapper is required so the chevron is positioned correctly }}
<div class="article-media-thumbnail-image-wrapper">
	{{#if link}}
		<a href="{{link}}">
			<img src="{{thumbnailUrl}}"
				height="{{if forcedHeight forcedHeight height}}"
				width="{{if forcedWidth forcedWidth width}}">
			{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
		</a>
	{{else}}
		<img src="{{thumbnailUrl}}"
			height="{{if forcedHeight forcedHeight height}}"
			width="{{if forcedWidth forcedWidth width}}">
	{{/if}}
</div>

{{! Allow custom captions }}
{{#if hasBlock}}
	{{yield}}
{{else}}
	{{#if hasFigcaption}}
		<figcaption>
			{{#if showTitle}}
				<div>{{title}}</div>
			{{/if}}
			{{{caption}}}
		</figcaption>
	{{/if}}
{{/if}}
