{{#if link}}
	<a href="{{link}}" {{action 'clickLinkedImage'}}>
		<img src="{{thumbnailUrl}}" height="{{height}}" width="{{width}}">
		{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
	</a>
{{else}}
	<img src="{{thumbnailUrl}}" height="{{height}}" width="{{width}}" data-ref={{ref}} data-gallery-ref={{galleryRef}}>
{{/if}}
{{#if hasCaption}}
    {{#if title}}
        <div>{{title}}</div>
    {{/if}}
	<figcaption>{{{caption}}}</figcaption>
{{/if}}
