<header class="sub-head">
	{{#link-to 'recent-wiki-activity' (query-params rc=model.id)
		class="sub-head--cancel"
		trackingCategory='recent-wiki-activity'
		trackingLabel='article-diff__go-back'
	}}
		{{svg 'back-arrow' role='img' class='icon'}}
	{{/link-to}}
	<div class="sub-head--title">{{i18n 'main.title' ns='recent-wiki-activity'}}</div>
</header>

{{recent-change
	id=model.id
	model=model
	revisionId=model.newId
	showDiffLink=showDiffLink
	showError=showError
}}

<div class="diff-page-legend">
	<span class="diff-page-legend__previous"></span>
	<span class="diff-page-legend__text">
		{{i18n 'diff.before' ns='recent-wiki-activity'}}
	</span><br>
	<span class="diff-page-legend__current"></span>
	<span class="diff-page-legend__text">
		{{i18n 'diff.after' ns='recent-wiki-activity'}}
	</span>
</div>

{{#each model.diffs as |diff|}}
	<div class="{{diff.classes}}">{{diff.content}}</div>
{{/each}}

{{#if showButtons}}
	<div class="diff-page__buttons">
		<button {{action 'showConfirmation'}}
				class="diff-page__button diff-page__undo">
			{{svg 'undo' viewBox='0 0 18 18' class='diff-page__button-icon'}}
			<span class="diff-page__button-text">{{i18n 'main.undo-label' ns='recent-wiki-activity'}}</span>
		</button>
		<button {{action 'handleVote'}}
				class="diff-page__button {{if upvoted 'diff-page__vote--upvoted' 'diff-page__vote'}}">
			{{svg 'kudos' viewBox='0 4 18 18' class='diff-page__button-icon'}}
			<span class="diff-page__button-text">{{i18n 'main.nice-work-button-label' ns='recent-wiki-activity'}}</span>
		</button>
	</div>
{{/if}}

{{#if shouldShowUndoConfirmation}}
	{{confirmation-modal
		close=(action 'closeConfirmation')
		confirm='undo'
		summaryPlaceholder=(i18n 'confirmation.placeholder-undo' ns='recent-wiki-activity')
		confirmText=(i18n 'main.undo-label' ns='recent-wiki-activity')
	}}
{{/if}}
