<header class="sub-head">
	{{#link-to 'recent-wiki-activity' class="sub-head--cancel"}}
		{{svg 'back-arrow' role='img' class='icon'}}
	{{/link-to}}
    <div class="sub-head--title">{{i18n 'main.title' ns='recent-wiki-activity'}}</div>
</header>

{{recent-change model=model}}
{{#each model.diffs as |diffs|}}
	{{#each diffs as |diff|}}
		<div class="{{diff.class}}{{if diff.allChanged ' all-changed'}}">{{diff.content}}</div>
	{{/each}}
{{/each}}

{{#if currentUser.isAuthenticated}}
	<button {{action 'undo'}}>{{i18n 'main.undo-label' ns='recent-wiki-activity'}}</button>
{{/if}}
