{{#if link}}
	<a href="{{link}}" {{action 'clickLinkedImage'}}>
		<img src="{{thumbnailUrl}}">
		{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
	</a>
{{else}}
	<img src="{{thumbnailUrl}}" data-ref={{ref}} data-gallery-ref={{galleryRef}}>
{{/if}}
{{#if caption}}
	<figcaption>{{{caption}}}</figcaption>
{{/if}}
