<a {{action this.attrs.onLinkClick 'fandom' preventDefault=false}} href="http://wikia.com">
	{{wikia-ui-components/icon-button
		icon='fandom-logo'
		iconSize=24
	}}
</a>
{{#link-to 'wiki-page' homePageTitle invokeAction=(action this.attrs.onLinkClick 'home')}}
	{{wikia-ui-components/icon-button
		icon='home'
		iconSize=24
	}}
{{/link-to}}
{{wikia-ui-components/icon-button
	click=(action this.attrs.onButtonClick 'showSearch')
	icon='search-for-ab-test'
	iconSize=24
}}
{{#if navABTestIsButtonBar}}
	{{wikia-ui-components/icon-button
		click=(action this.attrs.onButtonClick 'showNav')
		icon='menu'
		iconSize=24
	}}
{{/if}}
