{{! Keep the same HTML structure as in server/app/views/_partials/category-members-grouped.hbs }}
{{#if prevPage}}
	<div class="category-navigation">
		{{loading-spinner
			active=true
			overlay=false
			radius=16
			strokeWidth=2
		}}
		<a href="{{prevPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button" {{action 'loadPage' prevPage}}>
			{{i18n 'app.category-page-load-previous'}}
		</a>
	</div>
{{/if}}
{{#each-in membersGrouped as |firstLetter members|}}
	<div class="category-members-group">
		<h3>{{firstLetter}}</h3>
		<ul class="mw-content wds-has-big-items wds-list">
			{{#each members as |category|}}
				{{#if category.isCategory}}
					<li class="subcategory">
						{{svg 'wds-icons-pages-small' role='img' class='wds-icon-small'}}
						<a href="{{category.url}}">{{category.title}}</a>
					</li>
				{{else}}
					<li>
						<a href="{{category.url}}">{{category.title}}</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</div>
{{else}}
	<div>{{i18n 'app.category-page-no-members'}}</div>
{{/each-in}}
{{#if nextPage}}
	<div class="category-navigation">
		{{loading-spinner
			active=true
			overlay=false
			radius=16
			strokeWidth=2
		}}
		<a href="{{nextPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button" {{action 'loadPage' nextPage}}>
			{{i18n 'app.category-page-load-more'}}
		</a>
	</div>
{{/if}}
{{alert-notifications alerts=alertNotifications}}
