<div {{action 'toggleMenu'}} class="{{if isCollapsed 'collapsed'}} title">
	{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
	{{i18n tLabel count=tCount}}
</div>
{{#if ordered}}
	<ol>
		{{yield}}
	</ol>
{{else}}
	<ul>
		{{yield}}
	</ul>
{{/if}}
