<div class="confirmation-message">
	<header class="sub-head">
		<button {{action attrs.close}} class="sub-head--cancel">
			{{svg 'close' role='img' class='icon'}}
		</button>
		<div class="sub-head--title"></div>
		<button {{action 'confirm'}} class="sub-head--done">{{confirmText}}</button>
	</header>
	{{textarea class='confirmation-message__textarea' value=summary placeholder=summaryPlaceholder}}
</div>
