<header>{{i18n 'app.curated-content-editor-wikia-description'}}</header>
<a class="curated-content-editor-info" {{action 'showHelp'}}>{{svg 'info' class='pointer-events-none' viewBox='0 0 18 18'}}</a>
<div class="block-description">{{i18n 'app.curated-content-editor-wikia-description-description'}}</div>
<div class="curated-content-input-wrapper">
	<div class="input-container">
		{{input
			value=model.description
			id='label'
			class=labelClass
			name='label'
			focus-out='setLabelFocusedOut'
			focus-in='setLabelFocusedIn'
		}}
		<label class="floating-label {{if isLabelActive 'active'}}" for="label">{{i18n 'app.curated-content-editor-enter-wikia-description'}}</label>
	</div>
</div>
{{#modal-dialog isVisible=isHelpVisible}}
	{{i18n 'app.curated-content-editor-wikia-description-help'}}
{{/modal-dialog}}
