<legend {{action 'toggle'}}>{{i18n 'main.categories-header' ns='discussion'}}</legend>
<ul class="discussion-categories-list {{if collapsed 'collapsed'}}">
	<li>
		{{wikia-ui-components/fancy-check-box
		label=(i18n 'main.category-all-name' ns='discussion')
		inputId='discussion-category-all'
		}}
	</li>
	{{#each categories as |category|}}
		<li>
			{{wikia-ui-components/fancy-check-box
			label=category.name
			inputId=(concat 'discussion-category-' category.id)
			}}
		</li>
	{{/each}}
</ul>
