<div class="discussion-hero-unit-image {{if isEditMode 'highlight-overlay-content'}}" style="{{imageBackground}}">
	{{#unless isEditMode}}
		<div class="discussion-hero-unit-content {{contentClassNames}}">
			{{#if userName}}
				{{discussion-post-list-header
					userName=userName
					contributors=contributors
					numberOfPosts=numberOfPosts
				}}
			{{else}}
				<h1>{{headerTitle}}</h1>
				{{#if numberOfPosts}}
					<p>{{i18n 'main.number-of-posts' numberOfPosts=numberOfPosts ns='discussion'}}</p>
				{{/if}}
				{{#if contributors}}
					{{discussion-contributors
						users=contributors.users
						maxContributorDisplayCount=6
						totalContributorCount=contributors.count
					}}
				{{/if}}
			{{/if}}
		</div>
	{{/unless}}
	{{#if canEdit}}
		{{#if isEditMode}}
			{{#if isImagePreviewMode}}
				<img class="image-edit-preview" src="{{newImageUrl}}" />
			{{else}}
				<div class="image-edit-mode">
					{{#if isLoadingMode}}
						<div class="is-loading">
							{{loading-spinner
								active=true
								overlay=false
								radius=32
								strokeWidth=2
							}}
						</div>
					{{else}}
						{{file-input
							classNames=fileInputClassNames
							click=(action 'emptyClickForFileInput')
							fileUpload=(action 'fileUpload')
							label=(i18n 'main.upload-image-button-text' ns='discussion')
						}}
						{{{i18n 'main.edit-hero-unit-hint-text' ns='discussion'}}}
					{{/if}}
				</div>
			{{/if}}
			{{#unless isLoadingMode}}
				<div class="error-message-container {{if errorMessage 'is-visible'}}">
					{{svg 'report' viewBox='0 0 18 18' class='icon error'}}
					<span class="error-message">{{errorMessage}}</span>
				</div>
				{{discussion-edit-approve-buttons
					approve=(action 'disableEditMode')
					close=(action 'disableEditMode')
				}}
			{{/unless}}
		{{else}}
			{{discussion-edit-image-button
				click=(action 'enableEditMode')
				label='main.edit-hero-unit-button-text'
			}}
		{{/if}}
	{{/if}}
</div>
{{wikia-ui-components/highlight-overlay
	isVisible=isEditMode
}}
