<ul class="user-activity-options">
	<li class="{{if isPostsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.posts' click=(action 'trackUserActivityActiveUsersTabTap')}}
			{{{i18n 'user-activity.active-users-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
	<li class="{{if isReportsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.reports' click=(action 'trackUserActivityReportsTabTap')}}
			{{{i18n 'user-activity.reports-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
	<li class="{{if isModerationsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.moderations' click=(action 'trackUserActivityModeratorActionsTabTap')}}
			{{{i18n 'user-activity.moderator-actions-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
</ul>

{{#if responsive.isDesktop}}
	{{discussion-days-toggle
		days=days
		setDays=setDays
	}}
{{/if}}
