{{#if responsive.isDesktop}}
	{{discussion-inline-post-editor
		categories=categories
		categoryPickerButtonId='categoryPickerButtonDesktop'
		create=(action this.attrs.createPost)
		errorMessage=editorState.errorMessage
		generateOpenGraph=(action this.attrs.generateOpenGraph)
		gotoGuidelines=(action this.attrs.gotoGuidelines)
		isActive=editorState.isOpen
		isLoading=editorState.isLoading
		setEditorActive=(action this.attrs.setEditorActive)
	}}
{{/if}}
{{discussion-welcome
	gotoGuidelines=(action this.attrs.gotoGuidelines)
}}
{{#each posts as |entity|}}
	{{discussion-post-card-detail
		approve=(action this.attrs.approve)
		author=entity.createdBy
		categories=categories
		delete=(action this.attrs.deletePost)
		lock=(action this.attrs.lockPost)
		openEditEditor=(action this.attrs.openEditEditor)
		post=entity
		replyCount=entity.repliesCount
		report=(action this.attrs.report)
		setEditorActive=(action this.attrs.setEditorActive)
		undelete=(action this.attrs.undeletePost)
		unlock=(action this.attrs.unlockPost)
		upvote=(action this.attrs.upvote)
	}}
{{else}}
	{{discussion-empty-forum-message
		setEditorActive=(action this.attrs.setEditorActive)
	}}
{{/each}}

{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
