<form name="discussion-filters">
	<div class="discussion-filters-fields-wrapper">
		{{#if canShowCategories}}
			{{discussion-categories
				categories=categories
				disabled=isCategoryFilterDisabled
				inputIdPrefix='filters'
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				updateCategories=(action this.attrs.updateCategories)
				updateCategoriesSelection=(action 'updateCategoriesSelection')
				validatePostsOnForum=(action this.attrs.validatePostsOnForum)
			}}
		{{/if}}
		{{#if showReportedFilter}}
			{{#if canModerate}}
				<fieldset class="discussion-fieldset moderation-fieldset">
					<legend>{{i18n 'main.moderation-filters-header' ns='discussion'}}</legend>
					{{wikia-ui-components.fancy-check-box
							inputId='discussion-filters-moderation'
							class='moderation-checkbox-label'
							isChecked=onlyReported
							label=(i18n 'main.reported-content-filter-text' ns='discussion')
							update=(action 'toggleReported')
					}}
				</fieldset>
			{{/if}}
		{{/if}}
		{{#if showSortSection}}
			{{discussion-sort
					sortBy=sortBy
					setSortBy=(action 'setSortBy')
					disabled=isSortingDisabled
			}}

		{{/if}}
		{{!--{{#if showSortSection}}
			<fieldset class="discussion-fieldset sortby-fieldset" disabled={{isSortingDisabled}}>
				<legend>{{i18n 'main.sort-by-header' ns='discussion'}}</legend>
				<ul class="sort-options">
					{{#each discussionSort.sortTypes as |sortType|}}
						<li class="sort-{{sortType.name}}">
							<input type="radio" value="{{sortType.name}}" {{action 'setSortBy' sortType.name}} name="sort-button" class="bullet" id="sort-button-{{sortType.messageKey}}">
							<label for="sort-button-{{sortType.messageKey}}">
								<div class="radio-fancy {{if (equal sortType.name sortBy) 'active active-element-background-color'}}"><div class="inside"></div></div>
								{{i18n sortType.messageKey ns='discussion'}}
							</label>
						</li>
					{{/each}}
				</ul>
			</fieldset>
		{{/if}}--}}
	</div>
	{{#if showApplyButton}}
		<div class="filters-apply-container header-text-theme-color">
			<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
		</div>
	{{/if}}
</form>
