<div class="side-spaced">
	<div id="post-{{post.id}}" class="post-header">
		{{#if showTopNote}}
			{{discussion-post-card-top-note
					approve=(action this.attrs.approve)
					canShowModButtons=isDetailsView
					delete=(action this.attrs.delete)
					isReported=isReported
					post=post
					threadCreatorName=post.threadCreatedBy.name
			}}
		{{/if}}
		{{user-avatar
				avatarUrl=author.avatarUrl
				badgePermission=author.badgePermission
				displayProfileName=true
				username=author.name
		}}
		<span class="timestamp" title="{{timestamp-to-date post.creationTimestamp}}">
			&bull; {{time-ago post.creationTimestamp}}
		</span>
		{{#unless hideMoreOptions}}
			{{discussion-tooltip
					arrowDirection='right'
					localStorageId='discussionShareTooltipSeen'
					parent='.post-detail'
					pointingTo='svg.icon.more-icon'
					seen=shareTooltipSeen
					show=post.isNew
					showOnceInApplication=true
					text=(i18n 'main.share-tooltip' ns='discussion')
					visibleOnce=true
			}}
			<div class="discussion-more-options" id="post-options-{{post.threadId}}" {{action 'hideShareTooltip'}}>
				{{svg 'more' viewBox='0 0 4 18' class='icon more-icon'}}
			</div>
			{{#pop-over for=(concat 'post-options-' post.threadId) on='click' flow='flip' class='more-options-pop-over'}}
				{{discussion-more-options
						delete=(action this.attrs.delete)
						deleteMessage=(i18n 'main.delete-post' ns='discussion')
						editMessage=(i18n 'main.edit-post' ns='discussion')
						isLockable=true
						isShareable=true
						lock=(action this.attrs.lock)
						lockMessage=(i18n 'main.lock-post' ns='discussion')
						openEditEditor=(action this.attrs.openEditEditor)
						post=post
						report=(action this.attrs.report)
						reportMessage=(i18n 'main.report-post' ns='discussion')
						setEditorActive=(action this.attrs.setEditorActive)
						showShareDialog=(action 'showShareDialog')
						undelete=(action this.attrs.undelete)
						undeleteMessage=(i18n 'main.undelete-post' ns='discussion')
						unlock=(action this.attrs.unlock)
						unlockMessage=(i18n 'main.unlock-post' ns='discussion')
				}}
			{{/pop-over}}
		{{/unless}}

	</div>
	{{#if isDetailsView}}
		<div class="discussion-content">
			{{#if post.title}}
				<h1 class="post-title">{{post.title}}</h1>
			{{/if}}
			{{{parsedContent}}}
		</div>
	{{else}}
		<div class="discussion-content">
			{{#if post.title}}
				<h2 class="post-title">
					<a href="{{href-to 'discussion.post' post.threadId}}" class="post-details-link">{{post.title}}</a>
				</h2>
			{{/if}}
			<a href="{{href-to 'discussion.post' post.threadId}}" class="post-details-link clamp">{{{parsedContent}}}</a>
		</div>
	{{/if}}
	{{#if post.openGraph}}
		{{discussion-open-graph
				isListView=true
				openGraphData=post.openGraph
		}}
	{{/if}}
	<div class="row post-bottom-row">
		{{#if canShowCategories}}
			{{#if categoryName}}
				<span class="post-category-name">
					{{i18n 'main.in-category-label' ns='discussion' categoryName=categoryName}}
				</span>
			{{/if}}
		{{/if}}
		<span class="post-counters">
			<span class="upvote-count">
				{{svg 'upvote-tiny' viewBox='0 0 14 14' class='icon upvote'}}
				{{post.upvoteCount}}
			</span>
			<span class="reply-count">
				{{svg 'reply-tiny' viewBox='0 0 14 14' class='icon replies'}}
				{{replyCount}}
			</span>
		</span>
	</div>
</div>
{{#modal-dialog
		class='discussion-dialog discussion-share-dialog'
		closeOnOverlayClick=true
		isVisible=shareDialogVisible
		as |close|
}}
	{{discussion-share-dialog
			close=(action close)
			sharedUrl=sharedUrl
			show=shareDialogVisible
	}}
{{/modal-dialog}}
{{discussion-post-card-actions
		entryPointLabel=(i18n 'main.share-label' ns='discussion')
		follow=(action this.attrs.follow)
		header=(i18n 'main.share-header' ns='discussion')
		isDeleted=isDeleted
		isDetailsView=isDetailsView
		post=post
		replyCount=replyCount
		setEditorActive=(action this.attrs.setEditorActive)
		showFollowingTooltip=showFollowingTooltip
		showLabelOnMobile=true
		threadId=post.threadId
		uniqueIdentifier=post.threadId
		upvote=(action this.attrs.upvote)
}}
{{#if post.isLoading}}
	{{loading-spinner
			active=post.isLoading
			radius=32
			strokeWidth=2
	}}
{{/if}}
