{{#each posts as |item|}}
	{{#if item.isReply }}
		{{discussion-post-card-reply
			approve=(action this.attrs.approve)
			author=item.createdBy
			content=item.rawContent
			delete=(action this.attrs.deleteReply)
			isParentDeleted=model.isDeleted
			post=item
			report=(action this.attrs.report)
			showRepliedTo=true
			timestamp=item.creationDate.epochSecond
			undelete=(action this.attrs.undeleteReply)
			upvote=(action this.attrs.upvote)
			upvoteCount=item.upvoteCount
			userListView=true
		}}
	{{else}}
		{{discussion-post-card-detail
			approve=(action this.attrs.approve)
			author=item.createdBy
			delete=(action this.attrs.deletePost)
			isReported=item.isReported
			lock=(action this.attrs.lock)
			post=item
			report=(action this.attrs.report)
			replyCount=item._embedded.thread.[0].postCount
			undelete=(action this.attrs.undeletePost)
			unlock=(action this.attrs.unlock)
			upvote=(action this.attrs.upvote)
		}}
	{{/if}}
{{/each}}
{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
		active=true
		overlay=false
		radius=32
		strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
