{{discussion-header
	hasNewPostButton=true
	hasSiteName=true
	hasSortMenu=true
	smartBannerVisible=smartBannerVisible
}}
{{discussion-dialog
	isVisible=shouldShowDialogMessage
	isConfirm=isConfirm
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	dialogHeader=dialogHeader
}}

<div class="site-body-discussion post-list-view">
	{{discussion-hero-unit
		contributors=model.contributors
		name=model.name
		numberOfPosts=model.totalPosts
	}}
	<div class="discussion-page row">
		<div class="rail large-3 columns">
			{{community-badge}}
			<a href="/" class="side-button back-button active-element-theme-color">
				{{svg 'back-arrow' role='img' class='icon arrow-left fill-theme-color'}}
				{{i18n 'main.back-to-wikia-link' ns='discussion'}}
			</a>
		</div>
		{{#if model.connectionError}}
			{{discussion-connection-error
				retry=(action this.attrs.retry)
			}}
		{{else if model.notFoundError}}
			{{discussion-not-found-error
				forumId=model.forumId
			}}
		{{else}}
			<div class="small-12 large-6 columns">
				{{discussion-sort
					setSortBy=(action this.attrs.setSortBy)
				}}
				{{forum-wrapper
					create=(action this.attrs.create)
					deletePost=(action this.attrs.deletePost)
					loadPage=(action this.attrs.loadPage)
					undeletePost=(action this.attrs.undeletePost)
					upvote=(action this.attrs.upvote)
					forumId=model.forumId
					minorError=model.minorError
					name=model.name
					pageNum=model.pageNum
					posts=model.posts
					postsDisplayed=model.posts.length
					totalPosts=model.totalPosts
					siteHeadPinned=siteHeadPinned
				}}
			</div>
		{{/if}}
		<div class="rail large-3 columns">
			{{discussion-app-promotion}}
		</div>
	</div>
</div>
