{{#each latestContributors as |contributor|}}
	{{#event-wrapper action='clickDiscussionsHeaderAvatar'}}
		{{user-avatar
			avatarUrl=contributor.avatarUrl
			badgePermission=contributor.badgePermission
			username=contributor.name
		}}
	{{/event-wrapper}}
{{else}}
	<span class="no-replies-message">{{i18n 'main.no-replies' ns='discussion'}}</span>
{{/each}}
{{#if additionalContributorCount}}
	<div class="discussion-contributors-more" {{action 'clickDiscussionsHeaderAvatar'}}>+{{numeral additionalContributorCount '0a'}}</div>
{{/if}}
