{{discussion-post-editor
	create=(action this.attrs.createPost)
	posts=posts
	siteHeadPinned=siteHeadPinned
}}

{{#each posts as |entity|}}
	{{#if entity.isReply }}
		{{discussion-post-card-reply
			approve=(action this.attrs.approve)
			author=entity.createdBy
			content=entity.rawContent
			delete=(action this.attrs.deleteReply)
			isParentDeleted=model.isDeleted
			post=entity
			report=(action this.attrs.report)
			showRepliedTo=true
			timestamp=entity.creationTimestamp
			undelete=(action this.attrs.undeleteReply)
			upvote=(action this.attrs.upvote)
			upvoteCount=entity.upvoteCount
			userListView=true
		}}
	{{else}}
		{{discussion-post-card-detail
			approve=(action this.attrs.approve)
			author=entity.createdBy
			delete=(action this.attrs.deletePost)
			isReported=entity.isReported
			lock=(action this.attrs.lockPost)
			post=entity
			postId=entity.id
			replyCount=entity.repliesCount
			report=(action this.attrs.report)
			undelete=(action this.attrs.undeletePost)
			unlock=(action this.attrs.unlockPost)
			upvote=(action this.attrs.upvote)
		}}
	{{/if}}
{{/each}}

{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
