<ul class="row post-actions">
	<li class="small-4 large-4 upvote-area upvote {{if post.userData.hasUpvoted 'has-upvoted'}}" {{action 'upvote' post}}>
		{{svg 'upvote' viewBox='0 0 24 24' class='icon upvote'}}
		{{i18n 'main.upvote-label' ns='discussion'}}
	</li>
	<li class="small-4 large-4 replies replies-area" {{action 'reply'}}>
		{{#if isDetailsView}}
			<div>
				{{svg 'reply' viewBox='0 0 24 24' class='icon replies'}}
				{{i18n 'main.reply-label' ns='discussion'}}
			</div>
		{{else}}
			<a href="{{href-to 'discussion.post' threadId}}">
				{{svg 'reply' viewBox='0 0 24 24' class='icon replies'}}
				{{i18n 'main.reply-label' ns='discussion'}}
			</a>
		{{/if}}
	</li>
	<li class="small-4 large-4 follow-area {{if post.isFollowing 'is-active fill-icon-color'}}" {{action 'follow' post}}>
		{{discussion-tooltip
			localStorageId='followingTooltipSeen'
			seen=followingTooltipSeen
			show=showFollowingTooltip
			text=(i18n 'main.follow-tooltip-mobile' ns='discussion')
			textOnDesktop=(i18n 'main.follow-tooltip' ns='discussion')
		}}
		{{svg 'follow-small' viewBox='0 0 24 24' class='icon follow'}}
		{{i18n 'main.follow-label' ns='discussion'}}
	</li>
</ul>
