<div class="community-badge-image {{if isEditMode 'highlight-overlay-content'}}">
	<img class="badge-image-display" src="{{wikiImageUrl}}">
	{{#if isEditMode}}
		<div class="edit-mode">
			{{file-input
				tagName='div'
				classNames=fileInputClassNames
				fileUpload=(action 'fileUpload')
				reset=resetFileInput
				label=(i18n 'main.upload-image-button-text' ns='discussion')
				click=(action 'emptyClickForFileInput')
			}}
			{{{i18n 'main.edit-badge-hint-text' ns='discussion'}}}
		</div>
	{{else}}
		<div class="edit-badge-button" {{action 'setEditMode' true}}>
			{{i18n 'main.edit-badge-button-text' ns='discussion'}}
			{{svg 'camera' role='img' class='icon-camera'}}
		</div>
	{{/if}}
</div>
<p>{{displayedWikiName}}</p>
{{wikia-ui-components/highlight-overlay
	isVisible=isEditMode
}}
