<li>
	{{#link-to 'discussion.user' post.createdBy.id}}
		{{svg 'wds-icons-eye-small' viewBox='0 0 18 18' class='wds-icon-small'}}
		{{i18n 'main.all-posts-by-username' userName=post.createdBy.name ns='discussion'}}
	{{/link-to}}
</li>
{{#if canShare}}
	<li>
		<a class="share-link" {{action 'share' post}} >
			{{svg 'wds-icons-share-small' viewBox='0 0 18 18' class='wds-icon-small'}}
			{{i18n 'main.share-header' ns='discussion'}}
		</a>
	</li>
{{/if}}
{{#if canEdit}}
	<li>
		<a class="edit-link" {{action 'edit' post}}>
			{{svg 'wds-icons-pencil-small' viewBox='0 0 18 18' class='wds-icon-small'}}
			{{editMessage}}
		</a>
	</li>
{{/if}}
{{#if canReport}}
	<li>
		<a class="report-link" {{action 'report' post}}>
			{{svg 'wds-icons-alert-small' viewBox='0 0 18 18' class='wds-icon-small'}}
			{{reportMessage}}
		</a>
	</li>
{{/if}}
{{#if canLock}}
	<li>
		<a class="report-link" {{action 'lock' post}}>
			{{svg 'wds-icons-lock-small' viewBox='0 0 18 18' class='wds-icon-small'}}
			{{lockMessage}}
		</a>
	</li>
{{/if}}
{{#if canUnlock}}
	<li>
		<a class="report-link" {{action 'unlock' post}}>
			{{svg 'wds-icons-unlock-small' viewBox='0 0 18 18' class='wds-icon-small'}}
			{{unlockMessage}}
		</a>
	</li>
{{/if}}
{{#if canDeleteOrUndelete}}
	<li>
		{{#if canUndelete}}
			<a class="undelete-link" {{action 'undelete' post}}>
				{{svg 'wds-icons-trash-open-small' viewBox='0 0 18 18' class='wds-icon-small'}}
				<span>{{undeleteMessage}}</span>
			</a>
		{{/if}}
		{{#if canDelete}}
			<a class="delete-link" {{action 'delete' post}}>
				{{svg 'wds-icons-trash-small' viewBox='0 0 18 18' class='wds-icon-small'}}
				<span>{{deleteMessage}}</span>
			</a>
		{{/if}}
	</li>
{{/if}}
