{{#if this.attrs.close}}
	<a class="og-close" {{action 'close'}}>
		{{svg 'close' viewBox='0 0 18 18'}}
	</a>
{{/if}}

{{#if imageUrl}}
	<img class="og-image" src="{{imageUrl}}" srcset="{{imageUrlSet}}" alt="{{openGraphData.title}}">
{{/if}}
<div class="og-texts">
	<span class="og-title">
		{{openGraphData.title}}
	</span>
	<span class="og-site-name">
		{{siteName}}
	</span>
</div>
{{#if hasLoadingState}}
	{{loading-spinner
		active=isLoading
	}}
{{/if}}
