{{#if responsive.isMobile}}
	{{#ember-wormhole to="site-head-sub-header"}}
		{{discussion-header
			canDeleteAll=false
			deleteAllPosts=(action this.attrs.deleteAllPosts)
			hasBackButton=true
			hasFilters=false
			hasNewPostButton=false
			smartBannerVisible=smartBannerVisible
		}}
	{{/ember-wormhole}}
{{/if}}
{{discussion-dialog
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	headerText=dialogHeaderText
	isConfirm=isConfirm
	isVisible=shouldShowDialogMessage
}}
<div class="site-body-discussion post-details-view">
	<div class="minimized discussion-hero-unit background-theme-color"></div>
	<div class="discussion-page row">
		<div class="rail large-2 columns">
			{{discussion-community-badge
				badgeImage=attributes.badgeImage
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				uploadMethod=(action this.attrs.uploadCommunityBadge)
			}}
			{{discussion-side-button
				route='discussion'
			}}
			{{#unless hasContentError}}
				<div class="discussion-contributors-title">{{i18n 'main.contributors-title' ns='discussion'}}</div>
				{{#if model.repliesCount}}
					{{discussion-contributors
						users=model.contributors.users
						maxContributorDisplayCount=7
						totalContributorCount=model.contributors.count
					}}
				{{else}}
					<span class="no-replies-message">{{i18n 'main.no-replies' ns='discussion'}}</span>
				{{/if}}
			{{/unless}}
		</div>
		<div class="discussion post small-12 large-8 columns">
			{{yield}}
		</div>
		<div class="rail large-2 columns">
			{{discussion-community-unit}}
		</div>
	</div>
</div>
