{{#if shouldDisplay}}
	<div class="discussion-app-join-text">{{i18n 'main.discussions-app-join' ns='discussion'}}</div>
	{{#if iosAppLink}}
		<a href="{{iosAppLink}}" target="_blank">
			{{svg 'apple-store-logo' role='img' class='icon apple-store-logo' viewBox='0 0 150 44'}}
		</a>
	{{/if}}
	{{#if androidAppLink}}
		<a href="{{androidAppLink}}" target="_blank">
			{{svg 'google-play-logo' role='img' class='icon google-play-logo' viewBox='0 0 129 45'}}
		</a>
	{{/if}}
{{/if}}
