<div class="discussion-inline-editor-floating-container">
	{{#if shouldShowCategoryPicker}}
		{{#pop-over for=categoryPickerButtonId on='click' flow='downCentered' class='discussion-category-picker'}}
			{{discussion-category-picker
				categories=categories
				setCategory=(action 'setCategory')
			}}
		{{/pop-over}}
	{{/if}}
	<div class="discussion-inline-editor-content-wrapper">
		{{user-avatar
			avatarUrl=currentUser.avatarPath
			shouldWrapInHref=false
		}}
		<div class="discussion-inline-editor-textarea-wrapper">
			{{#if shouldShowCategoryPicker}}
				<a id="{{categoryPickerButtonId}}" class="discussion-category-picker-button {{if category 'active-element-background-color'}}">
					<span class="discussion-category-picker-content-wrapper">
						{{#if category}}
							{{category.name}}
							{{svg 'pencil' viewBox='0 0 70 70' class='icon pencil'}}
						{{else}}
							{{svg 'plus-small' viewBox='0 0 34 34' class='icon plus'}}
							{{i18n 'main.category-picker-button-text' ns='discussion'}}
						{{/if}}
					</span>
				</a>
			{{/if}}
			{{#if isPostEditor}}
				{{discussion-textarea-with-counter
					class='discussion-inline-editor-title'
					collapsedPlaceholder=(i18n collapsedEditorLabelKey ns='discussion')
					focusIn=(action this.attrs.setEditorActive 'contributeEditor' true)
					isActive=isActive
					label=(i18n titleLabelKey ns='discussion')
					maxlength=70
					onInput=(action 'onTitleChange')
					onKeyPress=(action 'handleKeyPressOnTitle')
					placeholder=(i18n titlePlaceholderKey ns='discussion')
					text=title
				}}
			{{/if}}
			<label>
				{{#if isActive}}
					<span class="discussion-textarea-label">
						{{i18n messageLabelKey ns='discussion'}}
					</span>
				{{/if}}
				{{textarea
					autoresize=true
					class='discussion-inline-editor-textarea'
					focusIn=(action this.attrs.setEditorActive 'contributeEditor' true)
					isVisible=showTextareaAsFirstIfAlone
					keyPress=(action 'handleKeyPress')
					placeholder=(i18n messagePlaceholderKey ns='discussion')
					required=true
					value=content
				}}
			</label>
		</div>
		{{#if showsOpenGraphCard}}
			{{discussion-open-graph
				close=(action 'removeOpenGraph')
				isLoading=isOpenGraphLoading
				openGraphData=openGraph
			}}
		{{/if}}
	</div>
	<div class="discussion-inline-editor-toolbar">
		<button class="active-element-theme-color discussion-inline-editor-submit" type="submit" {{action 'submit' bubbles=false}} disabled={{submitDisabled}}>{{i18n submitMessageKey ns='discussion'}}</button>
	</div>

	{{#if isLoading}}
		{{loading-spinner
			active=isLoading
			radius=32
			strokeWidth=2
		}}
	{{/if}}

	{{#if showSuccess}}
		<div class="loading-overlay">
			{{svg 'success' class='success' viewBox='0 0 80 80'}}
		</div>
	{{/if}}

	{{#if errorMessage}}
		<span class="error">
			{{i18n errorMessage ns='discussion'}}
		</span>
	{{/if}}
</div>
