<a {{action 'open'}}>
	<img class="lightbox-image" src="{{imageUrl}}" alt=""/>
</a>
{{#if active}}
	<div {{action 'close' 'overlay'}} class="lightbox-overlay">
		<img class="lightbox-image-on-overlay" src="{{imageUrl}}" alt=""/>
		<a {{action 'close' 'button'}}>
			{{svg 'wds-icons-cross' class='wds-icon wds-icon-small lightbox-close'}}
		</a>
	</div>
{{/if}}
