<div>
	{{#if showTopNote}}
		{{discussion-post-card-top-note
			approve=(action this.attrs.approve)
			canShowModButtons=isDetailsView
			delete=(action this.attrs.delete)
			isReported=isReported
			post=post
			threadCreatorName=post.threadCreatedBy.name
		}}
	{{/if}}
	{{user-avatar
		avatarUrl=author.avatarUrl
		displayProfileName=true
		username=author.name
	}}
	<span class="timestamp" title="{{timestamp-to-date post.creationTimestamp}}">
		&bull; {{time-ago post.creationTimestamp}}
	</span>
	<div class="discussion-more-options" id="post-options-{{post.id}}">
		{{svg 'more' viewBox='0 0 4 18' class='icon more-icon'}}
	</div>

	{{#pop-over for=(concat 'post-options-' post.id) on='click' flow='flip'}}
		{{discussion-more-options
			delete=(action this.attrs.delete)
			deleteMessage=(i18n 'main.delete-post' ns='discussion')
			isLockable=true
			lock=(action this.attrs.lock)
			lockMessage=(i18n 'main.lock-post' ns='discussion')
			post=post
			report=(action this.attrs.report)
			reportMessage=(i18n 'main.report-post' ns='discussion')
			undelete=(action this.attrs.undelete)
			undeleteMessage=(i18n 'main.undelete-post' ns='discussion')
			unlock=(action this.attrs.unlock)
			unlockMessage=(i18n 'main.unlock-post' ns='discussion')
		}}
	{{/pop-over}}
</div>
{{#if isDetailsView}}
	<div class="discussion-content">
		{{#if post.title}}
			<h1 class="post-title">{{post.title}}</h1>
		{{/if}}
		{{{parsedContent}}}
	</div>
{{else}}
	<div class="discussion-content">
		{{#if post.title}}
			<h2 class="post-title">{{#link-to 'discussion.post' post.threadId class="post-details-link"}}{{post.title}}{{/link-to}}</h2>
		{{/if}}
		{{#link-to 'discussion.post' post.threadId class="post-details-link clamp"}}{{{parsedContent}}}{{/link-to}}
	</div>
{{/if}}
<div class="row">
	{{discussion-upvote-post
		post=post
		upvote=(action this.attrs.upvote)
	}}

	{{#if isDetailsView}}
		<div class="small-5 large-2 columns count">
			<span class="replies-area">
				{{svg 'comments' viewBox='0 0 24 19' class='icon replies'}}
				{{replyCount}}
			</span>
		</div>
	{{else}}
		<div class="small-2 large-2 columns count">
			{{#link-to 'discussion.post' post.threadId class='replies-area'}}
				{{svg 'comments' viewBox='0 0 24 19' class='icon replies'}}
				{{replyCount}}
			{{/link-to}}
		</div>
	{{/if}}
	<div class="share small-5 large-7 columns">
		{{#if isDetailsView}}
			{{share-feature sharedUrl=sharedUrl}}
		{{else}}
			{{share-feature
				sharedUrl=sharedUrl
				isVisible=isShareFeatureVisible
				onMouseEnter=(action 'cancelHideShareComponent')
				onMouseLeave=(action 'hideShareComponent')
			}}
			<span class="toggle-share-area" {{action 'toggleShareComponent'}}>
				{{svg 'share' class='icon toggle-share'}}
			</span>
		{{/if}}
	</div>
</div>
{{#if post.isLoading}}
	{{loading-spinner
		active=post.isLoading
		radius=32
		strokeWidth=2
	}}
{{/if}}
