<h3 class="{{if responsive.isMobile 'discussion-mobile-filter-header'}}">
	{{i18n 'main.moderator-tools' ns='discussion'}}
</h3>
<ul class="wds-list{{if responsive.isMobile ' wds-has-big-items wds-has-lines-between'}}">
	<li>
		{{#link-to 'discussion.reported-posts' class='text-link active-element-theme-color' click=(action 'trackReportedContentTap')}}
			{{svg 'wds-icons-alert-small' role='img' class='wds-icon wds-icon-small icon'}}
			<span>{{i18n 'main.reported-content' ns='discussion'}}</span>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'discussion.moderator.user-activity' class='text-link active-element-theme-color' click=(action 'trackUserActivityTap')}}
			{{svg 'user-activity' role='img' class='icon user-activity'}}
			<span>{{i18n 'main.user-activity' ns='discussion'}}</span>
		{{/link-to}}
	</li>
</ul>
