{{#unless contentIsHidden}}
	<div class="header clearfix background-theme-color">
		{{#if hasBackButton }}
			{{#link-to 'discussion.forum' forumId discussionSort.sortBy class="back-button"}}
				{{svg 'back-arrow' role='img' class='icon arrow-left'}}
				{{i18n 'main.back-to-discussions-link' ns='discussion'}}
			{{/link-to}}
		{{/if}}
		{{#if hasSiteName}}
			<h1>{{siteName}}</h1>
		{{/if}}
		{{#if hasNewPostButton}}
			<div {{action 'toggleEditor' true}} class="new-post">
				{{svg 'new-post-icon' viewBox='0 0 56 50'}}
			</div>
		{{/if}}
		{{#if hasSortMenu}}
			<div {{action 'showSortComponent'}} class="sort">
				<span>{{i18n sortMessageKey ns='discussion'}}</span>
				{{svg 'filter-dropdown-white' viewBox='0 0 7 4' class='icon dropdown'}}
			</div>
		{{/if}}
		{{#if overlayIsVisible}}
			<div {{action 'hideSortComponent'}} class="overlay"></div>
		{{/if}}
	</div>
{{/unless}}
