<fieldset class="discussion-fieldset moderation-fieldset">
	<legend {{action 'collapsableToggle'}}>
		{{i18n 'user-activity.glossary-header' ns='discussion'}}
		{{svg 'chevron-linked' role='img' class='icon chevron'}}
	</legend>
	<div class="collapsable-container">
		<h5>{{i18n 'user-activity.active-users-headline' ns='discussion'}}</h5>
		<p>{{i18n 'user-activity.active-users-description' ns='discussion'}}</p>

        <h5>{{i18n 'user-activity.reports-headline' ns='discussion'}}</h5>
        <p>{{i18n 'user-activity.reports-description' ns='discussion'}}</p>

        <h5>{{i18n 'user-activity.moderator-actions-headline' ns='discussion'}}</h5>
        <p>{{i18n 'user-activity.moderator-actions-description' ns='discussion'}}</p>
	</div>
</fieldset>
