{{discussion-post-editor
	create=(action this.attrs.create)
	posts=posts
	siteHeadPinned=siteHeadPinned
}}

{{#each posts as |item|}}
	{{#if item.isReply }}
		{{discussion-post-card-reply
			author=item.createdBy
			content=item.rawContent
			delete=(action this.attrs.deleteReply)
			isParentDeleted=model.isDeleted
			post=item
			showRepliedTo=true
			timestamp=item.creationDate
			undelete=(action this.attrs.undeleteReply)
			upvote=(action this.attrs.upvote)
			upvoteCount=item.upvoteCount
			userListView=true
		}}
	{{else}}
		{{discussion-post-card-detail
			author=item.createdBy
			delete=(action this.attrs.deletePost)
			isReported=item.isReported
			lock=(action this.attrs.lockPost)
			post=item
			postId=item.id
			replyCount=item.postCount
			report=(action this.attrs.report)
			undelete=(action this.attrs.undeletePost)
			unlock=(action this.attrs.unlockPost)
			upvote=(action this.attrs.upvote)
		}}
	{{/if}}
{{/each}}

{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
