<div class="discussion-standalone-editor-toolbar">
	<a href="#" class="editor-close" {{action 'close'}}>
		{{svg 'close' class="fill-theme-color" viewBox='0 0 18 18'}}
	</a>
	<button class="active-element-theme-color discussion-standalone-editor-save-button" type="submit" {{action 'submit'}} disabled={{submitDisabled}}>{{i18n submitMessageKey ns='discussion'}}</button>
</div>

<div class="discussion-standalone-content-wrapper">
	{{#if shouldShowCategoryPicker}}
		{{#pop-over for=categoryPickerButtonId on='click' flow='downCentered' class='discussion-category-picker'}}
			{{discussion-category-picker
				categories=categories
				setCategory=(action 'setCategory')
			}}
		{{/pop-over}}
		<a id="{{categoryPickerButtonId}}" class="discussion-category-picker-button {{if category 'active-element-background-color'}}">
			<span class="discussion-category-picker-content-wrapper">
				{{#if category}}
					{{category.name}}
					{{svg 'pencil' viewBox='0 0 70 70' class='icon pencil'}}
				{{else}}
					{{svg 'plus-small' viewBox='0 0 34 34' class='icon plus'}}
					{{i18n 'main.category-picker-button-text' ns='discussion'}}
				{{/if}}
			</span>
		</a>
		{{#unless category}}
			<small class="discussion-category-picker-required-message">[{{i18n 'main.category-picker-required-message' ns='discussion'}}]</small>
		{{/unless}}
	{{/if}}
	{{#if showMultipleInputs}}
		{{discussion-textarea-with-counter
			class='discussion-standalone-editor-title'
			isVisible=isActive
			label=(i18n titleLabelKey ns='discussion')
			maxlength=70
			onInput=(action 'onTitleChange')
			onKeyPress=(action 'handleKeyPressOnTitle')
			placeholder=(i18n titlePlaceholderKey ns='discussion')
			text=title
		}}
	{{/if}}
	<label class="discussion-standalone-editor-message">
		<div class="discussion-standalone-editor-label">
			{{#if showMultipleInputs}}
				{{i18n messageLabelKey ns='discussion'}}
			{{else}}
				{{i18n editorLabelKey ns='discussion'}}
			{{/if}}
		</div>
		{{textarea
			autoresize=true
			class="discussion-standalone-editor-textarea"
			keyPress=(action 'handleKeyPress')
			placeholder=(i18n messagePlaceholderKey ns='discussion')
			value=content
		}}
	</label>
	{{#if showsOpenGraphCard}}
		{{discussion-open-graph
			close=(action 'removeOpenGraph')
			isLoading=isOpenGraphLoading
			openGraphData=openGraph
		}}
	{{/if}}
</div>

{{#if isLoading}}
	{{loading-spinner
		active=isLoading
		radius=32
		strokeWidth=2
	}}
{{/if}}

{{#if showSuccess}}
	<div class="loading-overlay">
		{{svg 'success' class='success' viewBox='0 0 80 80'}}
	</div>
{{/if}}

{{#if errorMessage}}
	<span class="error">
		{{i18n errorMessage ns='discussion'}}
	</span>
{{/if}}
