<div class="community-badge-image {{if isEditMode 'highlight-overlay-content'}}">
	{{!-- this two images are only because not to loose the wikiImageUrl from the DOM to immediately show it back --}}
	<img class="badge-image-display {{unless isNewBadgePreviewMode 'is-visible'}}" src="{{wikiImageUrl}}">
	{{#if canEdit}}
		<div class="drag-and-drop">
			{{svg 'drag-n-drop' role='img'}}
			<div class="drop-catch-layer"></div>
		</div>
		{{#unless isDragActive}}
			<img class="badge-image-display {{if isNewBadgePreviewMode 'is-visible'}}" src="{{newWikiImageUrl}}">
			<div class="error-message-container {{if errorMessage 'is-visible'}}">
				{{svg 'report' viewBox='0 0 18 18' class='icon error'}}
				<span class="error-message">{{errorMessage}}</span>
			</div>
			{{#if isEditMode}}
				{{discussion-edit-approve-buttons
					approve=(action 'submit')
					close=(action 'disableEditMode')
				}}
			{{/if}}
			{{#if isLoadingMode}}
				<div class="is-loading">
					{{loading-spinner
						active=true
						overlay=false
						radius=32
						strokeWidth=2
					}}
				</div>
			{{else}}
				{{#if isEditMode}}
					{{#unless isNewBadgePreviewMode}}
						<div class="edit-mode">
							{{file-input
								classNames=fileInputClassNames
								click=(action 'emptyClickForFileInput')
								fileUpload=(action 'fileUpload')
								label=(i18n 'main.upload-image-button-text' ns='discussion')
								reset=resetFileInput
							}}
							{{{i18n 'main.edit-badge-hint-text' ns='discussion'}}}
						</div>
					{{/unless}}
				{{else}}
					<div class="edit-badge-button" {{action 'enableEditMode'}}>
						{{i18n 'main.edit-badge-button-text' ns='discussion'}}
						{{svg 'camera' role='img' class='icon-camera'}}
					</div>
				{{/if}}
			{{/if}}
		{{/unless}}
	{{/if}}
</div>
<h2>{{displayedWikiName}}</h2>
{{wikia-ui-components/highlight-overlay
	isVisible=isEditMode
}}
