{{#if canDeleteOrUndelete}}
	<li>
		{{#if canUndelete}}
			<a class="undelete-link" {{action this.attrs.undelete post}}>
				{{svg 'undelete' viewBox='0 0 16 19' class='icon undelete'}}
				<span>{{undeleteMessage}}</span>
			</a>
		{{/if}}
		{{#if canDelete}}
			<a class="delete-link" {{action this.attrs.delete post}}>
				{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
				<span>{{deleteMessage}}</span>
			</a>
		{{/if}}
	</li>
{{/if}}
<li>
	{{#link-to 'discussion.user' post.createdBy.id}}
		{{svg 'empty-eye' viewBox='0 0 16 12' class='icon eye'}}
		{{i18n 'main.all-posts-by-username' userName=post.createdBy.name ns='discussion'}}
	{{/link-to}}
</li>
{{#if canReport}}
	<li>
		<a class="report-link" {{action this.attrs.report post}}>
			{{svg 'report' viewBox='0 0 18 18' class='icon report'}}
			{{reportMessage}}
		</a>
	</li>
{{/if}}
{{#if canLock}}
	<li>
		<a class="report-link" {{action this.attrs.lock post}}>
			{{svg 'lock' viewBox='0 0 14 16' class='icon lock'}}
			{{lockMessage}}
		</a>
	</li>
{{/if}}
{{#if canUnlock}}
	<li>
		<a class="report-link" {{action this.attrs.unlock post}}>
			{{svg 'lock' viewBox='0 0 14 16' class='icon lock'}}
			{{unlockMessage}}
		</a>
	</li>
{{/if}}
