<form name="discussion-filters">
	<div class="filters-apply-container header-text-theme-color">
		<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
	</div>
	<fieldset>
		<legend>{{i18n 'main.sort-by-header' ns='discussion'}}</legend>
		<ul class="sort-options">
			{{#each discussionSort.sortTypes as |item|}}
				<li>
					<input type="radio" value="{{item.name}}" {{action 'setSortBy' item.name}} name="sort-button" class="bullet" id="sort-button-{{item.messageKey}}">
					<div class="radio-fancy {{if (equal item.name sortBy) 'active active-element-background-color'}}"><div class="inside"></div></div>
					<label for="sort-button-{{item.messageKey}}">
						{{i18n item.messageKey ns='discussion'}}
					</label>
				</li>
			{{/each}}
		</ul>
	</fieldset>
	<fieldset>
		<legend>{{i18n 'main.moderation-filters-header' ns='discussion'}}</legend>
		<label class="moderation-checkbox-label">
			{{input type='checkbox' checked=onlyReported change=(action 'toggleOnlyReported')}}
			{{i18n 'main.reported-content-filter-text' ns='discussion'}}
		</label>
	</fieldset>
</form>
