{{discussion-post-editor
	create=(action this.attrs.createPost)
	generateOpenGraph=(action this.attrs.generateOpenGraph)
	posts=posts
}}

{{#each posts as |entity|}}
	{{discussion-post-card-detail
		approve=(action this.attrs.approve)
		author=entity.createdBy
		delete=(action this.attrs.deletePost)
		lock=(action this.attrs.lockPost)
		post=entity
		replyCount=entity.repliesCount
		report=(action this.attrs.report)
		undelete=(action this.attrs.undeletePost)
		upvote=(action this.attrs.upvote)
		unlock=(action this.attrs.unlockPost)
	}}
{{else}}
	{{discussion-empty-forum-message}}
{{/each}}

{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
