{{discussion-hero-unit
	headerTitle=(i18n 'main.guidelines-header-title'  ns='discussion')
	heroImage=attributes.heroImage
}}
<div class="discussion guidelines-page">
	<div class="head">
		<h2 class="wiki-name">{{wikiName}}</h2>
		{{#if canEdit}}
			<a class="guidelines-edit-link active-element-theme-color" {{action 'openGuidelinesEditor'}}>
				{{i18n 'main.edit-guidelines' ns='discussion'}}
				{{svg 'pencil' viewBox='0 0 18 18' class='icon fill-theme-color'}}
			</a>
		{{/if}}
	</div>
	<div class="guidelines-text">
		{{{parsedContent}}}
	</div>
</div>
