<form name="discussion-filters">
	<div class="filters-apply-container header-text-theme-color">
		<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
	</div>
	<fieldset>
		<legend>{{i18n 'main.sort-by-header' ns='discussion'}}</legend>
		<ul class="sort-options">
			{{#each discussionSort.sortTypes as |item|}}
				<li>
					<input type="radio" value="{{item.name}}" {{action 'setSortBy' item.name}} name="sort-button" class="bullet" id="sort-button-{{item.messageKey}}">
					<label for="sort-button-{{item.messageKey}}">
						<div class="icon {{if (equal item.name sortBy) 'active background-theme-color'}}"><div class="inside"></div></div>
						{{i18n item.messageKey ns='discussion'}}
					</label>
				</li>
			{{/each}}
		</ul>
	</fieldset>
</form>
