{{#ember-wormhole to="site-head-sub-header"}}
	{{discussion-header
		addCategory=(action this.attrs.addCategory)
		applyFilters=(action this.attrs.applyFilters)
		canModerate=model.canModerate
		categories=categories
		hasFilters=true
		hasContentError=hasContentError
		hasNewPostButton=true
		hasSiteName=true
		smartBannerVisible=smartBannerVisible
	}}
{{/ember-wormhole}}
{{discussion-dialog
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	headerText=dialogHeaderText
	isConfirm=isConfirm
	isVisible=shouldShowDialogMessage
}}

<div class="site-body-discussion post-list-view">
	{{discussion-hero-unit
		contributors=model.contributors
		numberOfPosts=model.postCount
	}}
	<div class="discussion-page row">
		<div class="rail left large-3 columns">
			{{community-badge}}
			{{#unless hideCategoriesInRail}}
				{{#if categories}}
					{{discussion-categories
						addCategory=(action this.attrs.addCategory)
						categories=categories
						inputIdPrefix='rail'
						updateCategoriesSelection=(action this.attrs.updateCategoriesSelection)
						visibleCategoriesCount=10
					}}
				{{/if}}
			{{/unless}}
		</div>
		<div class="small-12 large-6 columns">
			{{yield}}
		</div>
		<div class="rail right large-3 columns">
			{{discussion-filters
				applyFilters=(action this.attrs.applyFilters)
				canModerate=model.canModerate
			}}
			{{discussion-community-unit
				displayWikiaHomeLink=true
				listPage=true
			}}
		</div>
	</div>
</div>
