<form name="discussion-filters">
	<div class="discussion-filters-fields-wrapper">
		{{#if canShowCategories}}
			{{discussion-categories
				categories=categories
				disabled=isCategoryFilterDisabled
				inputIdPrefix='filters'
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				updateCategories=(action this.attrs.updateCategories)
				updateCategoriesSelection=(action 'updateCategoriesSelection')
				validatePostsOnForum=(action this.attrs.validatePostsOnForum)
			}}
		{{/if}}

		{{#if showSortSection}}
			{{discussion-sort
				disabled=isSortingDisabled
				setSortBy=(action 'setSortBy')
				sortBy=sortBy
			}}
		{{/if}}

		{{#if canModerate}}
			{{discussion-moderator-tools}}
		{{/if}}

	</div>
	{{#if showApplyButton}}
		<div class="filters-apply-container header-text-theme-color">
			<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
		</div>
	{{/if}}
</form>
