{{#ember-wormhole to="site-head-sub-header"}}
	{{discussion-header
		isAllCategoriesSelected=isAllCategoriesSelected
		applyFilters=(action this.attrs.applyFilters)
		canModerate=model.canModerate
		categories=categories
		hasFilters=true
		hasContentError=hasContentError
		hasNewPostButton=true
		hasSiteName=true
		smartBannerVisible=smartBannerVisible
	}}
{{/ember-wormhole}}
{{discussion-dialog
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	headerText=dialogHeaderText
	isConfirm=isConfirm
	isVisible=shouldShowDialogMessage
}}

<div class="site-body-discussion post-list-view">
	{{discussion-hero-unit
		contributors=model.contributors
		numberOfPosts=model.postCount
	}}
	<div class="discussion-page row">
		<div class="rail left large-3 columns">
			{{community-badge}}
			<a href="/" class="side-button back-button active-element-theme-color">
				{{svg 'back-arrow' role='img' class='icon arrow-left fill-theme-color'}}
				{{i18n 'main.back-to-wikia-link' ns='discussion'}}
			</a>
			{{#unless hideCategoriesInRail}}
				{{#if categories}}
					{{discussion-categories
						isAllCategoriesSelected=isAllCategoriesSelected
						categories=categories
						inputIdPrefix='rail'
						resetCategories=(action this.attrs.resetCategories)
						updateCategories=(action this.attrs.updateCategories)
						visibleCategoriesCount=10
					}}
				{{/if}}
			{{/unless}}
		</div>
		<div class="small-12 large-6 columns">
			{{yield}}
		</div>
		<div class="rail right large-3 columns">
			{{discussion-filters
				applyFilters=(action this.attrs.applyFilters)
				canModerate=model.canModerate
			}}
			{{discussion-app-promotion}}
		</div>
	</div>
</div>
