<ul class="user-activity-options">
	<li class="{{if options.posts.isActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.posts'}}
			{{i18n 'user-activity.active-users-toggle-option' ns='discussion'}}
		{{/link-to}}
    </li>
    <li class="{{if options.reports.isActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.reports'}}
			{{i18n 'user-activity.reports-toggle-option' ns='discussion'}}
		{{/link-to}}
    </li>
    <li class="{{if options.moderatorActions.isActive 'active'}}">
		{{#link-to 'discussion.forum'}}
			{{i18n 'user-activity.moderator-actions-toggle-option' ns='discussion'}}
		{{/link-to}}
    </li>
</ul>

<select class="time-range-toggle">
    <option value="30">{{i18n 'user-activity.days-count' numberOfDays=30 ns='discussion'}}</option>
    <option value="90">{{i18n 'user-activity.days-count' numberOfDays=90 ns='discussion'}}</option>
</select>
