{{#if hasMore}}
	{{#if isLoading}}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
		<div class="load-more">
			{{i18n 'main.loading-more-posts' ns='discussion'}}
		</div>
	{{/if}}
	{{#if showButton}}
		{{#if previous}}
			<a href="{{firstPageUrl}}" class="load-more-button active-element-theme-color active-element-border-theme-color top-list-button" {{action this.attrs.goToPage 1}}>
				{{svg 'down-small' viewBox='0 0 10 12' class='icon down-small'}}
				{{i18n 'main.load-previous-posts-button' ns='discussion'}}
			</a>
		{{else}}
			<a href="{{nextUrl}}" class="load-more-button active-element-theme-color active-element-border-theme-color" {{action this.attrs.loadNextPage}}>
				{{i18n 'main.load-more-posts-button' ns='discussion'}}
			</a>
		{{/if}}
	{{/if}}
{{/if}}
