{{#each displayedImages as |image index|}}
	{{#if enableLightbox}}
		<a href="#lightbox-image-{{image.id}}">
			<img class="post-image" src="{{image.url}}" alt=""/>
		</a>
		<a href="#_" class="lightbox" id="lightbox-image-{{image.id}}">
			<img class="post-image-lightbox" src="{{image.url}}" alt=""/>
			{{svg 'wds-icons-cross' class='wds-icon wds-icon-small lightbox-close'}}
		</a>
	{{else}}
		<img class="post-image" src="{{image.url}}" alt=""/>
	{{/if}}
{{/each}}
