{{#each posts as |item|}}
	{{#if item.isReply }}
		{{post-reply
			author=item.createdBy
			content=item.rawContent
			deleteReply=(action this.attrs.deleteReply)
			isParentDeleted=model.firstPost.isDeleted
			post=item
			showRepliedTo=true
			timestamp=item.creationDate.epochSecond
			undeleteReply=(action this.attrs.undeleteReply)
			upvote=(action this.attrs.upvote)
			upvoteCount=item.upvoteCount
			userListView=true
		}}
	{{else}}
		{{post-detail
			author=item.createdBy
			deletePost=(action this.attrs.deletePost)
			post=item
			replyCount=item.postCount
			undeletePost=(action this.attrs.undeletePost)
			upvote=(action this.attrs.upvote)
		}}
	{{/if}}
{{/each}}
{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
		active=true
		overlay=false
		radius=32
		strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
