<div class="discussion-hero-unit-content {{contentClassNames}}">
	{{#if userName}}
		{{discussion-post-list-header
			userName=userName
			contributors=contributors
			numberOfPosts=numberOfPosts
		}}
	{{else}}
		<h1>{{headerTitle}}</h1>
		{{#if numberOfPosts}}
			<p>{{i18n 'main.number-of-posts' numberOfPosts=numberOfPosts ns='discussion'}}</p>
		{{/if}}
		{{#if contributors}}
			{{discussion-contributors
				users=contributors.users
				maxContributorDisplayCount=6
				totalContributorCount=contributors.count
			}}
		{{/if}}
	{{/if}}
	{{discussion-edit-image-button
			label='main.edit-badge-button-text'
	}}
</div>
