<a {{action 'open'}}>
	{{discussion-post-image
		alt='Post image'
		class='lightbox-image'
		imageHeight=image.height
		imageWidth=image.width
		url=image.url
		widthMultiplier=widthMultiplier
	}}
</a>
{{#if active}}
	<div {{action 'close' 'overlay'}} class="lightbox-overlay" tabindex="0">
		<div class="lightbox-viewbox">
			<a {{action 'close' 'button'}}>
				{{svg 'wds-icons-cross' class='wds-icon wds-icon-small lightbox-close'}}
			</a>
			<div class="lightbox-container">
				<img class="lightbox-container-image" src="{{image.url}}" alt=""/>
			</div>
		</div>
	</div>
{{/if}}
