<div class="introducing-following">
	<div class="background-theme-color header">
		{{svg 'follow-small' viewBox='0 0 32 42' class='follow-white'}}
	</div>
	<div class="content">
		<h6>{{i18n 'main.follow-introducing-header' ns='discussion'}}</h6>
		{{i18n 'main.follow-introducing-text' ns='discussion'}}
		<div class="find-posts-button active-element-theme-color active-element-border-theme-color" {{action this.attrs.close}}>
			{{i18n 'main.follow-introducing-button-label' ns='discussion'}}
		</div>
	</div>
</div>
