{{discussion-post-card-detail
	approve=(action this.attrs.approve)
	author=model.createdBy
	categories=categories
	delete=(action this.attrs.deletePost)
	follow=(action this.attrs.follow)
	isDetailsView=true
	lock=(action this.attrs.lockPost)
	openEditEditor=(action this.attrs.openEditEditor)
	post=model
	replyCount=model.repliesCount
	report=(action this.attrs.report)
	setEditorActive=(action this.attrs.setEditorActive)
	showFollowingTooltip=true
	timestamp=model.creationTimestamp
	undelete=(action this.attrs.undeletePost)
	unlock=(action this.attrs.unlockPost)
	upvote=(action this.attrs.upvote)
	upvoteCount=model.upvoteCount
}}

{{#if model.replies}}
	<div class="desktop-hidden discussion-contributors-mobile">
		{{discussion-contributors
			users=model.contributors.users
			maxContributorDisplayCount=7
			totalContributorCount=model.contributors.count
		}}
	</div>
	{{#if canShowOlder}}
		<button {{action this.attrs.loadOlderReplies}} class="load-older active-element-theme-color">
			{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
			{{i18n 'main.pagination-post-show-more' ns='discussion'}}
		</button>
	{{/if}}
{{/if}}
<div class="replies-list">
	{{#each model.replies as |entity index|}}
		{{discussion-post-card-reply
			approve=(action this.attrs.approve)
			author=entity.createdBy
			content=entity.rawContent
			delete=(action this.attrs.deleteReply)
			isDetailsView=true
			isNew=entity.isNew
			isParentDeleted=model.isDeleted
			report=(action this.attrs.report)
			post=entity
			permalinkedReplyId=model.permalinkedReplyId
			openEditEditor=(action this.attrs.openEditEditor)
			setEditorActive=(action this.attrs.setEditorActive)
			timestamp=entity.creationTimestamp
			undelete=(action this.attrs.undeleteReply)
			upvote=(action this.attrs.upvote)
			upvoteCount=entity.upvoteCount
		}}
	{{else}}
		{{#if canReply}}
			<div class="discussion-no-replies">
				{{svg 'comments' viewBox='0 0 30 30' class='icon no-replies'}}
				{{i18n 'main.no-replies-be-the-first' ns='discussion'}}
			</div>
		{{/if}}
	{{/each}}
	{{#if canShowNewer}}
		<button {{action this.attrs.loadNewerReplies}}
			class="load-newer active-element-theme-color
			{{if isFloatingButton 'floating' 'wide'}}
			{{if isFloatingButtonBottomSpace 'bottom-space'}}
			{{unless canReply 'no-editor'}}">
			{{#if isFloatingButton}}
				{{svg 'down-small' viewBox='0 0 10 12' class='icon down-small'}}
				{{i18n 'main.pagination-post-show-new-replies' ns='discussion'}}
			{{else}}
				{{i18n 'main.pagination-post-show-newer-replies' ns='discussion'}}
			{{/if}}
		</button>
	{{/if}}
	{{#if canReply}}
		<label class="discussion-editor-label">
			{{i18n 'editor.reply-editor-label' ns='discussion'}}
		</label>
		{{#if responsive.isDesktop}}
			{{discussion-inline-reply-editor
				create=(action this.attrs.createReply)
				categoryPickerButtonId='categoryPickerButtonDesktop'
				errorMessage=editorState.errorMessage
				generateOpenGraph=(action this.attrs.generateOpenGraph)
				gotoGuidelines=(action this.attrs.gotoGuidelines)
				isActive=editorState.isOpen
				isLoading=editorState.isLoading
				isReply=true
				setEditorActive=(action this.attrs.setEditorActive)
			}}
		{{/if}}
		{{#if responsive.isMobile}}
			{{discussion-reply-editor-entry-point
				setEditorActive=(action this.attrs.setEditorActive)
			}}
		{{/if}}
	{{/if}}
</div>
