{{! TODO separate categories array}}
<h3 class="discussion-filter-header">
	{{i18n 'main.filter-posts-header' ns='discussion'}}
</h3>
<fieldset class="discussion-fieldset discussion-categories">
	<legend>
		{{i18n 'main.categories-header' ns='discussion'}}
	</legend>
	<div class="discussion-categories-list-container">
		<ul class="discussion-categories-list">
			<li>
				{{wikia-ui-components/fancy-check-box
					disabled=true
				}}
				{{input
					class='discussion-categories-input'
					disabled=true
					value=(i18n 'main.category-all-name' ns='discussion')
				}}
			</li>
			{{#each localCategories as |localCategory|}}
				<li>
					{{#if (equal localCategory.id wikiId)}}
						{{svg 'lock' viewBox='0 0 18 18' class='icon lock'}}
					{{else}}
						{{wikia-ui-components/fancy-check-box
							disabled=true
						}}
					{{/if}}
					{{!TODO use flag instead of equal when backend starts providing it}}
					{{input
						class='discussion-categories-input'
						disabled=(equal localCategory.id wikiId)
						maxlength=20
						value=localCategory.name
					}}
					{{#unless (equal localCategory.id wikiId)}}
						<a class="discussion-categories-edit-action-button" {{action 'deleteCategory' localCategory}}>
							{{#if localCategory.id}}
								{{svg 'delete' class='icon delete'}}

							{{else}}
								{{svg 'close' class='icon close'}}
							{{/if}}
						</a>
					{{/unless}}
				</li>
			{{/each}}
		</ul>
	</div>
	<a class="discussion-categories-edit-add-link active-element-theme-color {{if addDisabled 'active-element-disabled-theme-color'}}" {{action 'addCategory'}}>
		{{i18n 'main.categories-edit-add-category-label' ns='discussion'}}
	</a>

	{{#if addDisabled}}
		<span class="categories-limit-info">
			{{svg 'report' viewBox='0 0 18 18' class='icon report'}}
			{{i18n 'main.categories-edit-max-categories-info' ns='discussion' maxCategoriesCount=maxCategoriesCount}}
		</span>
	{{/if}}
</fieldset>

{{#if isLoading}}
	{{loading-spinner
		active=isLoading
		class='categories-loading-overlay'
		radius=32
		strokeWidth=2
	}}
{{/if}}

<div class="discussion-categories-edit-footer-wrapper">
	<div class="discussion-categories-edit-footer">
		<button {{action this.attrs.setEditMode false}}>
			{{svg 'close' viewBox='0 0 40 40' class='icon'}}
		</button>
		<button type="submit" class="submit" {{action 'submit'}}>
			{{svg 'checkmark' viewBox='0 0 40 40' class='icon icon-submit'}}
		</button>
	</div>
</div>
