<form name="discussion-filters">
	<div class="discussion-filters-fields-wrapper">
		{{#if canShowCategories}}
			{{discussion-categories
				categories=categories
				disabled=isCategoryFilterDisabled
				inputIdPrefix='filters'
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				updateCategories=(action this.attrs.updateCategories)
				updateCategoriesSelection=(action 'updateCategoriesSelection')
				validatePostsOnForum=(action this.attrs.validatePostsOnForum)
			}}
		{{/if}}
		{{#if canShowReportedFilter}}
			<fieldset class="discussion-fieldset moderation-fieldset">
				<legend>{{i18n 'main.moderation-filters-header' ns='discussion'}}</legend>
				{{wikia-ui-components.fancy-check-box
						class='moderation-checkbox-label'
						inputId='discussion-filters-moderation'
						isChecked=onlyReported
						label=(i18n 'main.reported-content-filter-text' ns='discussion')
						update=(action 'toggleReported')
				}}
			</fieldset>
		{{/if}}
		{{#if showSortSection}}
			{{discussion-sort
					disabled=isSortingDisabled
					setSortBy=(action 'setSortBy')
					sortBy=sortBy
			}}

		{{/if}}
	</div>
	{{#if showApplyButton}}
		<div class="filters-apply-container header-text-theme-color">
			<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
		</div>
	{{/if}}
</form>
