{{#ember-wormhole to="site-head-sub-header"}}
	{{discussion-header
		canDeleteAll=model.canDeleteAll
		deleteAllPosts=deleteAllPosts
		hasBackButton=true
		smartBannerVisible=smartBannerVisible
	}}
{{/ember-wormhole}}
{{discussion-dialog
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	headerText=dialogHeaderText
	isConfirm=isConfirm
	isVisible=shouldShowDialogMessage
}}

<div class="site-body-discussion post-list-view discussion-user-list">
	{{discussion-hero-unit
		userName=model.userName
		contributors=model.contributors
		numberOfPosts=model.postCount
	}}
	<div class="desktop-hidden post-list-header-content">
		{{discussion-post-list-header
			userName=model.userName
			contributors=model.contributors
			numberOfPosts=model.postCount
		}}
	</div>
	<div class="discussion-page row">
		<div class="rail large-3 columns">
			{{discussion-side-button
				route='discussion'}}
		</div>
		<div class="small-12 large-6 columns">
			{{yield}}
		</div>
		<div class="rail large-3 columns">
			{{#if model.canDeleteAll}}
				<div {{action 'deleteAllPosts'}} class="side-button delete-all">
					{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
					{{i18n 'main.delete-all' ns='discussion'}}
				</div>
			{{/if}}
		</div>
	</div>
</div>
