{{#if model.posts.length}}
	<section class="fandom-posts content-recommendations">
		<h2>{{model.title}}</h2>
		<ul class="thumbnails">
			{{#each posts as |post|}}
				<li class="title-thumbnail" {{action 'trackExperimentClick' post.url}}>
					<a href="{{post.url}}">
						<div class="image image-thumbnail">
							<img src="{{post.image_url}}" alt="{{post.title}}">
						</div>
						<p class="title">{{post.title}}</p>
					</a>
				</li>
			{{/each}}
		</ul>
	</section>
{{/if}}
