{{#if displayQuestion}}
	<p>{{variation.question}}</p>
	{{#if (equal variation.buttons 'text')}}
		<button class="button-feedback button-yes" {{action 'yes'}}>Yes</button>
		<button class="button-feedback button-no" {{action 'no'}}>No</button>
	{{else if (equal variation.buttons 'emots')}}
		<button class="button-feedback-icon button-yes" {{action 'yes'}}>{{svg 'smile' role='button' class='button-icon'}}</button>
		<button class="button-feedback-icon button-no" {{action 'no'}}>{{svg 'sad' role='button' class='button-icon'}}</button>
	{{else}}
		<button class="button-feedback-icon button-yes" {{action 'yes'}}>{{svg 'yes' role='button' class='button-icon'}}</button>
		<button class="button-feedback-icon button-no" {{action 'no'}}>{{svg 'no' role='button' class='button-icon'}}</button>
	{{/if}}
{{else if displayInput}}
	<p>{{message}}</p>
	<form {{action "feedback" on="submit"}}>
		{{input
			value=userFeedback
			name="feedback"
			placeholder=variation.placeholder
			focus-out="onFocusOut"
			focus-in="onFocusIn"
			autocomplete="off"
		}}
	</form>
{{else if displayThanks}}
	<h3>Thank you!</h3>
	<p>{{message}}</p>
{{/if}}
