<img src="{{thumbnailModel.fullSizeImageUrl}}"/>
<p>
	{{#if thumbnailModel.context}}
		{{#if thumbnailModel.isContextLink}}
			<a href="{{thumbnailModel.context}}" target="_blank">
				{{i18n 'main.image-context' ns='image-review'}}
			</a>
		{{else}}
			{{i18n 'main.image-context' ns='image-review'}}
		{{/if}}
	{{/if}}

</p>
<p>{{i18n 'main.image-name' ns='image-review'}} {{thumbnailModel.originalFilename}}</p>
<p>
	{{i18n 'main.image-size' ns='image-review'}}
	{{#if thumbnailModel.size}}
		{{thumbnailModel.size}} {{i18n 'main.image-bytes' ns='image-review'}}
	{{else}}
		{{i18n 'main.not-provided' ns='image-review'}}
	{{/if}}
</p>
<p>
	{{i18n 'main.image-dimensions' ns='image-review'}}
	{{#if thumbnailModel.dimensions}}
		{{thumbnailModel.dimensions}}
	{{else}}
		{{i18n 'main.not-provided' ns='image-review'}}
	{{/if}}
</p>
{{#if thumbnailModel.history}}
	<table class="image-review-modal-history">
		<tr>
			<td>{{i18n 'main.history-date' ns='image-review'}}</td>
			<td>{{i18n 'main.history-user' ns='image-review'}}</td>
			<td>{{i18n 'main.history-status' ns='image-review'}}</td>
		</tr>
		{{#each thumbnailModel.history as |item|}}
			<tr>
				<td>{{item.date}}</td>
				<td>{{item.user}}</td>
				<td>
					{{#if item.status}}
						{{item.status}}
					{{else}}
						{{i18n 'main.history-undefined' ns='image-review'}}
					{{/if}}

				</td>
			</tr>
		{{/each}}
	</table>
{{else}}
	<p>{{i18n 'main.history-no-history' ns='image-review'}}</p>
{{/if}}
