{{#if model.showSubHeader}}
	<header class="sub-head">
		<a {{action this.attrs.openMainPage}} class="sub-head--cancel">{{svg 'back-arrow' role='img' class='icon'}}</a>
		<button {{action this.attrs.reviewAndGetMoreImages}} class="sub-head--done">
			{{i18n 'main.review-and-get-more' ns='image-review'}}
		</button>
		<div class="sub-head--title">
			{{i18n 'main.head' ns='image-review'}}
		</div>
	</header>
{{/if}}
<div class="image-review-content">
	{{#if model.images}}
		<div class="image-review-text">
			<p>{{i18n 'main.description' ns='image-review'}}</p>
			<p>
				{{#if model.userCanAuditReviews}}
					<strong>{{model.status}}</strong>
				{{/if}}
			</p>
			<p>
				{{i18n 'main.images-to-review-count' ns='image-review'}}
				{{#if model.imagesToReviewCount}}
					<strong>{{model.imagesToReviewCount}}</strong>
				{{else}}
					{{i18n 'main.waiting-for-count' ns= 'image-review'}}
				{{/if}}

			</p>
		</div>
		<ul class="image-review-list">
			{{#each model.images as |item|}}
				<li class="image-review-item">
					{{image-review-item model=item showModal=(action 'showModal')
					changeItemModel=(action (action this.attrs.changeItemModel))}}
				</li>
			{{/each}}
		</ul>

	{{else}}
		<h2>{{i18n 'main.error-no-more-images' ns='image-review'}}</h2>
	{{/if}}

	<div class="image-review-action-buttons">
		{{#if model.images }}
			<button {{action this.attrs.reviewAndGetMoreImages}}>
				{{i18n 'main.review-and-get-more' ns='image-review'}}
			</button>
		{{/if}}
		{{#if model.userCanAuditReviews}}
			<button {{action this.attrs.getAllWithStatus 'UNREVIEWED'}}>
				{{i18n 'main.get-unreviewed' ns='image-review'}}
			</button>
			<button {{action this.attrs.getAllWithStatus 'QUESTIONABLE'}}>
				{{i18n 'main.get-questionable' ns='image-review'}}
			</button>
			<button {{action this.attrs.getAllWithStatus 'REJECTED'}}>
				{{i18n 'main.get-rejected' ns='image-review'}}
			</button>
		{{/if}}
	</div>
</div>
{{#modal-dialog isVisible=isModalVisible}}
	{{image-review-modal-dialog thumbnailModel=thumbnailModel class='image-review-modal-dialog'}}
{{/modal-dialog}}
