{{#if model.showSubHeader}}
	<header class="sub-head">
		<a {{action this.attrs.openImageReview}} class="sub-head--cancel">{{svg 'back-arrow' role='img' class='icon'}}</a>
		<div class="sub-head--title">
			{{i18n 'main.head' ns='image-review'}}
		</div>
	</header>
{{/if}}

{{#if model.userCanAuditReviews}}
	<div class="image-review-summary-dialog">
		<label class="image-review-date-input">
			From:
			{{pikaday-input value=model.startDate
			theme="image-review-date-picker"
			onSelection=(action this.attrs.setStartDate)}}📅
		</label>
		<label class="image-review-date-input">
			To:
			{{pikaday-input value=model.endDate
			theme="image-review-date-picker"
			onSelection=(action this.attrs.setEndDate)}}📅
		</label>
		<button {{action this.attrs.toggleSummary}} class="image-review-toggle-summary-button">Show statistics</button>
		<a href={{model.csvLink}} download>
			<button>Download CSV</button>
		</a>
		{{#if model.summary}}
			<table class="image-review-modal-history">
				<tr>
					<td>Total Reviewed</td>
					<td>Average Per User</td>
					{{#each model.summary.reviewsCountPerStatus as |countStatus|}}
						<td>{{countStatus.status}}</td>
					{{/each}}
				</tr>
				<tr>
					<td>{{model.summary.totalReviewed}}</td>
					<td>{{model.summary.avgPerUser}}</td>
					{{#each model.summary.reviewsCountPerStatus as |countPerStatus|}}
						<td>{{countPerStatus.count}}</td>
					{{/each}}
				</tr>
			</table>
			<br>
			<table class="image-review-modal-history">
				<tr>
					<td>User name</td>
					<td>Distance to avg</td>
					{{#each model.summary.reviewsCountPerStatus as |countStatus|}}
						<td>{{countStatus.status}}</td>
					{{/each}}
				</tr>
				{{#each model.summary.userStatistics as |user|}}
					<tr>
						<td>{{user.userName}}</td>
						<td>{{user.distanceToAvg}}</td>
						{{#each user.reviewsCountPerStatus as |countPerStatus|}}
							<td>{{countPerStatus.count}}</td>
						{{/each}}
					</tr>
				{{/each}}
			</table>

		{{/if}}
	</div>
	<div class="image-review-summary-dialog">
		{{input value=model.imageId}}
		<button {{action this.attrs.toggleHistory}}>Show history</button>
		{{#if model.history}}
			{{image-review-modal-dialog thumbnailModel=model.history class='image-review-modal-dialog'}}
		{{/if}}
	</div>
{{/if}}
