<div class="image-review-image-container {{model.status}}">
	<img src="{{thumbnailUrl}}" {{action this.attrs.showModal model}}>
	<form class="image-review-button-group">
		<button class="button-group-item {{if isAccepted 'highlighted' 'inactive'}}"
			{{action (action this.attrs.changeItemModel model.imageId 'accepted')}}>
			{{i18n 'main.status-accepted' ns='image-review'}}
		</button>
		<button class="button-group-item {{if isRejected 'highlighted' 'inactive'}}"
			{{action (action this.attrs.changeItemModel model.imageId 'rejected')}}>
			{{i18n 'main.status-rejected' ns='image-review'}}
		</button>
		<button class="button-group-item {{if isQuestionable 'highlighted' 'inactive'}}"
			{{action (action this.attrs.changeItemModel model.imageId 'questionable')}}>
			{{i18n 'main.status-questionable' ns='image-review'}}
		</button>
	</form>
</div>
