{{#if showActionButtons}}
	<a class="edit-header--back edit-header-icon" {{action (action 'back')}}>
		{{svg 'back-arrow' role='img' class='icon back-arrow'}}
	</a>
{{/if}}
<div class="edit-header--title">{{title}}</div>
{{#if showActionButtons}}
	<a class="edit-header--delete edit-header-icon" {{action (action 'removeItem')}}>
		{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
	</a>
{{/if}}
