{{app-header
	title=(i18n 'main.header' ns='infobox-builder' title=title)
	onBackArrowClick=cancelAction
	onConfirmBtnClick=(action 'save')
	backArrowTooltip=(i18n 'app.cancel-label')
	confirmBtnLabel=(i18n 'main.save' ns='infobox-builder')
	fixed=true
}}

<div class="infobox-builder">
	<div class="infobox-builder-preview">
		{{#sortable-group
			tagName="div"
			classNames='portable-infobox pi-background'
			onChange=reorder as |group|
		}}
			{{#each state as |element index|}}
				{{component element.infoboxBuilderData.component
					activeItem=activeItem
					model=element
					group=group
					handle=".pi-item"
					position=index
					setEditItem=setEditItem
					spacing=8
					onDragStart=(action 'onPreviewItemDrag')
					onDragStop=(action 'onPreviewItemDrop')
					onMouseEnter=(action 'showReorderTooltip')
					onMouseLeave=(action 'hideReorderTooltip')
				}}
			{{/each}}
		{{/sortable-group}}
		{{#if isReorderTooltipVisible}}
			{{wikia-ui-components/on-hover-tooltip
				posX=tooltipPosX
				posY=tooltipPosY
				fixed=true
				message=(i18n 'main.reorder-tooltip' ns='infobox-builder')
			}}
		{{/if}}
	</div>

	{{infobox-builder-sidebar
		addItem=addItem
		removeItem=removeItem
		itemInEditMode=activeItem
		setEditItem=setEditItem
		editTitleItem=editTitleItem
		editRowItem=editRowItem
	}}
</div>
{{#if showOverlay}}
	<div class="infobox-builder-spinner loading-overlay">
	{{#if isLoading}}
		{{loading-spinner
			active=true
			radius=38
			overlay=false
			strokeWidth=3
		}}
		<div class="spinner-text">
			{{i18n 'main.saving' ns='infobox-builder'}}
		</div>
	{{/if}}
	{{#if showSuccess}}
		{{svg 'success' class='success-icon' viewBox='0 0 80 80'}}
		<div class="spinner-text">
			{{i18n 'main.success' ns='infobox-builder'}}
		</div>
	{{/if}}
	</div>
{{/if}}
