<p class="infobox-builder-go-to-source-modal-message">{{i18n 'main.source-editor-save-confirmation' ns='infobox-builder'}}</p>
<button {{action this.attrs.goToSource true}}>{{i18n 'main.source-editor-save-confirmation-button-yes' ns='infobox-builder'}}</button>
<button {{action this.attrs.goToSource false}}>{{i18n 'main.source-editor-save-confirmation-button-no' ns='infobox-builder'}}</button>
