<p class="infobox-builder-go-to-source-modal-message">{{message}}</p>
<button {{action this.attrs.goToSource false}}>{{goToSourceButtonLabel}}</button>
<button {{action this.attrs.goToSource true}}>{{saveAndGoToSourceButtonLabel}}</button>
