<div class="sidebar-header">{{i18n 'infobox-builder:main.sidebar-header'}}</div>
<div class="infobox-builder-buttons">
	<button {{action 'addItem' 'data'}}>{{i18n 'infobox-builder:main.add-data'}}</button>
	<button {{action 'addItem' 'title'}}>{{i18n 'infobox-builder:main.add-title'}}</button>
	<button {{action 'addItem' 'image'}}>{{i18n 'infobox-builder:main.add-image'}}</button>
</div>