{{#if item}}
    <button {{action 'removeItem'}}>{{i18n 'infobox-builder:main.remove-item'}}</button>
    <button {{action 'moveItemUp'}}>{{i18n 'infobox-builder:main.imove-item-up'}}</button>
    <button {{action 'moveItemDown'}}>{{i18n 'infobox-builder:main.move-item-down'}}</button>
{{/if}}
