{{#if showActionButtons}}
	<a class="infobox-builder-sidebar-header-icon--back infobox-builder-sidebar-header-icon" {{action (action 'back')}}>
		{{svg 'back-arrow' role='img' class='icon back-arrow'}}
	</a>
{{/if}}
<div class="infobox-builder-sidebar-header-title">{{title}}</div>
{{#if showActionButtons}}
	<a class="infobox-builder-sidebar-header-icon--delete infobox-builder-sidebar-header-icon"
		{{action (action 'removeItem')}}>
		{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
	</a>
{{/if}}
