<div class="edit-header">
	<a class="edit-header--back edit-header-icon" {{action this.attrs.onBackArrowClick null}}>
		{{svg 'back-arrow' role='img' class='icon back-arrow'}}</a>
	<div class="edit-header--title">{{header}}</div>
	<a class="edit-header--delete edit-header-icon" {{action this.attrs.onDeleteItem item}}>
		{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}</a>
</div>
{{component editPanelOption
	item=item
	editTitleItem=editTitleItem
	editRowItem=editRowItem
	editSectionHeaderItem=editSectionHeaderItem
}}
