{{app-header
	title=(i18n 'main.header' ns='infobox-builder' title=title)
	onBackArrowClick=cancelAction
	onConfirmBtnClick=saveAction
	backArrowTooltip=(i18n 'app.cancel-label')
	confirmBtnLabel=(i18n 'main.save' ns='infobox-builder')
	fixed=true
}}
<div class="infobox-builder">
	{{#infobox-builder-wrapper}}
		{{#each state as |element index|}}
			{{component element.infoboxBuilderData.component
				item=element
				position=index
				activeItem=activeItem
				setEditItem=setEditItem
			}}
		{{/each}}
	{{/infobox-builder-wrapper}}

	{{infobox-builder-sidebar
		addItem=addItem
		removeItem=removeItem
		itemInEditMode=activeItem
		setEditItem=setEditItem
		editTitleItem=editTitleItem
		editRowItem=editRowItem
	}}
</div>
{{#if showOverlay}}
	<div class="infobox-builder-spinner loading-overlay">
	{{#if isLoading}}
		{{loading-spinner
			active=true
			radius=38
			overlay=false
			strokeWidth=3
		}}
		<div class="spinner-text">
			{{i18n 'main.saving' ns='infobox-builder'}}
		</div>
	{{/if}}
	{{#if showSuccess}}
		{{svg 'success' class='success-icon' viewBox='0 0 80 80'}}
		<div class="spinner-text">
			{{i18n 'main.success' ns='infobox-builder'}}
		</div>
	{{/if}}
	</div>
{{/if}}