<div class="modal-text-area">
	<h2 class="infobox-builder-edit-title-modal-title">{{i18n 'main.edit-title-modal-header' ns='infobox-builder'}}</h2>
	<p class="infobox-builder-edit-title-modal-message infobox-builder-modal-message">{{i18n 'main.edit-title-modal-text' ns='infobox-builder'}}</p>
	{{wikia-ui-components/text-field
		placeholder=(i18n 'main.edit-title-placeholder' ns='infobox-builder')
		value=value
		inputId='editTemplateTitle'
		name='editTemplateTitle'
		onFocusHandler=(action 'onInputFocus')
		errorMessage=errorMessage
	}}
</div>
<div class="modal-bottom-row">
	{{#if showCancelButton}}
		<button {{action this.attrs.cancelButtonAction}}>{{cancelButtonText}}</button>
	{{/if}}
	<button {{action this.attrs.confirmButtonAction value}} disabled={{isConfirmButtonDisabled}}>
		{{confirmButtonText}}
	</button>
</div>
