<div class="sidebar-header">{{i18n 'main.sidebar-header' ns='infobox-builder'}}</div>
<div class="infobox-builder-buttons">
	{{infobox-builder-button
		itemName='row'
		addItem=addItem
	}}
	{{infobox-builder-button
		itemName='title'
		addItem=addItem
	}}
	{{infobox-builder-button
		itemName='image'
		addItem=addItem
	}}
	{{infobox-builder-button
		itemName='section-header'
		addItem=addItem
	}}
</div>
