<div class="wiki-container">
	{{wikia-ui-components/wiki-page-header-curated-main-page
		showButtons=curatedContentToolButtonVisible
		isRoot=isRoot
		title=title
	}}
	{{#if wikiaStats}}
		{{wikia-stats model=wikiaStats}}
	{{/if}}
	{{ad-slot isAboveTheFold=true name='NATIVE_PAID_ASSET_DROP' class='main-page-pad-slot'}}
	{{#if featuredContent}}
		{{featured-content model=featuredContent}}
	{{/if}}
	{{#if curatedContent}}
		{{curated-content model=curatedContent openCuratedContentItem='openCuratedContentItem'}}
	{{/if}}
	{{#if trendingArticles}}
		{{trending-articles model=trendingArticles}}
	{{/if}}
	{{#if trendingVideos}}
		{{trending-videos model=trendingVideos openLightbox='openLightbox'}}
	{{/if}}
	{{wikia-footer}}
</div>
