<div class="wiki-container">
	{{#if curatedContentToolButtonVisible}}
		{{#wikia-ui-components/wiki-page-header isMainPage=true}}
			{{#link-to 'curatedContentEditor' trackingCategory='main-page' trackingLabel='open-editor' bubbles=false class='main-page-edit'}}
				{{svg 'pencil' role='img' class='icon pencil'}}
			{{/link-to}}
		{{/wikia-ui-components/wiki-page-header}}
	{{else}}
		{{wikia-ui-components/wiki-page-header isMainPage=true}}
	{{/if}}
	{{#if wikiaStats}}
		{{wikia-stats model=wikiaStats}}
	{{/if}}
	{{ad-slot name='NATIVE_PAID_ASSET_DROP' noAds=noAds class='main-page-pad-slot'}}
	{{#if featuredContent}}
		{{featured-content model=featuredContent}}
	{{/if}}
	{{#if curatedContent}}
		{{curated-content model=curatedContent openCuratedContentItem='openCuratedContentItem'}}
	{{/if}}
	{{#if trendingArticles}}
		{{trending-articles model=trendingArticles}}
	{{/if}}
	{{#if trendingVideos}}
		{{trending-videos model=trendingVideos openLightbox='openLightbox'}}
	{{/if}}

	{{wikia-footer}}
</div>
