{{#if submitted}}
	Thank you for providing the info!
{{else}}
	<form {{action 'submit' on='submit'}}>
		<label class="portable-infobox-question__text {{classInvalid}}" for="portable-infobox-question">{{question.text}}</label>
		{{wikia-ui-components/text-field
			value=answer
			name='portable-infobox-question'
			class='portable-infobox-question__input'
			placeholder='Fill in the data'
			transparent = true
		}}
	<span class="portable-infobox-question__error {{classInvalid}}">Please provide your response</span>
</form>
{{/if}}
