{{#if showDiffLink}}
	{{#if hasDiff}}
		{{#link-to 'articleDiff' model.old_revid model.revid
			class='recent-change__see-diff'
			tracking-category='recent-wiki-activity'
			tracking-label='recent-change__see-diff'
		}}
			{{svg 'back-arrow' role='img' class='icon-back'}}
		{{/link-to}}
	{{else}}
		{{#link-to 'article' model.title
			class='recent-change__see-diff'
			tracking-category='recent-wiki-activity'
			tracking-label='recent-change__see-diff'
		}}
			{{svg 'back-arrow' role='img' class='icon-back'}}
		{{/link-to}}
	{{/if}}
{{/if}}

{{user-avatar
	avatarUrl=model.useravatar
	username=model.user
	displayProfileName=true
	anonymous=model.anonymous
}}
<small class="recent-change__time-ago">{{time-ago model.timestamp}}</small>
<h3 class="recent-change__article-title">
	{{#link-to 'article' model.title
		tracking-category='recent-wiki-activity'
		tracking-label='recent-change__article-title'
	}}
		{{model.title}}
	{{/link-to}}
</h3>

{{#if model.parsedcomment}}
	<small class="recent-change__summary">
		<strong class="recent-change__summary-label">{{i18n 'main.summary' ns='recent-wiki-activity'}}</strong> {{{model.parsedcomment}}}
	</small>
{{/if}}
