{{#if showDiffLink}}
	{{#if hasDiff}}
		{{#link-to 'articleDiff' model.old_revid model.revid
			class='recent-change__see-diff'
			trackingCategory='recent-wiki-activity'
			trackingLabel='recent-change__see-diff'
		}}
			{{svg 'back-arrow' role='img' class='icon-back'}}
		{{/link-to}}
	{{else}}
		{{#link-to 'wiki-page' model.title
			class='recent-change__see-diff'
			trackingCategory='recent-wiki-activity'
			trackingLabel='recent-change__see-diff'
		}}
			{{svg 'back-arrow' role='img' class='icon-back'}}
		{{/link-to}}
	{{/if}}
{{/if}}

{{user-avatar
	avatarUrl=model.useravatar
	username=model.user
	displayProfileName=true
	anonymous=model.anonymous
}}
<small class="recent-change__time-ago">{{time-ago model.timestamp}}</small>
<h3 class="recent-change__article-title">
	{{#link-to 'wiki-page' model.title
		trackingCategory='recent-wiki-activity'
		trackingLabel='recent-change__article-title'
	}}
		{{model.title}}
	{{/link-to}}
</h3>

{{#if model.parsedcomment}}
	<small class="recent-change__summary">
		<strong class="recent-change__summary-label">{{i18n 'main.summary' ns='recent-wiki-activity'}}</strong> {{{model.parsedcomment}}}
	</small>
{{/if}}
<div class="recent-change__meta clearfix">
	<div class="recent-change__upvotes {{if currentUserUpvoteId 'user-upvoted'}}">
		<span {{action 'handleVote'}}>{{svg 'kudos' viewBox='0 0 18 18' class='icon'}}</span><span class="text">{{upvotesCount}}</span>
	</div>
	<div class="recent-change__byte-change">{{localize-number model.lengthChange true}}</div>
</div>
{{#if active}}
	<div class="current-change"></div>
{{/if}}
