<h3>
	{{i18n 'main.title' ns='recent-wiki-activity'}}
	<button class="recent-edit-close" {{action 'postpone' 'postponed'}}>{{svg 'close' role='img' class='close-icon'}}</button>
</h3>
<a href="{{recentWikiActivityLink}}" {{action 'dismiss' 'rwa-link' preventDefault=false}}>
	<div class="recent-edit-revision">
		{{recentEdit.user}} {{i18n 'main.edited' ns='recent-wiki-activity'}} {{recentEdit.title}} {{time-ago recentEdit.timestamp}}
	</div>
	{{i18n 'main.intro-see-more-recent-edits' ns='recent-wiki-activity'}}
	{{svg 'arrow-right-long' role='img' class='icon'}}
</a>
<button class="recent-edit-dismiss" {{action 'dismiss' 'dismissed'}}>{{i18n 'main.dont-show-again' ns='recent-wiki-activity'}}</button>
