<a id="share-{{uniqueIdentifier}}" class="toggle-share-area">
	{{svg 'share' class='icon toggle-share'}} <span class="mobile-hidden">Share</span>
</a>

{{#pop-over for=(concat 'share-' uniqueIdentifier) on='click' flow='flip'}}
	<h6>{{header}}</h6>

	{{#each currentSocialNetworks as |currentSocialNetwork|}}
		<a {{action 'share' currentSocialNetwork}} class="{{currentSocialNetwork}} icon" href="#"></a>
	{{/each}}
{{/pop-over}}
