<div class='side-nav-menu'>
	<div class="side-nav-menu__header">
		<a class="close" {{action 'closeButtonClick'}} href="#">
			{{svg 'close' viewBox='0 0 18 18' class='icon icon--close'}}
		</a>
		<a class="wordmark" {{action 'wordmarkClick' preventDefault=false}} href={{wikiaHomepage}}>
			{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
		</a>
	</div>
	{{!--
		temporary change for nav entry points AB test - https://wikia-inc.atlassian.net/browse/DAT-4052
		cleanup as a part of https://wikia-inc.atlassian.net/browse/DAT-4064

		previous code:

		{{component
			globalNavContent
			class='side-nav-menu__contents'
			replaceNavigationContent=(action 'replaceNavigationContent')
			collapse=(action 'collapse')
			loadRandomArticle=(action 'loadRandomArticle')
		}}
	--}}
	{{component
		globalNavContent
		class='side-nav-menu__contents'
		replaceNavigationContent=(action 'replaceNavigationContent')
		collapse=(action 'collapse')
		loadRandomArticle=(action 'loadRandomArticle')
		hideLocalNav=hideLocalNav
		shouldFocusSearchInput=shouldFocusSearchInput
	}}
	{{#if isFandomVisible}}
		<div class="side-nav-menu__footer">
			<a {{action 'homeOfFandomClick' preventDefault=false}} href={{wikiaHomepage}}>
				{{homeOfFandomLabel}}
			</a>
		</div>
	{{/if}}
</div>
