{{#if isUserAuthenticated}}
	<div class="side-nav-menu__item main">
		<a {{action 'trackClick' 'side-nav' 'open-user-profile' preventDefault=false}} href="{{userProfileLink}}" class="external profile-link">
			<figure class="avatar">
				<img src={{currentUser.avatarPath}} alt="{{currentUser.name}}">
			</figure>
			{{i18n 'app.user-menu-profile'}}
		</a>
		<a {{action 'trackClick' 'side-nav' 'open-logout' preventDefault=false}} href="{{unbound logoutLink}}" class="external logout">{{i18n 'app.user-menu-log-out'}}</a>
	</div>
{{else}}
	<a class="side-nav-menu__item main" {{action 'goToLogin'}}>{{i18n 'userStatus.login-text'}} / {{i18n 'userStatus.register-text'}}</a>
{{/if}}

{{#each hubsLinks as |link|}}
	<a {{action 'hubLinkClick' link.specialAttr preventDefault=false}} class="side-nav-menu__item {{link.specialAttr}}" href="{{link.href}}">
		{{link.text}}
	</a>
{{/each}}
<div class="side-nav-menu__item menu" {{action attrs.replaceNavigationContent 'explore'}}>
	{{exploreWikiaLabel}}
</div>
<div class="side-nav-menu__item menu" {{action 'openLocalNavigation'}}>
	{{i18n 'app.explore-wiki' wikiName=wikiName}}
	{{#if shouldDisplayNewBadge}}
		{{svg 'info-filled' class='icon new-badge'}}
	{{/if}}
</div>

{{side-nav-menu
	header=''
	items=items
	user=true
	onClickHandler=(action 'linkClick')
}}
