<div class="side-nav-menu__item search">
	<div class="side-search__container">
		{{input
			class='side-search__input'
			tabindex='-1'
			placeholder=searchPlaceholderLabel
			focus-in='searchFocus'
			value=query
			enter='enter'
		}}
		{{#unless localNavigationVisible}}
			<div class='side-search__clear' {{action 'clearSearch'}}>
				{{svg 'side-nav-search-clear' viewBox='0 0 18 18' class='icon'}}
			</div>
		{{/unless}}
	</div>
	{{#unless localNavigationVisible}}
		<div {{action 'cancelSearch'}} class="side-search__cancel">
			{{i18n 'app.cancel-label'}}
		</div>
	{{/unless}}
</div>
<ul class="side-search__results">
	{{#each suggestions as |suggestion|}}
		<li class="side-nav-menu__item search-result mw-content">
			{{#link-to 'article' suggestion.uri action=collapse }}
				{{suggestion.title}}
			{{/link-to}}
		</li>
	{{else}}
		{{#if isLoadingSearchResults}}
			<li class="side-nav-menu__item search-result loading">
				{{i18n 'app.search-loading-msg'}}
			</li>
		{{/if}}
	{{/each}}
</ul>
