<li class="side-nav-menu__item main">
	{{#if localNavContent.parent}}
		{{localNavContent.text}}
	{{else}}
		{{i18n 'app.side-nav-menu-label'}}
	{{/if}}
</li>
<li class="side-nav-menu__item" {{action 'loadRandomArticle'}}>
	{{i18n 'app.random-page-label'}}
</li>

{{#each localNavContent.children as |child index|}}
	{{#if child.children}}
		<li class="side-nav-menu__item menu" {{action 'changeMenuItem' index}}>
			{{unbound child.text}}
		</li>
	{{else}}
		<li class="side-nav-menu__item mw-content">
			<a {{action this.attrs.collapse}} href="{{unbound child.href}}">{{unbound child.text}}</a>
		</li>
	{{/if}}
{{/each}}
