{{#if isUserAuthenticated}}
<div class="side-nav-menu__item main">
	<a href="{{userProfileLink}}" class="external profile-link">
		<figure class="avatar">
			<img src={{currentUser.avatarPath}} alt={{currentUser.name}}>
		</figure>
		{{i18n 'app.my-profile-label'}}</a>
	<a href="{{unbound logoutLink}}" class="external logout">{{i18n 'app.user-menu-log-out'}}</a>
</div>
{{else}}
	<a class="side-nav-menu__item main" {{action 'goToLoginPage'}}>{{i18n 'app.sign-in-or-register-label'}}</a>
{{/if}}

{{#each hubsLinks as |link|}}
	<a class="side-nav-menu__item {{link.specialAttr}}" href="{{link.href}}">
		{{link.text}}
	</a>
{{/each}}
<a class="side-nav-menu__item menu" {{action this.attrs.replaceNavigationContent 'explore'}} href="#">
	{{exploreWikiaLabel}}
</a>
<a class="side-nav-menu__item menu" {{action this.attrs.replaceNavigationContent 'local'}} href="#">
	{{i18n 'app.explore-wiki' wikiName=wikiName}}
</a>
