<li class="side-nav-menu__item {{className}}" {{action attrs.click preventDefault=false}}>
	{{#if href}}
		{{#link-to link href}}
			{{name}}
		{{/link-to}}
	{{else}}
		{{#link-to link}}
			{{name}}
		{{/link-to}}
	{{/if}}
</li>
