{{#if localNavContent.parent}}
	<li class="side-nav-menu__item main">
		{{localNavContent.text}}
	</li>
{{else}}
	<li class="side-nav-menu__item main">
		{{i18n 'app.side-nav-menu-label'}}
	</li>
{{/if}}

<li class="side-nav-menu__item" {{action 'recentWikiActivityClick'}}>
	{{#link-to 'recent-wiki-activity'
		tracking-category='recent-wiki-activity'
		tracking-label='local-nav'
	}}
		{{i18n 'main.title' ns='recent-wiki-activity'}}
		{{svg 'info-filled' class='icon new-badge'}}
	{{/link-to}}
</li>

{{#each localNavContent.children as |child index|}}
	{{#if child.children}}
		<li class="side-nav-menu__item menu" {{action 'changeMenuItem' index}}>
			{{unbound child.text}}
		</li>
	{{else}}
		<li class="side-nav-menu__item mw-content">
			<a {{action this.attrs.collapse}} href="{{unbound child.href}}">{{unbound child.text}}</a>
		</li>
	{{/if}}
{{/each}}

{{#unless localNavContent.parent}}
	<li class="side-nav-menu__item" {{action 'loadRandomArticle'}}>
		{{i18n 'app.random-page-label'}}
	</li>
{{/unless}}
