<div class='side-nav-menu'>
	<div class="side-nav-menu__header">
		<a class="close" {{action 'closeButtonClick'}} href="#">
			{{svg 'close' viewBox='0 0 18 18' class='icon icon--close'}}
		</a>
		<a class="wordmark" {{action 'wordmarkClick' preventDefault=false}} href={{wikiaHomepage}}>
			{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
		</a>
	</div>
	{{component
		globalNavContent
		class='side-nav-menu__contents'
		replaceNavigationContent=(action 'replaceNavigationContent')
		collapse=(action 'collapse')
		loadRandomArticle=(action 'loadRandomArticle')
	}}
	{{#if isFandomVisible}}
		<div class="side-nav-menu__footer">
			<a {{action 'homeOfFandomClick' preventDefault=false}} href={{wikiaHomepage}}>
				{{homeOfFandomLabel}}
			</a>
		</div>
	{{/if}}
</div>
