<li class="side-nav-menu__item {{className}}" {{action attrs.itemClick preventDefault=false}}>
	{{#if href}}
		{{#link-to route href}}
			{{name}}
		{{/link-to}}
	{{else if route}}
		{{#link-to route}}
			{{name}}
		{{/link-to}}
	{{else}}
		{{name}}
	{{/if}}
</li>
