<div class="site-logo site-logo-2016">
	<a {{action 'trackWordmarkClick' preventDefault=false}} href={{wikiaHomepage}}>
		{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
	</a>
</div>

{{#wikia-ui-components/icon-button
	click=(action 'siteHeadIconClick' navIcon)
	class='nav-button site-head-icon-nav'
	icon=visibleNavIcon
}}
	{{#if shouldDisplayNewBadge}}
		{{svg 'info-filled' class='icon new-badge__pinned new-badge__animated'}}
	{{/if}}
{{/wikia-ui-components/icon-button}}

{{wikia-ui-components/icon-button
	click=(action 'siteHeadIconClick' searchIcon)
	class='nav-button site-head-icon-search'
	icon=visibleSearchIcon
}}
