{{!--
	Keep this in sync with:
	/front/main/app/index.html
	/server/app/views/_partials/site-head.hbs
--}}
<div class="site-head-wrapper">
	<nav class="site-head">
		{{wikia-ui-components/icon-button
			click=(action 'siteHeadIconClick' 'nav')
			class='site-head-icon site-head-icon-nav'
			icon=navIcon
			iconSize=24
		}}
		<div class="site-logo">
			<a {{action 'trackWordmarkClick' preventDefault=false}} href="{{wikiaHomepage}}">
				{{svg svgName role='img' class='fandom-logo'}}
			</a>
		</div>
		<div class="site-head-icon-search">
			{{wikia-ui-components/icon-button
				click=(action 'siteHeadIconClick' 'search')
				class='site-head-icon'
				icon=searchIcon
				iconSize=24
				isVisible=(if isSearchPage false true)
			}}
		</div>
	</nav>
</div>
{{site-head-fandom-bar
	wikiaHomepage=wikiaHomepage
	isVisible=displayFandomBar
}}
<div id="site-head-sub-header"></div>
