<div class="site-head-fandom-bar">
	<a href="{{wikiaHomepage}}">
		{{svg 'wds-company-logo-powered-by-wikia' role='img' class='fandom-bar-logo'}}
	</a>
	{{#if partnerSlot}}
		<a class="site-head-fandom-bar__partner-logo" href="{{partnerSlot.href}}" {{action 'trackClick' partnerSlot.tracking_label preventDefault=false}}>
			<img class="site-head-fandom-bar__partner-logo-img" src="{{partnerSlot.image-data.url}}" alt="{{partnerSlot.title.value}}"/>
		</a>
	{{/if}}
</div>
