<figure>
	<div class="item-image" style={{imageStyle}}>
		<img src="{{thumbUrl}}" alt="{{video.title}}" />
		{{#if video.duration}}<div class="item-duration">{{duration video.duration}}</div>{{/if}}
	</div>
	<figcaption class="item-figcaption">{{video.title}}</figcaption>
</figure>
