<figure class="avatar">
	{{#if avatarUrl}}
		{{#if shouldWrapInHref}}
			<a href="{{profileUrl}}">
				<img src="{{avatarUrl}}">
			</a>
		{{else}}
			<img src="{{avatarUrl}}">
		{{/if}}
	{{else}}
		{{svg 'avatar' viewBox='0 0 40 40' class='icon'}}
	{{/if}}
</figure>
{{#if badgePermission}}
	{{discussion-user-avatar-badge
		badgePermission=badgePermission
	}}
	<figure class="user-avatar-badge">
		<span title="{{badge.tooltip}}">
			{{svg badge.icon viewBox='0 0 18 18' class='icon'}}
		</span>
	</figure>
{{/if}}
{{#if displayProfileName}}
	{{#if shouldWrapInHref}}
		<a href="{{profileUrl}}" class="avatar-username">{{displayName}}</a>
	{{else}}
		<span class="avatar-username">{{displayName}}</span>
	{{/if}}
{{/if}}
