<div class="side-search__item search">
	<div class="side-search__container">
		{{input
			class='side-search__input'
			tabindex='-1'
			placeholder=searchPlaceholderLabel
			value=query
			enter='enter'
			type='search'
		}}
		<div class='side-search__clear' {{action 'clearSearch'}}>
			{{svg 'side-nav-search-clear' viewBox='0 0 18 18' class='icon'}}
		</div>
	</div>
</div>
<ul class="side-search__results">
	{{#each suggestions as |suggestion|}}
		<li class="side-search__item search-result mw-content">
			{{#link-to 'wiki-page' suggestion.uri action='searchSuggestionClick'}}
				{{suggestion.title}}
			{{/link-to}}
		</li>
	{{else}}
		{{#if isLoadingSearchResults}}
			<li class="side-search__item search-result loading">
				{{i18n 'app.search-loading-msg'}}
			</li>
		{{/if}}
	{{/each}}
</ul>
