{{!-- Keep this in sync with /server/app/views/_partials/wikia-footer.hbs --}}
{{svg 'wikia-logo-white' viewBox='37 11 75 41' role='img' class='logo'}}
<ul class="footer-links">
	{{#each links as |link|}}
		<li class="{{unbound link.className}}">
			<a href="{{unbound link.href}}" {{action 'handleFooterLinkClick' link.text link.href}} class="external">
				{{i18n 'app' link.text}}
			</a>
		</li>
	{{/each}}
</ul>
