<div class="wikia-search {{if emptyPhraseInput 'wikia-search--empty'}} {{if inputFocused 'wikia-search--focused'}} {{if hasSuggestions 'wikia-search--has-suggestions'}}">
	<div class="wikia-search__item search">
		<div class="wikia-search__container">
			{{wikia-ui-components/icon-button
				class='wikia-search__search-icon'
				icon='search'
				iconSize=18
			}}
			<div class="text-field">
				{{input
					class='side-search__input'
					value=phrase
					focus-out=(action 'onInputBlur')
					focus-in=(action 'onInputFocus')
					enter=(action 'enter')
					placeholder=searchPlaceholderLabel
					type='search'
				}}
			</div>
			{{wikia-ui-components/icon-button
				class='wikia-search__clear'
				click=(action 'clearSearch')
				icon='side-nav-search-clear'
				iconSize=18
			}}
		</div>
	</div>
	<div class="wikia-search__suggestions-wrapper" {{action 'onSuggestionsWrapperClick'}}>
		<ul class="wikia-search__suggestions">
			{{#each suggestions as |suggestion|}}
				<li class="wikia-search__item wikia-search__search-suggestion mw-content">
					{{#link-to 'wiki-page' suggestion.uri action='searchSuggestionClick' class='wikia-search--mobile'}}
						{{{suggestion.text}}}
					{{/link-to}}
					<a class="wikia-search--desktop" href="#" {{action 'redirectToOasis' suggestion.uri}}>
						{{{suggestion.text}}}
					</a>
				</li>
			{{else if isLoadingResultsSuggestions}}
				<li class="wikia-search__item wikia-search__search-suggestion wikia-search__loading">
					{{i18n 'main.search-loading-msg'
						ns='search'
					}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
