<div class="wikia-stats-container">
	{{#each items as |item|}}
		{{#if item.value}}
        <div class="wikia-stats-item">
			{{#if item.routeName}}
				{{#link-to item.routeName class="wikia-stats-link" invokeAction=(action 'discussionsClicked')}}
					<div class="wikia-stats-label">{{i18n item.label ns=item.namespace}}</div>
					<div class="wikia-stats-value">{{numeral item.value '0a'}}</div>
				{{/link-to}}
			{{else}}
					<div class="wikia-stats-label">{{i18n item.label ns=item.namespace}}</div>
					<div class="wikia-stats-value">{{numeral item.value '0a'}}</div>
			{{/if}}
        </div>
		{{/if}}
	{{/each}}
</div>
