<div class="wikia-search {{if emptyQueryInput 'empty'}} {{if inputFocused 'focused'}}">
	<div class="wikia-search__item search">
		<div class="wikia-search__container">
			{{wikia-ui-components/icon-button
				class='wikia-search__search-icon'
				click=(action 'clearSearch')
				icon='search'
				iconSize=18
			}}
			{{wikia-ui-components/text-field
				value=query
				name='infoboxSectionHeader'
				label=searchPlaceholderLabel
				inputClasses='side-search__input'
				tabindex='-1'
				type='search'
				onEnterHandler=(action 'enter')
				onFocusHandler=(action 'onInputFocus')
				onBlurHandler=(action 'onInputBlur')
			}}
			{{wikia-ui-components/icon-button
				class='wikia-search__clear'
				click=(action 'clearSearch')
				icon='side-nav-search-clear'
				iconSize=18
			}}
		</div>
	</div>
	<ul class="wikia-search__suggestions">
		{{#each suggestions as |suggestion|}}
			<li class="wikia-search__item wikia-search__search-suggestion mw-content">
				{{#link-to 'wiki-page' suggestion.uri action='searchSuggestionClick'}}
					{{{suggestion.text}}}
				{{/link-to}}
			</li>
		{{else}}
			{{#if isLoadingResultsSuggestions}}
				<li class="wikia-search__item wikia-search__search-suggestion wikia-search__loading">
					{{i18n 'app.search-loading-msg'}}
				</li>
			{{/if}}
		{{/each}}
	</ul>
</div>
