<div class="user-profile-fixed-wrapper">
	<div class="wikia-nav__header">
		<a {{action 'getBack' preventDefault=false}}
				class="wikia-nav__back user-profile-back-link">
			{{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='icon menu-chevron'}}
		</a>
		<a {{action 'trackClick' 'side-nav' 'open-logout' preventDefault=false}}
				href="{{unbound logoutLink}}"
				class="wikia-nav--external wikia-nav--logout">
			{{i18n 'navigation.user-menu-log-out'}}
		</a>
	</div>

	<header class="user-profile-header-wrapper">
		{{user-avatar
			username=username
			avatarUrl=currentUser.avatarPath
		}}
		<h4 class="user-profile-username">{{username}}</h4>
	</header>

	{{#if notificationsList.length}}
		<div class="notifications-title">
			<h5>{{i18n 'notifications-notifications' ns='design-system'}}</h5>
			<a class="mark-all-as-read" {{action 'markAllAsRead'}}>
				{{i18n 'notifications-mark-all-as-read' ns='design-system'}}
			</a>
		</div>
	{{/if}}
</div>

<div class="user-profile-scrollable-wrapper scrolling-part">
	{{#if notificationsList.length}}
		<ul class="wds-list wds-has-lines-between notifications-list">
			{{#each notificationsList as |notification|}}
				{{notification-card
						model=notification
				}}
			{{/each}}
		</ul>
	{{else}}
		{{i18n 'notifications-no-notifications-message' ns='design-system'}}
	{{/if}}
	{{#if isLoadingNewResults }}
		<div class="spinner-container">
			{{loading-spinner
					active=true
					isBlock=true
					isThemed=false
					overlay=false
					radius=15
					strokeWidth=2
			}}
		</div>
	{{/if}}
</div>
