{{svg 'wikia-logo-white' viewBox='0 0 152 42' role='img' class='logo'}}
<ul class="footer-links">
	{{#each links as |link|}}
		<li class="{{unbound link.className}}">
			<a href="{{unbound link.href}}" {{action 'handleFooterLinkClick' link.text link.href preventDefault=false}} class="external">
				{{i18n 'app' link.text}}
			</a>
		</li>
	{{/each}}
</ul>
