{{! Keep the same HTML structure as in front/main/app/templates/components/category-members-grouped.hbs }}
<div class="category-members-grouped">
	{{#if model.prevPageUrl}}
		<div class="category-navigation">
			<a href="{{model.prevPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button">
				{{i18n 'category-page.load-previous'}}
			</a>
		</div>
	{{/if}}
	{{#each model.membersGrouped as |members firstLetter|}}
		<div>
			<h3>{{firstLetter}}</h3>
			<ul class="category-members-grouped__list wds-has-big-items wds-list mw-content">
				{{#each members as |category|}}
					<li{{#if category.isCategory}} class="category-members-grouped__subcategory"{{/if}}>
						<a href="{{category.url}}">{{category.title}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
	{{#if model.nextPageUrl}}
		<div class="category-navigation">
			<a href="{{model.nextPageUrl}}" class="wds-button wds-is-secondary wds-is-full-width category-navigation__button">
				{{i18n 'category-page.load-more'}}
			</a>
		</div>
	{{/if}}
</div>
