{{! Keep the same HTML structure as in front/main/app/templates/components/article-media-thumbnail.hbs }}
<figure class="article-media-thumbnail file-{{media.type}}">
	<div class="article-media-thumbnail-image-wrapper">
		<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20480%20269'%2F%3E" height="{{media.height}}" width="{{media.width}}" alt="{{media.title}}">
		<noscript>
			<img src="{{media.url}}" height="{{media.height}}" width="{{media.width}}" alt="{{media.title}}">
		</noscript>
	</div>
	{{#if (equal media.type 'video')}}
		<figcaption>{{media.title}}</figcaption>
	{{/if}}
</figure>
