<div class="wiki-page-header{{#if hasHeroImage}} has-hero-image-preload{{/if}}">
	<div class="wiki-page-header__wrapper">
        <div class="wiki-page-header__main">
			<h2 class="wiki-page-header__site-name">
				{{i18n 'app.header-in-wiki-name-label-prefix'}}&nbsp;
				<a class="wiki-page-header__site-link" href="#">{{wikiVariables.siteName}}</a>
				&nbsp;{{i18n 'app.header-in-wiki-name-label-suffix'}} &#10132;
			</h2>
			<h1 class="wiki-page-header__title">{{displayTitle}}</h1>
			{{#if subtitle}}
				<div class="wiki-page-header__subtitle">{{subtitle}}</div>
			{{/if}}
		</div>
	</div>
</div>
