<header class="sub-head">
	<div class="sub-head--title">
		{{i18n 'main.head' ns='image-review'}}
		{{#link-to 'image-review'
				   (query-params status='UNREVIEWED')
				   tagName='button'
				   classNames='sub-head--done'}}
			{{i18n 'main.get-unreviewed' ns='image-review'}}
		{{/link-to}}
		{{#link-to 'image-review'
				   (query-params status='QUESTIONABLE')
				   tagName='button'
				   classNames='sub-head--done'}}
			{{i18n 'main.get-questionable' ns='image-review'}}
		{{/link-to}}
		{{#link-to 'image-review'
				   (query-params status='REJECTED')
				   tagName='button'
				   classNames='sub-head--done'}}
			{{i18n 'main.get-rejected' ns='image-review'}}
		{{/link-to}}
		{{#link-to 'image-review.coppa'
				   tagName='button'
				   classNames='sub-head--done'}}
			COPPA
		{{/link-to}}
	</div>
</header>

<div class="image-review-content">
	<div>
		<input type="text" placeholder="username" onchange={{action (mut username) value="target.value"}}>
		<button class="get-user-images-button" {{action 'showUserImages'}}>Get images for user</button>
	</div>
</div>
