<nav class="global-nav">
	<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
</nav>

<header class="discussions-header">
	<a href="{{wikiaUrl}}" title="{{i18n 'discussion:landing-page.to-the-wiki-title'}}" class="wikia-link">{{i18n 'discussion:landing-page.to-the-wiki-title'}}</a>
	<img class="app-logo" src="{{discussionsConfig.icon}}" alt="{{discussionsConfig.appName}}">
	<h1>{{i18n 'discussion:landing-page.page-main-header' applicationName=discussionsConfig.appName}}</h1>
</header>

<div class="discussions-content">
	<h2 class="app-download">
		{{i18n 'discussion:landing-page.download-the-app-header'}}
	</h2>
	<ul>
		<li class="app-button app-store">
			<a id="iosLink" href="{{discussionsConfig.iosAppLink}}"
			   style="background-image: url('{{discussionsConfig.iosStoreLogo}}');">
			</a>
		</li>
		<li class="app-button google">
			<a id="androidLink" href="{{discussionsConfig.androidAppLink}}">
				<img alt="{{i18n 'discussion:landing-page.google-play-button-alt'}}"
					 src="{{discussionsConfig.androidStoreLogo}}" />
			</a>
		</li>
	</ul>
	<div class="app-screen">
		<span style="background-image: url('{{discussionsConfig.appScreens}}');"></span>
	</div>
</div>

<footer class="discussions-footer">
	<ul>
		<li>
			<svg role="img">
				<use xlink:href="#plus"></use>
			</svg>
			<section>
				<h6>{{i18n 'discussion:landing-page.start-discussions-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.start-discussions-text'}}</p>
			</section>
		</li>
		<li>
			<svg role="img">
				<use xlink:href="#upvote-img"></use>
			</svg>
			<section>
				<h6>{{i18n 'discussion:landing-page.upvote-the-best-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.upvote-the-best-text'}}</p>
			</section>
		</li>
		<li>
			<svg role="img">
				<use xlink:href="#share"></use>
			</svg>
			<section>
				<h6>{{i18n 'discussion:landing-page.share-your-knowledge-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.share-your-knowledge-text'}}</p>
			</section>
		</li>
	</ul>
</footer>
