
<nav class="global-nav">
	<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
</nav>

<header class="discussions-header">
	<a href="#" title="" class="wiki-link">to the Wiki</a>
	<div class="app-logo"><img src="http://vignette.wikia.nocookie.net/outwiki_image_hosting_00/images/3/37/ios_image-starwars/revision/latest/thumbnail/width/80/height/80" alt="{{applicationName}}"></div>
	<h1>The hottest {{applicationName}} discussions with the biggest fans.</h1>
</header>

<div class="discussions-content">
	<section>
		<p class="app-download">
			Download the app to join in now!
		</p>
		<ul>
			<li class="app-button app-store">
				<a href="https://geo.itunes.apple.com/us/app/wikia-fan-app-for-fallout/id1002376814?mt=8"
				   style="background-image: url(http://linkmaker.itunes.apple.com/images/badges/ja-jp/badge_appstore-lrg.svg);">
				</a>
			</li>
			<li class="app-button google">
				<a href="https://play.google.com/store/apps/details?id=com.wikia.singlewikia.fallout">
					<img alt="Get it on Google Play"
						 src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
				</a>
			</li>
		</ul>
		<div class="app-screen">
			<span style="background-image: url('/front/images/star-wars-screen.png');"></span>
		</div>
	</section>
</div>

<footer class="discussions-footer splash splash-bottom">
	<section>
		<ul>
			<li>
				<h6>{{i18n 'discussion:landing-page.start-discussions-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.start-discussions-text'}}</p>
			</li>
			<li>
				<h6>{{i18n 'discussion:landing-page.upvote-the-best-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.upvote-the-best-text'}}</p>
			</li>
			<li>
				<h6>{{i18n 'discussion:landing-page.share-your-knowledge-title'}}</h6>
				<p>{{i18n 'discussion:landing-page.share-your-knowledge-text'}}</p>
			</li>
		</ul>
	</section>
</footer>

<script>
	var language = {{{language}}};
</script>
<!-- build:js /front/scripts/discussions.js -->
<script src="/front/vendor/i18next/i18next.min.js"></script>
<script src="/front/vendor/jquery/dist/jquery.js"></script>
<script src="/front/scripts/baseline.js"></script>
<script src="/front/scripts/mercury.js"></script>
<script src="/front/scripts/discussions.js"></script>
<!-- endbuild -->
