<footer class="wds-global-footer{{#unless model.header}}{{#if model.international_header}} wds-is-international{{else}} wds-is-en{{/if}}{{/unless}}">
	{{#if model.international_header}}
		<div class="wds-global-footer__header-wrapper">
			<h2 class="wds-global-footer__header">
				{{> svg class='wds-global-footer__wikia-logo wds-is-large' image=model.international_header.header.image}}
				<span class="wds-global-footer__home-of-fandom">{{i18n model.international_header.header.subtitle.key ns='design-system'}}</span>
			</h2>
		</div>
	{{else if model.header}}
		<h2 class="wds-global-footer__header">
			<a href="{{model.header.href}}" data-tracking-label="{{model.header.title.key}}" title="{{i18n model.header.title.key ns='design-system'}}">
				{{> svg class='wds-global-footer__header-logo' image=model.header.image}}
			</a>
		</h2>
	{{/if}}
	<div class="wds-global-footer__main">
		{{#if model.fandom.header}}
			{{> global-footer/global-footer-image-header model=model.fandom.header section='fandom'}}
		{{/if}}
		<div class="wds-global-footer__fandom-sections">
			{{> global-footer/global-footer-section model=model.fandom_overview name='fandom-overview' parentName='fandom'}}
			{{> global-footer/global-footer-section model=model.follow_us name='follow-us' parentName='fandom'}}
		</div>
		{{#if model.wikia.header}}
			{{> global-footer/global-footer-image-header model=model.wikia.header section='wikia'}}
		{{/if}}
		<div class="wds-global-footer__wikia-sections">
			{{> global-footer/global-footer-section model=model.company_overview name='company-overview' parentName='wikia'}}
			{{> global-footer/global-footer-section model=model.site_overview name='site-overview' parentName='wikia'}}
			{{> global-footer/global-footer-section model=model.community name='community' parentName='wikia'}}
			{{> global-footer/global-footer-section model=model.create_wiki name='create-wiki' parentName='wikia'}}
			{{> global-footer/global-footer-section model=model.community_apps name='community-apps' parentName='wikia'}}
			{{> global-footer/global-footer-section model=model.advertise name='advertise' parentName='wikia'}}
		</div>
	</div>
	{{> global-footer/global-footer-bottom-bar model=model}}
</footer>
