{{#if commentsCount}}
	<button {{action 'toggleComments'}} class='show-comments-btn page-btn'>
		{{i18n 'article-comments-label' count='commentsCount'}}
		{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
	</button>
{{/if}}
{{#if showComments}}
	<button {{bind-attr class=':page-btn isFirstPage:hidden'}} {{action 'prevPage'}}>{{i18n 'comments-prev-button'}}</button>
	<ul {{bind-attr class=':comments commentsHidden:hidden'}}>
		{{#each comment in model.comments}}
			{{article-comment comment=comment users=model.users}}
		{{/each}}
	</ul>
	<button {{bind-attr class=':page-btn isLastPage:hidden'}} {{action 'nextPage'}}>{{i18n 'comments-next-button'}}</button>
{{/if}}
