<span {{action 'toggleMenu'}} {{bind-attr class=":title isCollapsed:collapsed"}}>
	{{#if showMenuIcon}}
	{{svg "toc" "0 0 18 13" "icon toc"}}
	{{/if}}
	{{svg "chevron" "0 0 12 7" "icon chevron"}}
	{{i18n tLabel count=tCount}}
</span>
{{#if ordered}}
<ol>
	{{yield}}
</ol>
{{else}}
<ul>
	{{yield}}
</ul>
{{/if}}


