{{#if link}}
	{{svg 'chevron-linked' viewBox='0 0 20 20' class='chevron'}}
	<a {{bind-attr href=link}} {{action 'clickLinkedImage'}}>
		<img {{bind-attr src=imageSrc}} {{bind-attr style=style}}>
	</a>
{{else}}
	<img {{bind-attr src=imageSrc}} {{bind-attr style=style}}>
{{/if}}{{!-- these comments prevent polluting HTML with whitespaces that caused positioning problems
--}}{{yield}}{{!--
--}}{{#if caption}}
	<figcaption>{{{caption}}}</figcaption>
{{/if}}
