{{#if link}}
<a {{bind-attr href=link}} {{action 'clickLinkedImage'}}>
	<img {{bind-attr src=imageSrc}} {{bind-attr style=style}}>
</a>
{{else}}
<img {{bind-attr src=imageSrc}} {{bind-attr style=style}}>
{{/if}}
{{#if caption}}
	<figcaption>
		{{caption}}
	</figcaption>
{{/if}}
