<div class='sb-close' {{action 'close'}}>{{svg 'close' viewBox='0 0 18 18'}}</div>
<div class='sb-icon' {{bind-attr style=view.iconStyle}}></div>
<div class='sb-info'>
    <div class='sb-title'>{{view.title}}</div>
    <div class='sb-rating'></div>
    <div class='sb-in-store'>{{i18n 'smartbanner-price'}} - {{unbound view.inStore}}</div>
</div>
<a class='sb-button external'><span>{{unbound view.install}}</span></a>
