<img {{bind-attr src=imageSrc}} {{bind-attr style=style}}>
<figcaption>
	<div>{{media.title}} ({{duration media.duration}}, {{i18n 'media-video-views' count='media.views'}})</div>
	{{caption}}
</figcaption>
