<!DOCTYPE html>
<html class="no-js">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wikia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{getStyle 'app'}}" type="text/css" media="screen" title="no title" charset="utf-8">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- TODO: Add Bower Components here temporarily till we figure out approach to assets bundling -->
    <script src="{{getComponent 'jquery/dist/jquery'}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{getComponent 'handlebars/handlebars'}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{getComponent 'ember/ember'}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{getScript 'templates'}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{getScript 'main'}}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
