<!DOCTYPE html>
<html class="no-js" lang="{{wiki.language.user}}" dir="{{wiki.language.userDir}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{displayTitle}}{{#displayTitle}} - {{/displayTitle}}{{wiki.siteName}}</title>
		<meta name="keywords" content="{{wiki.siteName}},{{wiki.dbName}},{{displayTitle}}">
		{{#if article.details.abstract}}
		<meta name="description" content="{{article.details.abstract}}">
		{{/if}}
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		{{#if themeColor}}
		<meta name="theme-color" content="{{themeColor}}">
		{{/if}}

		<!-- build:css /public/styles/app.css -->
		<link rel="stylesheet" href="/public/styles/app.css">
		<!-- endbuild -->

		<link rel="canonical" href="{{canonicalUrl}}">

		<style>
			<!-- @include ../www/public/styles/baseline.css -->
		</style>

		<script>
			<!-- @include ../www/public/scripts/baseline.js -->
			M.provide('_state.translations.{{#if wiki.language.user}}{{wiki.language.user}}{{else}}en{{/if}}', {{{translations wiki.language.user}}});
			M.provide('_state.firstPage', true);
			M.provide('ads.slots', []);
			M.provide('apiBase', '{{{server.apiBase}}}');
			M.provide('environment', '{{{server.environment}}}');
			M.provide('wiki', {{{json wiki}}});
			M.provide('article', {{{json article}}});
			M.provide('tracking', {{{trackingJson}}});
			{{#if error}}
			M.provide('article.error', {{{error}}});
			{{/if}}
			{{#if server.mediawikiDomain}}
			M.provide('adsUrl', '//{{server.mediawikiDomain}}/__am/{{wiki.cacheBuster}}/groups/-/mercury_ads_js');
			{{/if}}
		</script>

		<!-- @ifdef browserSync -->
		<script src="/public/scripts/dev.js"></script>
		<!-- @endif -->

		{{> tracking}}
	</head>
	<body>
		<!-- @include ../www/public/svg/main.svg -->

		<div id="article-preload">
			{{{content}}}
		</div>

		<!-- build:js /public/vendor/main.js -->
			<script src="/public/vendor/script.js/dist/script.js"></script>
			<script src="/public/vendor/fastclick/lib/fastclick.js"></script>
			<script src="/public/vendor/jquery/dist/jquery.js"></script>
			<script src="/public/vendor/hammerjs/hammer.js"></script>
			<script src="/public/vendor/handlebars/handlebars.runtime.js"></script>
			<script src="/public/vendor/headroom.js/dist/headroom.js"></script>
			<script src="/public/vendor/jquery.cookie/jquery.cookie.js"></script>
			<!-- @if WIKIA_ENVIRONMENT='dev' -->
			<script src="/public/vendor/ember/ember.js"></script>
			<!-- @endif -->
			<!-- @if WIKIA_ENVIRONMENT!='dev' -->
			<script src="/public/vendor/ember/ember.prod.js"></script>
			<!-- @endif -->
			<script src="/public/vendor/ember-hammer/ember-hammer.js"></script>
			<script src="/public/vendor/i18next/i18next.js"></script>
			<script src="/public/vendor/vignette/dist/vignette.js"></script>
		<!-- endbuild -->

		<!-- build:js /public/scripts/combined.js -->
			<script src="/public/templates/main.js"></script>
			<script src="/public/scripts/mercury.js"></script>
			<script src="/public/scripts/main.js"></script>
		<!-- endbuild -->

		{{> tracking-pixels}}
	</body>
</html>
