<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{article.cleanTitle}} - {{wiki}} wiki</title>
		<meta name="description" content="{{article.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- build:css /public/styles/app.css -->
		<link rel="stylesheet" href="/public/styles/app.css">
		<!-- endbuild -->

		<style>
			<!-- @include ../www/public/styles/baseline.css -->
		</style>

		<script>
			<!-- @include ../www/public/scripts/baseline.js -->
			W.provide('language', '{{language}}');
			W.provide('_t.{{#if language}}{{language}}{{else}}en{{/if}}', {{{translations language}}});
			W.provide('_state.firstPage', true);
			W.provide('ads.slots', []);
			{{#if articleJson}}
				W.provide('article', {{{articleJson}}});
				W.provide('wiki.namespaces', {{{namespaces}}});
			{{else}}
				W.provide('article', {});
				W.provide('error.message', '{{output.payload.message}}');
				W.provide('error.status', '{{output.payload.statusCode}}');
				W.provide('error.error', '{{output.payload.error}}');
			{{/if}}

			//TODO: Remove when ad context object is available
			//This is beginning of porting some ads specific var
			//they will be moved to an object once AdEng has finished ADEN-1318
			window.wgShowAds = true;
		</script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			// staging GA id
			ga('create', '{{gaId}}', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->

		<!-- @if WIKIA_ENVIRONMENT='dev' -->
		<script src="/public/scripts/dev.js"></script>
		<!-- @endif -->
	</head>
	<body>
		<!-- @include ../www/public/svg/main.svg -->

		<div id="app-container" class="app-container">
			{{{content}}}
		</div>

		<!-- build:js /public/vendor/main.js -->
			<script src="/public/vendor/jquery/dist/jquery.js"></script>
			<script src="/public/vendor/handlebars/handlebars.runtime.js"></script>
			<script src="/public/vendor/ember/ember.js"></script>
			<script src="/public/vendor/i18next/i18next.js"></script>
		<!-- @if WIKIA_ENVIRONMENT='production' -->
		<!-- @endif -->
		<!-- endbuild -->

		<!-- build:js /public/scripts/combined.js -->
			<script src="/public/templates/main.js"></script>
			<script src="/public/scripts/wikia.js"></script>
			<script src="/public/scripts/main.js"></script>
		<!-- endbuild -->

		<script async src="{{mediawikiDomain}}__am/{{cb}}/groups/-/mercury_ads_js"></script>
	</body>
</html>
