<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{article.title}} - {{wiki}} wiki</title>
		<meta name="description" content="{{article.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css /public/styles/app.css -->
		<link rel="stylesheet" href="/public/styles/app.css">
		<!-- endbuild -->

		<style>
			<!-- @include ../www/public/styles/baseline.css -->
		</style>

		<script>
			<!-- @include ../www/public/scripts/baseline.js -->
			Wikia.provide('_t.{{#if language}}{{language}}{{else}}en{{/if}}', {{{translations language}}});
			Wikia.provide('_state.firstPage', true);
			{{#if articleJson}}
			Wikia.provide('article', {{{articleJson}}});
			{{else}}
			Wikia.provide('error.message', '{{output.payload.message}}');
			Wikia.provide('error.status', '{{output.payload.statusCode}}');
			Wikia.provide('error.error', '{{output.payload.error}}');
			{{/if}}

		</script>

		<!-- @if WIKIA_ENVIRONMENT='dev' -->
		<script src="/public/scripts/dev.js"></script>
		<!-- @endif -->
	</head>
	<body>
		<!-- @include ../www/public/svg/main.svg -->

		<div id="app-container" class="app-container">
			{{{content}}}
		</div>

        <!-- build:js /public/vendor/main.js -->
			<script src="/public/vendor/jquery/dist/jquery.js"></script>
			<script src="/public/vendor/handlebars/handlebars.runtime.js"></script>
			<script src="/public/vendor/ember/ember.js"></script>
			<script src="/public/vendor/i18next/i18next.js"></script>
        <!-- @if WIKIA_ENVIRONMENT='production' -->
        <!-- @endif -->
        <!-- endbuild -->

        <!-- build:js /public/scripts/combined.js -->
			<script src="/public/templates/main.js"></script>
			<script src="/public/scripts/main.js"></script>
        <!-- endbuild -->
	</body>
</html>
