<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Wikia</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/styles/app.css">
		<style>
			<!-- @include ../www/public/styles/baseline.css -->
		</style>
		<script>
			<!-- @include ../www/public/scripts/baseline.js -->
			Wikia.provide('_t.{{#if language}}{{language}}{{else}}en{{/if}}', {{{translations language}}});
			Wikia.provide('article', {{#if articleJson}}{{{articleJson}}}{{else}}{}{{/if}});
			Wikia.provide('_state.firstPage', true);
		</script>

		<!-- @if WIKIA_ENVIRONMENT='dev' -->
		<script src="/assets/scripts/dev.js"></script>
		<!-- @endif -->
		<!-- @if WIKIA_ENVIRONMENT='production' -->
		<script src="/assets/scripts/analytics.js"></script>
		<!-- @endif -->
	</head>
	<body>
		<!-- @include ../www/public/svg/main.svg -->
		<div id="app-container" class="app-container">
			{{{content}}}
		</div>

		<script src="/assets/vendor/main.js"></script>
		<script src="/assets/templates/main.js"></script>
		<script src="/assets/scripts/main.js"></script>
	</body>
</html>
