<div class="avatar">
	<img src="{{unbound avatarUrl}}">
</div>
<div class="content">
	<span class="username"><a href="{{unbound url}}">{{userName}}</a></span>
	{{{text}}}
	{{#if comments}}
		<button class="show-reply-btn" {{action 'toggleExpand'}}>
			{{i18n 'article-replies-label' count='comments.length'}}
		</button>
		<ul {{bind-attr class="expanded"}}>
		{{#each comments itemController="articleComment"}}
			{{view 'articleComment'}}
		{{/each}}
		</ul>
	{{/if}}
</div>
