<li class="comment">
	<div class="avatar">
		<img src="{{unbound avatarUrl}}">
	</div>
	<div class="content">
		<span class="username"><a href="{{unbound url}}">{{userName}}</a></span>
		{{{text}}}
		{{#if comments}}
			<a {{action 'toggleExpand'}}>
				{{i18n 'article-replies-label' count=comments.length}}
			</a>
			<ul {{bind-attr class="expanded"}}>
			{{#each comments itemController="articleComment"}}
				{{view App.ArticleCommentView}}
			{{/each}}
			</ul>
		{{/if}}
	</div>
</li>
