<section class="article-body">
	<h1 class="article-title">{{cleanTitle}}</h1>
	{{#if sections.length}}
		{{#collapsible-menu
			showMenuIcon=true
			additionalClasses="table-of-contents"
			tLabel="article-toc-label"
			ordered=true
			observe=cleanTitle
			animSpeed=controller.controllers.application.globalAnimSpeed
		}}
			{{#each sections}}
			<li>
				<a href="#{{unbound id}}" title="{{unbound name}}">
					{{increment _view.contentIndex}}&nbsp;&nbsp;{{unbound name}}
					<svg viewBox="0 0 12 7" class="icon chevron">
						<use xlink:href="#chevron"></use>
					</svg>
				</a>
			</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
	{{#view App.ArticleContentView}}
		{{{article}}}
	{{/view}}
</section>
<section class="article-footer">
	{{#if users.length}}
		<div class="contributors">
			<div class="title">{{i18n 'article-top-contributors-label'}}</div>
			<ul class="contributors">
				{{#each displayUsers}}
				<li><a href="{{unbound url}}"><img src={{unbound avatar}} alt="{{unbound name}}"></a></li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#if comments}}
		{{#link-to 'article.comments' classNames="show-comments-btn"}}
		{{i18n 'article-comments-label' count='comments'}}
		<svg viewBox="0 0 12 7" class="icon chevron">
			<use xlink:href="#chevron"></use>
		</svg>
		{{/link-to}}
	{{outlet comments}}
	{{/if}}
	{{#if categories}}
		{{#collapsible-menu
			showMenuIcon=false
			additionalClasses="article-categories-list"
			tLabel="article-categories-list-label"
			ordered=false
			observe=cleanTitle
			animSpeed=controller.controllers.application.globalAnimSpeed
		}}
			{{#each categories itemController="categoryListItem"}}
			<li>
				<a href="{{unbound url}}" title="{{unbound title}}">
				    	{{cleanTitle}}
					<svg viewBox="0 0 12 7" class="icon chevron">
						<use xlink:href="#chevron"></use>
					</svg>
				</a>
			</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
</section>
{{content-recommendations pages=relatedPages}}
