{{#unless error}}
<section class='article-body'>
	<h1 class='article-title'>{{cleanTitle}}</h1>
	{{#if sections.length}}
		{{#collapsible-menu
			showMenuIcon=true
			additionalClasses='table-of-contents'
			tLabel='article-toc-label'
			ordered=true
			observe=cleanTitle
			animSpeed=controller.controllers.application.globalAnimSpeed
			trackingEvent='mercury-toc'
		}}
			{{#each sections}}
			<li {{action 'trackClick' 'mercury-toc' 'header' on='mouseDown'}}>
				<a href='#{{unbound id}}' title='{{unbound name}}'>
					{{unbound name}}
					{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
				</a>
			</li>
			{{/each}}
			{{#if comments}}
				<li>
					<a href='#article-comments'>
						{{i18n 'article-comments-label' count='comments'}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
			{{/if}}
		{{/collapsible-menu}}
	{{/if}}
	{{#view 'article-content'}}
		{{{article}}}
	{{/view}}
</section>
<section class='article-footer'>
{{#if users.length}}
	<div class='contributors'>
		<div class='title'>{{i18n 'article-top-contributors-label'}}</div>
		<ul class='contributors'>
			{{#each displayUsers}}
			<li><a href='{{unbound url}}' {{action 'trackClick' 'mercury-contributors'}}><img src='{{unbound avatar}}' alt='{{unbound name}}'></a></li>
			{{/each}}
		</ul>
	</div>
{{/if}}
{{article-comments page=commentsPage articleId=id commentsCount=comments}}
{{#if categories}}
	{{#collapsible-menu
		showMenuIcon=false
		additionalClasses='article-categories-list'
		tLabel='article-categories-list-label'
		ordered=false
		observe=cleanTitle
		animSpeed=controller.controllers.application.globalAnimSpeed
		trackingEvent='mercury-category'
	}}
		{{#each categories itemController='categoryListItem'}}
		<li {{action 'trackClick' 'mercury-category' 'link'}}><a href='{{unbound url}}' title='{{unbound title}}'>
			{{cleanTitle}}
			{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
		</a></li>
		{{/each}}
	{{/collapsible-menu}}
{{/if}}
</section>
{{content-recommendations pages=relatedPages}}
{{else}}
	{{render 'notFound'}}
{{/unless}}
{{view 'wikia-footer'}}
