<div class="register-message-wrapper">
    <div class="register-message">
	    <img src="/front/images/wikia-logo.svg" alt="Wikia">
	    <p>{{i18n 'auth:join.join-wikia-today'}}</p>
    </div>
</div>
<div class="auth-options">
    <ul class="signup-providers">
        <li>
            <a class="button signup-provider-email" href="{{{signupHref}}}">
                {{i18n 'auth:common.sign-up-with-email'}}
            </a>
        </li>
    </ul>
        <p class="sign-in-message">
            {{i18n 'auth:common.login-callout-text'}}
	        <a class="sign-in footer-callout-link" href="{{loginRoute}}">{{i18n 'auth:common.login-callout-link'}}</a>
        </p>
</div>
