<section class="auth-content">
	<form id="signupForm" action="" method="POST">
		<div class="input-container">
			<input type="email" name="email" id="signupEmail" required />
			<label class="floating-label" for="signupEmail">{{i18n "auth:signup.email"}}</label>
		</div>
		<div class="input-container">
			<input type="text" name="username" id="signupUsername" required />
			<label class="floating-label" for="signupUsername">{{i18n "auth:common.username"}}</label>
			<img class="dice" src="/front/images/dice.svg">
	</div>
		<div class="input-container">
			<input type="text" name="password" id="signupPassword" required />
			<label class="floating-label" for="signupPassword">{{i18n "auth:common.password"}}</label>
			<img class="password-toggler" src="/front/images/eye.svg">
		</div>
		<div class="input-container">
			<div class="birthdate-container input">
				<input type="number" required name="birth-month" class="birth-month auto-tab" data-max-length="2" max="12" id="signupBirthDate">
				<span>/</span>
				<input type="number" required name="birth-day" class="birth-day auto-tab" data-max-length="2" max="31">
				<span>/</span>
				<input type="number" required name="birth-year" class="birth-year auto-tab auto-tab-end" data-max-length="4" max="{{currYear}}">
			</div>
			<!-- TOOD: uncomment this -->
			<!--<label class="floating-label" for="signupBirthDate">Birthdate (MM / DD / YY)</label>-->
		</div>
		<input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
		<div class="inline-checkbox-wrapper">
			<input type="checkbox" name="newsletter" id="signupNewsletter" class="inline">
			<label for="signupNewsletter" class="inline">
				{{i18n "auth:signup.wikia-newsletter-prompt"}}
			</label>
		</div>
		<button id="signupSubmit" type="submit">{{i18n "auth:signup.register-action"}}</button>
		<small class="terms-of-use">
			{{{i18n "auth:signup.terms-of-use" i18nContext}}}
		</small>
	</form>
</section>
