{{#if items.length}}
	<h3>{{model.title}}</h3>
	<ul class="thumbnails">
		{{#each items as |item|}}
			<li class="title-thumbnail" {{action 'trackExperimentClick' item.url preventDefault=(if externalLink true false)}}>
				<a href="{{if externalLink '#' item.url}}">
					<div class="image image-thumbnail">
						{{#if shouldBeLoaded }}
							{{#if item.thumbnail }}
								<img src="{{item.thumbnail}}" alt="{{item.title}}">
							{{/if}}
						{{/if}}
					</div>
					<p class="title">{{item.title}}</p>
				</a>
			</li>
		{{/each}}
	</ul>
{{/if}}

{{#if isLoading}}
	{{loading-spinner active=isLoading }}
{{/if}}
