<ul>
	{{#each controller.suggestions}}
		<a {{action collapseSideNav target="view.parentView" on="mouseUp"}} href="{{unbound url}}">
			<li>{{unbound title}}</li>
		</a>
	{{else}}
	{{#if showEmptyMessage}}
		<li>{{i18n 'search-no-results-msg'}}</li>
	{{/if}}
	{{/each}}
</ul>
