<section class="article-body">
	<h1 class="article-title">{{cleanTitle}}</h1>
	{{#table-of-contents sections=sections}}
	{{i18n 'table-of-contents'}}
	{{/table-of-contents}}
	<article class="article-content">
		{{{article}}}
	</article>
</section>
<section class="article-footer">
	<ul class="contributors">
		{{#each users}}
		<li><a href="{{unbound url}}"><img src={{unbound avatar}} alt="{{unbound name}}"></a></li>
		{{/each}}
	</ul>
	{{#if comments}}
	<div class="comments">
		{{i18n 'load-n-comments' count=comments}}
	</div>
	{{/if}}
</section>
{{content-recommendations pages=relatedPages}}
