<!DOCTYPE html>
<html>
	<head>
		{{> auth/head}}
	</head>
	<body class="auth {{pageParams.viewType}} {{bodyClasses}} {{#if standalonePage}}standalone{{/if}}" data-page-type="{{pageType}}">
		{{> auth/navigation}}

		<main class="page-view">
			{{#if standalonePage}}
				<nav class="auth-nav">
					<a class="back" href="{{exitTo}}">{{i18n 'auth:common.to-wiki-link-text'}}</a>
				</nav>
			{{/if}}
			{{#unless hideHeader}}
			<header class="auth-header splash splash-top">
				<h1>{{i18n headerText}}</h1>

				{{#if headerSlogan}}
				<p>{{i18n headerSlogan}}</p>
				{{/if}}
				<a href="{{{headerHref}}}" class="header-callout-link">
					{{i18n headerCallout}} <span class="header-callout-emphasis">{{i18n headerCalloutLink}}</span>
				</a>
			</header>
			{{/unless}}

			{{{content}}}
		</main>

		{{> auth/body-scripts}}
	</body>
</html>
