{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
<div class="wiki-container">
	{{wiki-page-header title=model.displayTitle}}
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		noAds=noAds
		showComments=true
		showPageTitle=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleSideNav='toggleSideNav'
		highlightedText=''
	}}
{{wikia-footer}}
</div>
