{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
<!--used for ad viewability on infobox page experiment, should be removed as part of DAT-4487-->
{{#if showTopLeaderBoardAd}}
	{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
{{/if}}
<div class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		noAds=noAds
		showComments=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		highlightedText=''
	}}
	{{ad-slot name='MOBILE_BOTTOM_LEADERBOARD' noAds=noAds}}
	{{wikia-footer}}
</div>
