{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
<div class="wiki-container">
	<h2 class="wiki-title">{{link-to siteName 'wiki-page' mainPageTitle alt=siteName trackingCategory='wikiname'}}</h2>
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		noAds=noAds
		showComments=true
		showPageTitle=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleSideNav='toggleSideNav'
		highlightedText=''
	}}
{{wikia-footer}}
</div>
