{{#each-in model.collections as |id data|}}
	<h3>{{id}}</h3>
	<ul>
		{{#if data.hasPrev}}
			<button {{action 'loadMore' data.prevBatch }}>Load More</button>
		{{/if}}
	{{#each data.items as |item|}}
		<li><a href="{{item.url}}">{{item.name}}</a></li>
	{{/each}}
		{{#if data.hasNext}}
			<button {{action 'loadMore' id data.nextBatch }}>Load More</button>
		{{/if}}
	</ul>
{{/each-in}}
