{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT'}}

<div id="wikiContainer" class="wiki-container">
	{{#article-wrapper
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		displayEmptyArticleInfo=false
		edit='edit'
		mainPageTitle=mainPageTitle
		model=model
		openLightbox='openLightbox'
		showComments=false
		siteName=siteName
		toggleDrawer='toggleDrawer'
		wikiPageHeaderSubtitle=(i18n 'app.category-page-subtitle')
	}}
		{{#if model.trendingArticles}}
			{{trending-articles
				header=(i18n 'app.category-page-trending-articles')
				model=model.trendingArticles
			}}
		{{/if}}
		{{#if model.categoryMembersGrouped}}
			{{category-members-grouped model=model.categoryMembersGrouped}}
		{{else}}
		{{! TODO Remove after XW-2583 is released }}
			{{category-sections
				adsContext=model.adsContext
				sections=model.sections
				loadBatch=(action 'loadBatch')
			}}
		{{/if}}
	{{/article-wrapper}}
</div>
