{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
<div class="wiki-container">
	{{#if model.hasArticle}}
		{{#article-wrapper
			commentsPage=commentsPage
			mainPageTitle=mainPageTitle
			model=model
			noAds=noAds
			showComments=false
			wikiPageHeaderSubtitle=(i18n 'app.category-page-subtitle')
			siteName=siteName
			addPhoto='addPhoto'
			articleRendered='articleRendered'
			edit='edit'
			openLightbox='openLightbox'
			toggleDrawer='toggleDrawer'
		}}
			{{category-sections
				adsContext=model.adsContext
				sections=model.sections
				setupAds=false
				loadBatch=(action 'loadBatch')
			}}
		{{/article-wrapper}}
	{{else}}
		{{wikia-ui-components/wiki-page-header title=model.displayTitle subtitle=(i18n 'app.category-page-subtitle')}}
		{{category-sections
			adsContext=model.adsContext
			sections=model.sections
			noAds=noAds
			setupAds=true
			loadBatch=(action 'loadBatch')
		}}
	{{/if}}
	{{ad-slot name='MOBILE_BOTTOM_LEADERBOARD' noAds=noAds}}
	{{wikia-footer}}
</div>
