{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
<div class="wiki-container">
	<h2 class="wiki-title" {{action 'trackClick' 'wikiname'}}>{{#link-to 'wiki-page' mainPageTitle alt=siteName}}{{siteName}}{{/link-to}}</h2>

	{{#if model.hasArticle}}
		{{article-wrapper
		commentsPage=commentsPage
		mainPageTitle=mainPageTitle
		model=model
		noAds=noAds
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleSideNav='toggleSideNav'
		}}
	{{/if}}


	{{category-collections
	collections=model.collections
	loadBatch=(action 'loadMore')
	}}

	{{wikia-footer}}
</div>
