<div class="page-wrapper editor-preview" lang={{language.content}} dir={{language.contentDir}}>
	<section class='wiki-container'>
		<div class="page-wrapper editor-preview" lang={{language.content}} dir={{language.contentDir}}>
			<section class='wiki-container'>
				{{article-content
					adsContext=model.adsContext
					content=model.content
					media=model.media
					noAds=noAds
					openLightbox='openLightbox'
					updateHeaders='updateHeaders'
					contributionEnabled=contributionEnabled
					uploadFeatureEnabled=uploadFeatureEnabled
					cleanTitle=model.cleanTitle
					edit='edit'
					addPhoto='addPhoto'
					addPhotoIconVisible=addPhotoIconVisible
					editIconVisible=editIconVisible
					editAllowed=editAllowed
					addPhotoAllowed=addPhotoAllowed
				}}
			</section>
		</div>
	</section>
</div>
