{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT'}}

<div id="wikiContainer" class="wiki-container">
		{{!TODO handle video player XW-2605}}
		{{!TODO files without thumbnails}}
	{{#article-wrapper
		model=model
		showComments=false
		wikiPageHeaderSubtitle=(i18n 'app.file-page-subtitle')
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		displayEmptyArticleInfo=false
	}}
		{{#if model.fileUsageList}}
			<nav class="file-usage">
				<div class="file-usage__header">{{i18n 'app.file-page-usages-header'}}</div>
				{{wikia-ui-components/wikia-card-list
					classNames="file-usage__list"
					items=model.fileUsageList
					trackingCategory="file-page"
					trackingLabel="file-usage-article"
				}}
				<div class="file-usage__more">
					<a href="{{model.fileUsageListSeeMoreUrl}}">{{i18n 'app.file-page-usages-see-more-link-label'}}</a>
				</div>
			</nav>
		{{/if}}
	{{/article-wrapper}}
</div>
