<header class="sub-head">
	<a {{action 'cancel'}} title="{{i18n 'app.cancel-label'}}" class="sub-head--cancel">{{svg 'back-arrow' role='img' class='icon'}}</a>
	<button {{action 'saveTemplate'}}>{{i18n 'infobox-builder:main.save'}}</button>
	<div class="sub-head--title">{{i18n 'app.curated-content-editor-editing-header' label=(i18n 'app.curated-content-editor-main-page')}}</div>
</header>
<div class="infobox-builder">
	{{#infobox-builder-wrapper}}
		{{#each model.infoboxState as |element index|}}
			{{component element.infoboxBuilderData.component
				item=element
				position=index
				activeItem=model.itemInEditMode
				setEditItemAction='setEditItem'
			}}
		{{/each}}
	{{/infobox-builder-wrapper}}

	{{infobox-builder-sidebar
		addItem='addItem'
	}}
</div>

