<section class="featured">
	{{#each sliders}}
		<h1 class="featured-title">
			{{title}}
		</h1>
		<div class="featured-mobile-4col-wrapper">
			<div class="featured-mobile-slide">
				<a href="{{entries.0.url}}">
					<img src="{{entries.0.image}}">
					<div class="hero-text-overlay">
						{{entries.0.text}}
					</div>
					{{#if entries.0.english}}
						<div class="hero-english-overlay"></div>
					{{/if}}
				</a>
			</div>
			<div class="featured-mobile-slide">
				<a href="{{entries.1.url}}">
					<img src="{{entries.1.image}}">
					<div class="hero-text-overlay">
						{{entries.1.text}}
					</div>
					{{#if entries.1.english}}
						<div class="hero-english-overlay"></div>
					{{/if}}
				</a>
			</div>
			<div class="featured-mobile-slide">
				<a href="{{entries.2.url}}">
					<img src="{{entries.2.image}}">
					<div class="hero-text-overlay">
						{{entries.2.text}}
					</div>
					{{#if entries.2.english}}
						<div class="hero-english-overlay"></div>
					{{/if}}
				</a>
			</div>
			<div class="featured-mobile-slide">
				<a href="{{entries.3.url}}">
					<img src="{{entries.3.image}}">
					<div class="hero-text-overlay">
						{{entries.3.text}}
					</div>
					{{#if entries.3.english}}
						<div class="hero-english-overlay"></div>
					{{/if}}
				</a>
			</div>
		</div>
	{{/each}}
</section>
<section class="featured-mobile-2row">
	{{#each sliders}}
		<h1 class="featured-title">
			{{title}}
		</h1>
		<div class="featured-mobile-2col-wrapper">
			{{#each groupedEntries}}
				<div class="featured-mobile-slide featured-mobile-slide-2col">
					<a href="{{left.url}}">
						<img src="{{left.image}}">
						<div class="hero-text-overlay">
							{{left.text}}
						</div>
						{{#if left.english}}
							<div class="hero-english-overlay"></div>
						{{/if}}
					</a>
				</div>
				<div class="featured-mobile-slide featured-mobile-slide-2col">
					{{#if right.url}}
						<a href="{{right.url}}">
							<img src="{{right.image}}">
							<div class="hero-text-overlay">
								{{right.text}}
							</div>
							{{#if right.english}}
								<div class="hero-english-overlay"></div>
							{{/if}}
						</a>
					{{/if}}
				</div>
				<div class="featured-mobile-slide-padding"></div>
			{{/each}}
		</div>
	{{/each}}
</section>
<section class="featured-mobile">
	{{#each sliders}}
		<h1 class="featured-title">
			{{title}}
		</h1>
		<div>
			{{#each entries}}
				<div class="featured-mobile-slide">
					<a href="{{url}}">
						<img src="{{image}}">
						<div class="hero-text-overlay">
							{{text}}
						</div>
						{{#if english}}
							<div class="hero-english-overlay"></div>
						{{/if}}
					</a>
				</div>
				<div class="featured-mobile-slide-padding"></div>
			{{/each}}
		</div>
	{{/each}}
</section>
