<p class="hero-mobile-padding"></p>
<div class="hero">
	{{> loading}}
	<div id="hero-carousel" class="hero-carousel slick-slider">
		{{#each heroSlider}}
			<div class="slick-list">
				<img class="hero-image-desktop" data-lazy="{{image}}">
				<div class="hero-text">
					<h1 class="{{textColorClass}}">{{title}}</h1>
					<h2 class="{{textColorClass}}">{{subtitle}}</h2>
					{{#if button}}
						<a class="hero-link {{textColorClass}}" href="{{buttonLink}}" id="{{buttonId}}">
							{{buttonText}}
						</a>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
<div class="hero-mobile">
	{{> loading-mobile}}
	<div id="hero-carousel-mobile" class="hero-carousel slick-slider">
		{{#each heroSlider}}
			<div class="slick-list">
				<img class="hero-image-mobile" data-lazy="{{imageMobile}}">
				<div class="hero-text-overlay-large">
					<h1 class="hero-text-white">{{title}}</h1>
					<h2 class="hero-text-white">{{subtitle}}</h2>
					{{#if button}}
						<a class="hero-link hero-text-white" href="{{buttonLink}}" id="{{buttonId}}">
							{{buttonText}}
						</a>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
