<div class="joinwikia">
	<div class="jw-title">
		{{joinWikia.sectionTitle}}
	</div>
	<div class="jw-community-central description">
		<div class="subtitle">{{joinWikia.commCenTitle}}</div>
		<div class="message">{{joinWikia.commCenMessage}}</div>
		<div class="link-to jw-community-link">
			{{joinWikia.commCenLink}}
			<img src="/images/arrow-right.png">
		</div>
	</div>
	<div class="jw-wikia-university description">
		<div class="subtitle">{{joinWikia.wikiaUnivTitle}}</div>
		<div class="message">{{joinWikia.wikiaUnivMessage}}</div>
		<div class="link-to jw-university-link">
			{{joinWikia.wikiaUnivLink}}
			<img src="/images/arrow-right.png">
		</div>
	</div>
</div>