<div class="joinwikia">
	<div class="jw-title">
		{{joinWikia.sectionTitle}}
	</div>
	<div class="jw-community-central">
		<div class="description">
			<div class="subtitle">{{joinWikia.commCenTitle}}</div>
			<div class="message">{{joinWikia.commCenMessage}}</div>
			<div class="link-to">{{joinWikia.commCenLink}}</div>
		</div>
	</div>
	<div class="jw-wikia-university">
		<div class="description">
			<div class="subtitle">{{joinWikia.wikiaUnivTitle}}</div>
			<div class="message">{{joinWikia.wikiaUnivMessage}}</div>
			<div class="link-to">{{joinWikia.wikiaUnivLink}}</div>
		</div>
	</div>
</div>