<div id="loading-mobile" class="loading-mobile">
	<div class="loading-wrapper">
		<img class="hero-image-mobile" src="{{heroSlider.0.imageMobile}}">
		<div class="hero-text-overlay-large">
			<h1 class="hero-text-white">{{heroSlider.0.title}}</h1>
			<h2 class="hero-text-white">{{heroSlider.0.subtitle}}</h2>
			{{#if heroSlider.0.button}}
				<a class="hero-link hero-text-white" href="{{heroSlider.0.buttonLink}}" id="{{heroSlider.0.buttonId}}">
					{{heroSlider.0.buttonText}}
				</a>
			{{/if}}
		</div>
	</div>
</div>
