<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/vendor/wikia-style-guide/gh-pages/assets/images/wikia_logo.svg" class="icon wikia-logo">
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <div class="search-bar">
            <form role="search" id="searchWikiaForm" class="search-wikia-form">
              <input type="search" id="searchWikiaText" placeholder="{{searchAllWikia}}" />
              <button type="button" id="searchWikia" class="search-wikia">
                <img src="/images/search-icon.png" class="icon search">
              </button>
            </form>
          </div>
        </li>
        <li class="nav-link more mobile-login">
          {{#if loggedIn}}
            <img src="{{avatarUrl}}" class="icon avatar" id="loginIcon">
          {{else}}
            <img src="/vendor/wikia-style-guide/gh-pages/assets/images/icons/icon_avatar.svg" class="icon login" id="loginIcon">
          {{/if}}

          <ul class="submenu">
            <li>
                {{#if loggedIn}}
                  <div class="user-info-mobile">
                    {{>userinfo}}
                  </div>
                {{else}}
                  <div class="user-info-mobile">
                    {{>signin}}
                  </div>
                {{/if}}
            </li>
          </ul>
        </li>
        <li class="nav-link">
          <div class="create-wikia">
            <a href="http://www.wikia.com/Special:CreateNewWiki?uselang=ja" class="create-wikia-button">
              {{createWikia}}
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

{{#if loggedIn}}
    <div id="userInfoToggle" class="user-info-box-mobile">
      {{>userinfo}}
    </div>
{{else}}
  <div id="userInfoToggle" class="user-info-box-mobile">
        {{>signin}}
  </div>
{{/if}}

<div class="search-bar-mobile">
  <form role="search" id="searchWikiaFormMobile" class="search-wikia-form">
    <input type="search" id="searchWikiaTextMobile" placeholder="{{searchAllWikia}}" />
    <button type="button" id="searchWikiaMobile" class="search-wikia">
      <img src="/images/search-icon.png" class="icon search">
    </button>
  </form>
</div>
