<section class="popular">
  <div class="grid-items">
    {{#each popular}}
      <a href="{{url}}" class="grid-item {{layout}} grid-item-image">
        <img src="{{imageLarge}}" alt="" class="grid-image-large">
        <img src="{{imageSmall}}" alt="" class="grid-image-small">
        <h1 class="grid-heading">{{name}}</h1>
      </a>
    {{/each}}
  </div>
</section>
