<ul class="user-info">
  <li class="user-info-item">
    <a href="http://community.wikia.com/wiki/User:{{userName}}">
      {{myPage}}
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://community.wikia.com/wiki/Message_Wall:{{userName}}">
      {{messageWall}}
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://www.wikia.com/Special:Preferences">
      {{userSettings}}
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://www.wikia.com/Help:Contents" title="Help:Contents" data-id="help">
      {{help}}
    </a>
  </li>
  <li class="user-info-item">
    <a href="/logout">
      {{logout}}
    </a>
  </li>
</ul>


