<div class="whatiswikia">
<div class="wiw-title">
	{{whatIsWikia.sectionTitle}}
</div>
<div class="wiw-search">
	<div class="description wiw-modile">
		<div class="subtitle">{{whatIsWikia.searchTitle}}</div>
		<div class="message">{{whatIsWikia.searchMessage}}</div>
		<div class="search-bar">
            <form role="search" class="wiw-search-wikia-form">
              <input type="search" id="wiwSearchWikiaTextDesktop" class="wiw-search-wikia-text" placeholder="{{whatIsWikia.searchInputbox}}" />
              <button type="button" class="wiw-search-wikia-button">{{whatIsWikia.searchButton}}</button>
            </form>
          </div>
	</div>
	<div class="device">
		<img src="/images/phone.png" class="mobile-device">
	</div>
	<div class="description wiw-desktop">
		<div class="subtitle">{{whatIsWikia.searchTitle}}</div>
		<div class="message">{{whatIsWikia.searchMessage}}</div>
		<div class="search-bar">
            <form role="search" class="wiw-search-wikia-form">
              <input type="search" id="wiwSarchWikiaTextMobile" class="wiw-search-wikia-text" placeholder="{{whatIsWikia.searchInputbox}}" />
              <button type="button" class="wiw-search-wikia-button">{{whatIsWikia.searchButton}}</button>
            </form>
          </div>
	</div>
</div>
<div class="wiw-start">
	<div class="description">
		<div class="subtitle">{{whatIsWikia.startTitle}}</div>
		<div class="message">{{whatIsWikia.startMessage}}</div>
	</div>
	<div class="device">
		<img src="/images/laptop.png" class="laptop-device">
	</div>
</div>
</div>