{{#unless textOnly}}
	{{wikia-ui-components/icon-button
		class='sub-head--cancel'
		click=(action onBack)
		icon='back-arrow'
		title=backArrowTooltip
	}}
	<button class="sub-head--done" {{action this.attrs.onConfirm}}>{{confirmLabel}}</button>
{{/unless}}
<h2 class="sub-head--title" {{action this.attrs.onTitleClick}}>{{title}}</h2>
