<div class="wiki-page-header__wrapper">
	<div class="wiki-page-header__main">
		{{#if isMainPage}}
			<h1 class="wiki-page-header__title">{{siteName}}</h1>
		{{else}}
			<h1 class="wiki-page-header__title">{{title}}</h1>
			{{#if subtitle}}
				<div class="wiki-page-header__subtitle wds-text-sm wds-font-normal">{{subtitle}}</div>
			{{/if}}
		{{/if}}
	</div>
	{{#if hasBlock}}
		{{yield}}
	{{/if}}
</div>
