<div class="wiki-page-header__title-wrapper">
	{{#if isMainPage}}
		<h1 class="wiki-page-header__title wds-midlight">{{siteName}}</h1>
	{{else}}
		<h1 class="wiki-page-header__title wds-midlight">{{title}}</h1>
		{{#if subtitle}}
			<div class="wiki-page-header__subtitle wds-font-size-s wds-font-weight-normal">{{subtitle}}</div>
		{{/if}}
	{{/if}}
</div>

{{#if heroImage}}
	<img class="wiki-page-header__hero-image"
		 src="{{heroImage.thumbnail}}"
		 srcset="{{heroImage.thumbnail}}, {{heroImage.thumbnail2x}} 2x"
		 width="{{heroImage.thumbnailWidth}}"
		 height="{{heroImage.thumbnailHeight}}"
		 alt="{{heroImage.title}}"
	/>
{{/if}}

