<ul class="wikia-card-list">
  {{#each @items as |item key|}}
    <li class="wikia-card" {{on "click" (fn this.onItemClick item)}}>
      <LinkTo @route="wiki-page" @model={{item.prefixedTitle}} @trackingCategory={{@trackingCategory}} @trackingLabel={{@trackingLabel}} @classNames="wikia-card__item wds-font-size-s wds-leading-tight">
        <div class="wikia-card__title wds-font-weight-medium">
          {{item.title}}
        </div>
        <div class="wikia-card__snippet wds-font-size-xs">{{item.snippet}}</div>
      </LinkTo>
    </li>
    {{#if @includePostsForQuery}}
      {{#if (equal key 1)}}
        <PostSearchInterrupt @query={{@includePostsForQuery}} @debugAffiliateUnits={{@debugAffiliateUnits}} />
      {{/if}}
    {{/if}}
  {{/each}}
</ul>
