<div class="wiki-page-header__title-wrapper">
	{{#if isMainPage}}
		<h1 class="wiki-page-header__title wds-midlight">{{siteName}}</h1>
	{{else}}
		<h1 class="wiki-page-header__title wds-midlight">{{title}}</h1>
		{{#if subtitle}}
			<div class="wiki-page-header__subtitle wds-font-size-s wds-font-weight-normal">{{subtitle}}</div>
		{{/if}}
	{{/if}}
</div>

{{#if heroImage}}
	<img class="wiki-page-header__hero-image article-media-placeholder lazyload"
		 src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{heroImage.thumbnailWidth}} {{heroImage.thumbnailHeight}}'%2F%3E"
		 data-src="{{heroImage.thumbnail}}"
		 data-srcset="{{heroImage.thumbnail}}, {{heroImage.thumbnail2x}} 2x"
		 data-sizes="auto"
		 width="{{heroImage.thumbnailWidth}}"
		 height="{{heroImage.thumbnailHeight}}"
		 alt="{{heroImage.title}}"
	/>
{{/if}}

