<div class="wiki-page-header__title-wrapper">
	{{#if isMainPage}}
		<h1 class="wiki-page-header__title wds-midlight">{{siteName}}</h1>
	{{else}}
		<h1 class="wiki-page-header__title wds-midlight">{{title}}</h1>
		{{#if subtitle}}
			<div class="wiki-page-header__subtitle wds-font-size-s wds-font-weight-normal">{{subtitle}}</div>
		{{/if}}
	{{/if}}
</div>

{{#if heroImage}}
	<a href="{{heroImage.url}}">
		<img class="wiki-page-header__hero-image"
			 src="{{heroImage.thumbnail4by5}}"
			 srcset="{{heroImage.thumbnail4by5}}, {{heroImage.thumbnail4by5x2}} 2x"
			 width="{{heroImage.thumbnail4by5Width}}"
			 height="{{heroImage.thumbnail4by5Height}}"
			 alt="{{heroImage.title}}"
		/>
	</a>
{{/if}}

