<ul class="wikia-card-list">
  {{#each @items as |item key|}}
    <li class="wikia-card" {{action "onItemClick" item preventDefault=false}}>
      <a href={{{ item.url }}} class="wikia-card__item wds-font-size-s wds-leading-tight">
        <div class="wikia-card__title wds-font-weight-medium">
          {{item.title}}
        </div>
        <div class="wikia-card__snippet wds-font-size-xs">{{item.snippet}}</div>
        <div class="wikia-card__community_name wds-font-size-xs">{{item.sitename}}</div>
      </a>
    </li>
    {{#if includePostsForQuery}}
      {{#if (equal key 1)}}
        {{post-search-interrupt query=includePostsForQuery isCrossWiki=true}}
      {{/if}}
    {{/if}}
  {{/each}}
</ul>
