<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

		<title>{{i18n title}} - Wikia</title>
		<!-- build:css /front/styles/auth/app.css -->
		<link rel="stylesheet" href="/front/styles/auth/app.css">
		<!-- endbuild -->

		{{> optimizely}}
		{{> tracking}}
		<link rel="canonical" href="{{canonicalUrl}}" />
	</head>
	<body class="auth {{pageParams.viewType}} {{bodyClasses}} {{#if standalonePage}}standalone{{/if}}" data-page-type="{{pageType}}">
	<!-- @include ../../../www/front/svg/common.svg -->

		{{#if standalonePage}}
			<nav class="global-nav">
				<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
			</nav>
		{{else}}
			{{#unless pageParams.isModal}}
			<a class="close" href="{{exitTo}}">
				<svg role="img">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			{{/unless}}
		{{/if}}

		{{#unless hideHeader}}
		<header class="auth-header splash splash-top">
			<h1>{{i18n headerText}}</h1>
			{{#if headerSlogan}}
			<p>{{i18n headerSlogan}}</p>
			{{/if}}
		</header>
		{{/unless}}

		{{{content}}}

		{{#unless hideFooter}}
		<footer class="auth-footer splash splash-bottom">
			{{i18n footerCallout}} <a href="{{{footerHref}}}" class="footer-callout-link">{{i18n footerCalloutLink}}</a>
		</footer>
		{{/unless}}

		<script>
			var translations = {{{json (translations language ns='auth-front')}}},
					language = {{{json language}}},
					pageParams = {{{json pageParams}}};
		</script>
		<!-- build:js /front/scripts/auth.js -->
		<script src="/front/vendor/i18next/i18next.min.js"></script>
		<script src="/front/vendor/visit-source/dist/visit-source.js"></script>
		<script src="/front/vendor/jquery/dist/jquery.js"></script>
		<script src="/front/scripts/baseline.js"></script>
		<script src="/front/scripts/modules-auth.js"></script>
		<!-- endbuild -->
		<script>
			M.prop('tracking', {{{json trackingConfig}}});
			M.prop('isGASpecialWiki', true);
		</script>
	</body>
</html>
