<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

		<title>{{i18n title}}</title>
		<!-- build:css /front/styles/auth/app.css -->
		<link rel="stylesheet" href="/front/styles/auth/app.css">
		<!-- endbuild -->
	</head>
	<body class="auth {{bodyClasses}}">
		{{#if exitTo}}
		<a class="close" href="{{exitTo}}"></a>
		{{/if}}

		{{#unless hideHeader}}
		<header class="auth-header splash splash-top">{{i18n headerText}}</header>
		{{/unless}}

		{{{content}}}

		{{#unless hideFooter}}
		<footer class="auth-footer splash splash-bottom">
			{{i18n footerCallout}} <a href="{{{footerHref}}}" class="footer-callout-link">{{i18n footerCalloutLink}}</a>
		</footer>
		{{/unless}}

		{{#unless noScripts}}
		<script>
			var translations = {{{json (translations language ns='auth-front')}}},
					language = {{{json language}}};
		</script>
		<script src="/front/vendor/i18next/i18next.min.js"></script>
		<!-- build:js /front/scripts/auth.js -->
		<script src="/front/scripts/auth.js"></script>
		<!-- endbuild -->
		{{/unless}}
	</body>
</html>
