<!DOCTYPE html>
<html class="no-js" lang="{{wiki.language.user}}" dir="{{wiki.language.userDir}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#if displayTitle}}{{displayTitle}} - {{/if}}{{wiki.siteName}}</title>
		<meta name="keywords" content="{{#if wiki.siteMessage}}{{wiki.siteMessage}},{{/if}}{{wiki.siteName}},{{wiki.dbName}},{{displayTitle}}">
		<!-- TODO: Use article.details.description after CONCF-509 is pushed to app@prod and caches are fresh, see CONCF-670 -->
		<meta name="description" content="{{#if article.details.description}}{{article.details.description}}{{else}}{{article.article.description}}{{/if}}">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		{{#if themeColor}}
		<meta name="theme-color" content="{{themeColor}}">
		{{/if}}

		{{#if isRtl}}
			<!-- build:css /front/styles/main/app.rtl.css -->
			<link rel="stylesheet" href="/front/styles/main/app.rtl.css">
			<!-- endbuild -->
		{{else}}
			<!-- build:css /front/styles/main/app.css -->
			<link rel="stylesheet" href="/front/styles/main/app.css">
			<!-- endbuild -->
		{{/if}}

		{{> open-graph-tags}}

		<link rel="canonical" href="{{canonicalUrl}}">

		<style><!-- @include ../../../www/front/styles/main/baseline.css --></style>

		<script>
			<!-- @include ../../../www/front/scripts/baseline.js -->
			{{#if server.mediawikiDomain}}
			M.prop('adsUrl', '//{{server.mediawikiDomain}}/__am/{{wiki.cacheBuster}}/groups/-/mercury_ads_js');
			{{/if}}
			M.prop('apiBase', '{{{server.apiBase}}}' || '/api/v1');
			M.prop('environment', '{{{server.environment}}}');
			M.prop('firstPage', true, true);
			M.prop('queryParams', {{{json queryParams}}});
			M.prop('tracking', {{{json tracking}}});
			M.prop('translations', {{{json (translations wiki.language.user ns='main')}}});
			M.prop('weppyConfig', {{{json weppyConfig}}});
			M.prop('wikiaLanguage', '{{{wiki.language.user}}}');
			M.prop('userId', {{{userId}}});
			// TODO: The ad code actually depends on this being at this exact namespace :/ Must fix, is very brittle currently
			M.provide('ads.slots', []);
			M.provide('wiki', {{{json wiki}}});
			M.provide('article', {{{json article}}});
			{{#if error}}
			M.provide('article.error', {{{error}}});
			{{/if}}
		</script>

		<!-- @ifdef browserSync -->
		<script src="/front/scripts/dev.js"></script>
		<!-- @endif -->

		{{> optimizely}}
		{{> tracking}}
	</head>
	<body>
		{{> qualaroo}}
		<!-- @include ../../../www/front/svg/main.svg -->

		<!-- A/B test (HG-727) -->
		<div class="loading-overlay ab-test-loading-overlay">
			<img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D">
		</div>

		<div id="article-preload">
			{{{content}}}
		</div>

        <!--
        Ember must render out to a specific div above the scripts, otherwise
        Google PageSpeed will mistakenly believe that we have scripts loading and blocking content
        DO NOT REMOVE THE FOLLOWING LINE:
        -->
        <div id="ember-container"></div>

		<!-- build:js /front/vendor/main.js defer -->
			<script src="/front/vendor/script.js/dist/script.js"></script>
			<script src="/front/vendor/fastclick/lib/fastclick.js"></script>
			<script src="/front/vendor/jquery/dist/jquery.js"></script>
			<script src="/front/vendor/hammerjs/hammer.js"></script>
			<script src="/front/vendor/headroom.js/dist/headroom.js"></script>
			<script src="/front/vendor/jquery.cookie/jquery.cookie.js"></script>
			<!-- @if WIKIA_ENVIRONMENT='dev' -->
			<script src="/front/vendor/ember/ember.debug.js"></script>
			<!-- @endif -->
			<!-- @if WIKIA_ENVIRONMENT!='dev' -->
			<script src="/front/vendor/ember/ember.prod.js"></script>
			<!-- @endif -->
			<script src="/front/vendor/ember-hammer/ember-hammer.js"></script>
			<script src="/front/vendor/i18next/i18next.js"></script>
			<script src="/front/vendor/vignette/dist/vignette.js"></script>
			<script src="/front/vendor/numeral/numeral.js"></script>
			<!-- @if WIKIA_ENVIRONMENT='prod' -->
				<script src="/front/vendor/weppy/dist/weppy.js"></script>
				<script src="/front/vendor/ember-performance-sender/dist/ember-performance-sender.js"></script>
			<!-- @endif -->
		<!-- endbuild -->

		<script src="//{{server.mediawikiDomain}}/__load/-/only=scripts/wikia.ext.instantGlobals,instantGlobalsOverride,abtesting" defer></script>

		<!-- build:js /front/scripts/combined.js defer -->
			<script src="/front/templates/main.js"></script>
			<script src="/front/scripts/mercury.js"></script>
			<script src="/front/scripts/main.js"></script>
		<!-- endbuild -->

		{{> tracking-pixels}}
	</body>
</html>
