<!DOCTYPE html>
<html lang="{{wikiVariables.language.content}}" dir="{{wikiVariables.language.contentDir}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{htmlTitle}}</title>
		<meta name="keywords" content="{{#if wikiVariables.siteMessage}}{{wikiVariables.siteMessage}},{{/if}}{{wikiVariables.siteName}},{{wikiVariables.dbName}},{{displayTitle}}">
		<meta name="description" content="{{article.data.details.description}}">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

		{{#if themeColor}}
			<meta name="theme-color" content="{{themeColor}}">
		{{/if}}
		{{#if wikiVariables.specialRobotPolicy}}
			<meta name="robots" content="{{wikiVariables.specialRobotPolicy}}">
		{{/if}}
		{{#if asyncArticle}}
			<meta name="fragment" content="!">
		{{/if}}

		{{#if isRtl}}
			<!-- build:css /front/styles/main/app.rtl.css -->
			<link rel="stylesheet" href="/front/styles/main/app.rtl.css">
			<!-- endbuild -->
		{{else}}
			<!-- build:css /front/styles/main/app.css -->
			<link rel="stylesheet" href="/front/styles/main/app.css">
			<!-- endbuild -->
		{{/if}}

		{{> dns-prefetch}}
		{{> open-graph-tags}}

		<link rel="canonical" href="{{canonicalUrl}}">

		<style><!-- @include ../../../www/front/styles/main/baseline.css --></style>

		{{> nirvana }}
		<script>
			<!-- @include ../../../www/front/scripts/baseline.js -->
			M.prop('apiBase', '{{{server.apiBase}}}' || '/api/mercury');
			M.prop('environment', '{{{server.environment}}}');
			M.prop('queryParams', {{{json queryParams}}});
			M.prop('tracking', {{{json tracking}}});
			M.prop('translations', {{{json (translations wikiVariables.language.content ns=localSettings.translationFiles)}}});
			M.prop('weppyConfig', {{{json localSettings.weppy}}});
			M.prop('wikiaLanguage', '{{{wikiVariables.language.content}}}');
			M.prop('userId', {{{userId}}});
			M.prop('cookieDomain', {{{json localSettings.authCookieDomain}}});
			M.prop('servicesDomain', {{{json localSettings.servicesDomain}}});
			M.prop('discussionBaseRoute', {{{json localSettings.discuss.baseAPIPath}}});
			{{#if discussionsSplashPageConfig}}
				M.prop('discussionsSplashPageConfig', {{{json discussionsSplashPageConfig}}});
			{{/if}}
			{{!-- TODO: The ad code actually depends on this being at this exact namespace :/ Must fix, is very brittle currently --}}
			M.provide('ads.slots', []);
			M.provide('wiki', {{{json wikiVariables}}});

			{{#if server.mediawikiDomain}}
				M.prop('mediawikiDomain', '{{server.mediawikiDomain}}');
				M.prop('adsUrl', '//{{server.mediawikiDomain}}/__am/{{wikiVariables.cacheBuster}}/groups/-/mercury_ads_js');
			{{/if}}
			{{#if asyncArticle}}
				M.prop('asyncArticle', {{asyncArticle}});
			{{/if}}
			{{#if article}}
				M.prop('articleContentPreloadedInDOM', true, true);
				M.provide('article', {{{json article}}});
			{{/if}}
			{{#if mainPageData}}
				M.prop('mainPageData', {{{json mainPageData}}});
			{{/if}}
			{{#if exception}}
				M.provide('exception', {{{json exception}}});
			{{/if}}
			{{#if server.optimizelyScript}}
				M.prop('optimizelyScript', '{{{server.optimizelyScript}}}');
			{{/if}}

		</script>

		<!-- @ifdef browserSync -->
		<script src="/front/scripts/dev.js"></script>
		<!-- @endif -->

		{{> tracking}}
	</head>
	<body>
		{{> qualaroo}}
		{{!--
		Ember must render out to a specific div above the scripts, otherwise
		Google PageSpeed will mistakenly believe that we have scripts loading and blocking content
		DO NOT REMOVE THE FOLLOWING LINE:
		--}}
		<div id="ember-container">
			<div id="preload">
				<nav class="site-head">
					<div class="site-logo">
						<!-- @include ../../../front/svg/symbols/main/wikia-logo.svg -->
					</div>
				</nav>
				<div class="page-wrapper" lang="{{wikiVariables.language.content}}" dir="{{wikiVariables.language.contentDir}}">
					{{{content}}}
				</div>
			</div>
		</div>

		<script>
			M.loadScripts([
				'/front/vendor/main.js',
				'/front/scripts/combined.js'
			]);
			M.loadDOMResource('/front/svg/main.svg');
			M.loadDOMResource('/front/svg/common.svg');
		</script>

		<script src="//{{server.mediawikiDomain}}/__load/-/only=scripts/wikia.ext.instantGlobals,instantGlobalsOverride,abtesting" async></script>
		{{> tracking-pixels}}
	</body>
</html>
