<!DOCTYPE html>
<html lang="{{wiki.language.content}}" dir="{{wiki.language.contentDir}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#if displayTitle}}{{displayTitle}} - {{/if}}{{wiki.siteName}}</title>
		<meta name="keywords" content="{{#if wiki.siteMessage}}{{wiki.siteMessage}},{{/if}}{{wiki.siteName}},{{wiki.dbName}},{{displayTitle}}">
		<meta name="description" content="{{article.details.description}}">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

		{{#if themeColor}}
			<meta name="theme-color" content="{{themeColor}}">
		{{/if}}
		{{#if wiki.specialRobotPolicy}}
			<meta name="robots" content="{{wiki.specialRobotPolicy}}">
		{{/if}}
		{{#if asyncArticle}}
			<meta name="fragment" content="!">
		{{/if}}

		{{> web-components}}

		{{#if isRtl}}
			<!-- build:css /front/styles/main/app.rtl.css -->
			<link rel="stylesheet" href="/front/styles/main/app.rtl.css">
			<!-- endbuild -->
		{{else}}
			<!-- build:css /front/styles/main/app.css -->
			<link rel="stylesheet" href="/front/styles/main/app.css">
			<!-- endbuild -->
		{{/if}}

		{{> open-graph-tags}}

		<link rel="canonical" href="{{canonicalUrl}}">

		<style><!-- @include ../../../www/front/styles/main/baseline.css --></style>

		<script>
			<!-- @include ../../../www/front/scripts/baseline.js -->
			M.prop('apiBase', '{{{server.apiBase}}}' || '/api/mercury');
			M.prop('environment', '{{{server.environment}}}');
			M.prop('queryParams', {{{json queryParams}}});
			M.prop('tracking', {{{json tracking}}});
			M.prop('translations', {{{json (translations wiki.language.content ns='main')}}});
			M.prop('weppyConfig', {{{json localSettings.weppy}}});
			M.prop('wikiaLanguage', '{{{wiki.language.content}}}');
			M.prop('userId', {{{userId}}});
			M.prop('cookieDomain', {{{json localSettings.authCookieDomain}}});
			M.prop('servicesDomain', {{{json localSettings.servicesDomain}}});
			// TODO: The ad code actually depends on this being at this exact namespace :/ Must fix, is very brittle currently
			M.provide('ads.slots', []);
			M.provide('wiki', {{{json wiki}}});

			{{#if server.mediawikiDomain}}
				M.prop('mediawikiDomain', '{{server.mediawikiDomain}}');
				M.prop('adsUrl', '//{{server.mediawikiDomain}}/__am/{{wiki.cacheBuster}}/groups/-/mercury_ads_js');
			{{/if}}
			{{#if asyncArticle}}
				M.prop('asyncArticle', {{asyncArticle}});
			{{/if}}
			{{#if article}}
				M.prop('articleContentPreloadedInDOM', true, true);
				M.provide('article', {{{json article}}});
			{{/if}}
			{{#if curatedContent}}
				M.prop('curatedContent', {{{json curatedContent}}}, true);
			{{/if}}
			{{#if mainPageData}}
				M.prop('mainPageData', {{{json mainPageData}}});
			{{/if}}
			{{#if error}}
				M.provide('error', {{{error}}});
			{{/if}}
			{{#if server.optimizelyScript}}
				M.prop('optimizelyScript', '{{{server.optimizelyScript}}}');
			{{/if}}

		</script>

		<!-- @ifdef browserSync -->
		<script src="/front/scripts/dev.js"></script>
		<!-- @endif -->

		{{> tracking}}
	</head>
	<body>
		{{> qualaroo}}
		<!-- @include ../../../www/front/svg/common.svg -->
		<!-- @include ../../../www/front/svg/main.svg -->


        <!--
        Ember must render out to a specific div above the scripts, otherwise
        Google PageSpeed will mistakenly believe that we have scripts loading and blocking content
        DO NOT REMOVE THE FOLLOWING LINE:
        -->
		<div id="ember-container">
			<div id="preload">
				<nav class="site-head">
					<div class="site-logo">
						<svg role="img" class="icon wikia-logo">
							<use xlink:href="#wikia-logo"></use>
						</svg>
					</div>
				</nav>
				<div class="page-wrapper" lang="{{wiki.language.content}}" dir="{{wiki.language.contentDir}}">
					{{{content}}}
				</div>
			</div>
		</div>

		<script>
			(function () {
				document.addEventListener("DOMContentLoaded", function() {
					M.loadScript('/front/vendor/main.js', function () {
						M.loadScript('/front/scripts/combined.js');
					});
				});
			}());
		</script>
		<script src="//{{server.mediawikiDomain}}/__load/-/only=scripts/wikia.ext.instantGlobals,instantGlobalsOverride,abtesting" async></script>
		{{> tracking-pixels}}
	</body>
</html>
