{{#if pageParams.tokenExpired}}
	<p class="error">{{i18n 'auth:forgot-password.token-expired-section-header'}}</p>
	<p>{{i18n 'auth:forgot-password.token-expired-section-text'}}</p>
{{else}}
	<p>{{i18n 'auth:forgot-password.section-text'}}</p>
{{/if}}
<form id="forgotPasswordForm" action="/forgotpassword" method="POST">
	<div class="input-container">
		<input type="text" name="username" id="loginUsername" maxlength="{{usernameMaxLength}}" value="{{username}}" required/>
		<label class="floating-label" for="loginUsername">{{i18n 'auth:common.username-label'}}</label>
	</div>
	<button id="forgotPasswordSubmit" type="submit" class="form-submit form-submit-wide" disabled><span>{{i18n 'auth:forgot-password.submit-text'}}</span></button>
</form>

