<p>{{i18n 'auth:forgot-password.section-text'}}</p>
<form id="{{formId}}" action="{{heliosLoginURL}}" method="POST">
	<div class="input-container">
		<input type="text" name="username" id="loginUsername" required/>
		<label class="floating-label" for="loginUsername">{{i18n "auth:common.username-label"}}</label>
	</div>
	<button id="forgotPasswordSubmit" type="submit" class="form-submit form-submit-wide" disabled><span>{{i18n submitText}}</span></button>
</form>

