<form id="signupForm" action="{{heliosRegistrationURL}}" method="POST">
	<div class="input-container">
		<input type="email" name="email" id="signupEmail" required />
		<label class="floating-label" for="signupEmail">{{i18n "auth:register.email-label"}}</label>
	</div>
	<div class="input-container">
		<input type="text" name="username" id="signupUsername" maxlength="{{usernameMaxLength}}" required />
		<label class="floating-label" for="signupUsername">{{i18n "auth:common.username-label"}}</label>
	</div>
	<div class="input-container">
		<input type="password" name="password" class="input-password" id="signupPassword" autocomplete="off" maxlength="{{passwordMaxLength}}" required />
		<label class="floating-label" for="signupPassword">{{i18n "auth:common.password-label"}}</label>
		<span class="input-icon password-toggler"></span>
	</div>
	<div class="input-container">
		<div class="birthdate-container input hide">
			{{#birthdateInputs}}
				<input type="number" name="{{name}}" class="fake-input birth-{{name}}" maxlength="{{maxLength}}" max="{{maxVal}}" placeholder="{{placeholder}}" required>
				<span>{{separator}}</span>
			{{/birthdateInputs}}
		</div>
		<input type="text" name="birthdate" id="signupBirthDate" required>
		<label class="floating-label" for="signupBirthDate">{{i18n "auth:register.birthdate-label"}}</label>
	</div>
	<label for="signupNewsletter" class="inline signup-newsletter-label hide">
		<input type="checkbox" name="marketingAllowed" id="signupNewsletter" class="inline custom-checkbox">{{! removed new line to avoid space between inline elements
		}}{{i18n "auth:register.wikia-newsletter-prompt"}}
	</label>
	<input type="hidden" name="langCode" value="{{langCode}}">
	<input type="hidden" name="registrationWikiaId" value="{{entryPointWikiId}}">
	<button id="signupSubmit" type="submit" class="form-submit" disabled><span>{{i18n "auth:register.register-action"}}</span></button>
	<small class="terms-of-use" id="termsOfUse">
		{{{i18n "auth:register.terms-of-use-text" termsOfUseLink=pageParams.termsOfUseLink}}}
	</small>
</form>
