<p>{{i18n 'auth:reset-password.section-text'}}</p>
<form id="resetPasswordForm" action="/resetpassword" method="POST">
	<div class="input-container">
		<input type="password" name="newPassword" class="input-password" id="newPassword" autocomplete="off" maxlength="{{passwordMaxLength}}" required />
		<label class="floating-label" for="newPassword">{{i18n "auth:reset-password.new-password-label"}}</label>
	</div>
	<div class="input-container">
		<input type="password" name="confirmNewPassword" class="input-password" id="confirmNewPassword" autocomplete="off" maxlength="{{passwordMaxLength}}" required />
		<label class="floating-label" for="confirmNewPassword">{{i18n "auth:reset-password.confirm-new-password-label"}}</label>
	</div>
	<button id="resetPasswordSubmit" type="submit" class="form-submit form-submit-wide" disabled><span>{{i18n 'auth:reset-password.submit-text'}}</span></button>
</form>

