{{#if heliosFacebookConnectURL}}
	<form id="{{formId}}" action="{{heliosLoginURL}}" method="POST" data-heliosFacebookConnectURL="{{heliosFacebookConnectURL}}">
{{else}}
	<form id="{{formId}}" action="{{heliosLoginURL}}" method="POST">
	{{#if hasFacebookButton}}
		<a class="button signup-provider-facebook" href="#" data-helios-facebook-uri="{{{heliosFacebookURL}}}">
			<span>{{i18n 'auth:common.connect-with-facebook'}}</span>
		</a>

		<div class="auth-divider">
			<span class="horizontal-line"></span>
			<span class="auth-or-message">{{i18n "auth:common.auth-or-message"}}</span>
			<span class="horizontal-line"></span>
		</div>

		<h4 class="auth-section-header">
			{{i18n 'auth:signin.signin-with-username-header'}}
		</h4>
	{{/if}}
{{/if}}
	<div class="input-container">
		<input type="text" name="username" id="loginUsername" required />
		<label class="floating-label" for="loginUsername">{{i18n "auth:common.username-label"}}</label>
	</div>
	<div class="input-container">
		<input class="sign-in-password" type="password" name="password" id="loginPassword" autocomplete="off" required />
		<label class="floating-label" for="loginPassword">{{i18n "auth:common.password-label"}}</label>
		<span class="input-icon password-toggler"></span>
		<a class="forgotten-password" href="{{{forgotPasswordHref}}}" tabindex="-1">{{i18n "auth:signin.forgot-password"}}</a>
	</div>
	<button id="loginSubmit" type="submit" class="form-submit" disabled><span>{{i18n submitText}}</span></button>
</form>
