{{discussion-header
	showSortComponent='showSortComponent'
	hideSortComponent='hideSortComponent'
	sortBy=sortBy
	sortMessageKey=sortMessageKey
}}
{{discussion-hero-unit
	numberOfPosts=model.totalPosts
	name=model.name
}}
<div class="discussion-page row">
	<div class="rail left large-3">
		{{community-badge}}
		{{discussion-back-button}}
	</div>
	{{discussion-sort
		setSortBy='setSortBy'
		sortVisible=sortVisible
		sortBy=sortBy
		sortTypes=sortTypes
	}}
	{{forum-wrapper
		goToPost='goToPost'
		loadPage='loadPage'
		name=model.name
		posts=model.posts
		postsDisplayed=model.posts.length
		totalPosts=model.totalPosts
	}}
	<div class="rail right large-3">
	</div>
</div>
