{{discussion-header
	setSortBy='setSortBy'
	sortBy=sortBy
}}
{{discussion-hero-unit
	numberOfPosts=model.totalPosts
	name=model.name
}}
<div class="rail left large-3">
	{{community-badge}}
	{{discussion-back-button}}
</div>
<div class="rail right large-3">
</div>
{{forum-wrapper
	goToPost='goToPost'
	loadPage='loadPage'
	name=model.name
	posts=model.posts
	postsDisplayed=model.posts.length
	totalPosts=model.totalPosts
}}
