{{discussion-header
	showContent=false
	headroomEnabled=false
}}
<div class="site-body-discussion post-details-view">
	<div class="minimized discussion-hero-unit background-theme-color"></div>
	<div class="discussion-page row">
		<div class="rail large-2 columns">
			{{community-badge}}
			{{discussion-back-button
				setLocation='goToForum'
				label='main.back-to-discussions-link'
			}}
			<hr/>
			<div class="discussion-contributors-title">{{i18n 'main.contributors-title' ns='discussion'}}</div>
			{{discussion-contributors
				contributors=model.contributors
				maxContributorDisplayCount=7
				totalContributorCount=model.postCount
			}}
		</div>
		{{#if model.connectionError}}
			{{discussion-connection-error
			retry=(action 'retry')
			}}
		{{else if model.notFoundError}}
			{{discussion-not-found-error
			goToAllDiscussions=(action 'goToAllDiscussions')
			}}
		{{else}}
			<div class="discussion post small-12 large-8 columns">
				{{post-detail
					author=model.firstPost.createdBy
					isDeleted=model.isDeleted
					isDetailsView=true
					post=model.firstPost
					postId=model.id
					replyCount=model.postCount
					timestamp=model.firstPost.creationDate.epochSecond
					upvoteCount=model.upvoteCount
					upvote='upvote'
				}}
				<div class="desktop-hidden discussion-contributors-mobile">
					{{discussion-contributors
						contributors=model.contributors
						maxContributorDisplayCount=7
						totalContributorCount=model.postCount
					}}
				</div>
				{{#if canShowMore}}
					<button {{action 'expand'}} class="see-more active-element-theme-color">
						{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
						{{i18n 'main.pagination-post-show-more' ns='discussion'}}
					</button>
				{{/if}}
				{{#each model.replies as |item index|}}
					{{post-reply
						post=item
						author=item.createdBy
						content=item.rawContent
						isDeleted=item.isDeleted
						isParentDeleted=model.isDeleted
						timestamp=item.creationDate.epochSecond
						upvoteCount=item.upvoteCount
						upvote='upvote'
					}}
				{{/each}}
			</div>
		{{/if}}
		<div class="rail large-2 columns">
			{{discussion-app-promotion}}
		</div>
	</div>
</div>
