{{#if model.connectionError}}
	{{discussion-connection-error
		retry='retry'
	}}
{{else}}
	<div class="discussion post">
		{{post-detail
			replyCount=model.postCount
			post=model.firstPost
			isDetailsView=true
			upvote='upvote'
		}}
		{{#if canShowMore}}
			<button {{action 'expand'}} class="see-more">
				{{svg 'comments' viewBox='0 0 30 30' class='icon replies'}}
				View Older Replies
			</button>
		{{/if}}
		{{#each model.replies as |item index|}}
			{{post-reply
				post=item
				upvote='upvote'
			}}
		{{/each}}
	</div>
{{/if}}
