<div class="wiki-container">
	<h2 class="wiki-title" {{action 'trackClick' 'wikiname'}}>{{link-to siteName 'wiki-page' mainPageTitle alt=siteName}}</h2>
	<section class="wiki-page-error">
		<h1 class="article-title">Error</h1>
		<div>{{i18n 'app.wiki-page-error'}}</div>
		<button {{action 'reloadPage'}}>{{i18n 'app.wiki-page-error-reload-button'}}</button>
	</section>
	{{wikia-footer}}
</div>
