{{! Keep the same HTML structure as in front/main/app/templates/components/wikia-stats.hbs }}
<div class="wikia-stats">
	<div class="wikia-stats-container">
		{{#if wikiaStats.articles}}
			<div class="wikia-stats-item">
				<div class="wikia-stats-label">{{i18n 'app.pages-label'}}</div>
				<div class="wikia-stats-value">{{numeral wikiaStats.articles '0a'}}</div>
			</div>
		{{/if}}
		{{#if wikiaStats.images}}
			<div class="wikia-stats-item">
				<div class="wikia-stats-label">{{i18n 'app.photos-label'}}</div>
				<div class="wikia-stats-value">{{numeral wikiaStats.images '0a'}}</div>
			</div>
		{{/if}}
		{{#if wikiaStats.videos}}
			<div class="wikia-stats-item">
				<div class="wikia-stats-label">{{i18n 'app.videos-label'}}</div>
				<div class="wikia-stats-value">{{numeral wikiaStats.videos '0a'}}</div>
			</div>
		{{/if}}
		{{#if wikiaStats.discussions}}
			<div class="wikia-stats-item">
				<div class="wikia-stats-label">{{i18n 'app.discussions-label'}}</div>
				<div class="wikia-stats-value">{{numeral wikiaStats.discussions '0a'}}</div>
			</div>
		{{/if}}
	</div>
</div>
