{{#if editorPreview}}
	<div class="page-wrapper editor-preview" lang={{language.content}} dir={{language.contentDir}}>
		<section class='wiki-container'>
			{{outlet}}
		</section>
	</div>
{{else if fullPage}}
	{{outlet}}
{{else}}
	{{smart-banner
		isVisible=smartBannerVisible
		toggleVisibility='toggleSmartBanner'
	}}
	{{site-head
		smartBannerVisible=smartBannerVisible
		currentUser=currentUser
		toggleSideNav='toggleSideNav'
		toggleUserMenu='toggleUserMenu'
		themeBar=themeBar
	}}
	{{share-feature
		smartBannerVisible=smartBannerVisible
		title=currentTitle
		language=language
	}}
	{{side-nav
		shouldBeVisible=sideNavVisible
		loadRandomArticle='loadRandomArticle'
		toggleVisibility='toggleSideNav'
	}}
	{{#if currentUser.isAuthenticated}}
		{{user-menu
			shouldBeVisible=userMenuVisible
			userName=currentUser.model.name
			toggleVisibility='toggleUserMenu'
		}}
	{{/if}}
	{{ad-slot name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
	{{ad-slot name='MOBILE_TOP_LEADERBOARD' noAds=noAds}}
	<div class='page-wrapper' lang={{language.content}} dir={{language.contentDir}}>
		{{outlet}}
	</div>
	{{lightbox-wrapper
		type=lightboxType
		model=lightboxModel
		closeLightbox='closeLightbox'
		setQueryParam='setQueryParam'
	}}
{{/if}}
{{alert-notifications alerts=alertNotifications}}
{{loading-spinner active=isLoading}}
