{{#if model.error}}
	{{render 'not-found'}}
{{else}}
	<section class='article-body'>
		<h1 class='article-title'>{{model.cleanTitle}}</h1>
		{{#if model.sections.length}}
			{{#collapsible-menu
				showMenuIcon=true
				additionalClasses='table-of-contents'
				tLabel='app.article-toc-label'
				ordered=true
				observe=model.cleanTitle
				trackingEvent='toc'
			}}
				{{#each section in model.sections}}
				<li {{action 'trackClick' 'toc' 'header' on='mouseDown'}}>
					<a href='#{{unbound section.id}}' title='{{unbound section.name}}'>
						{{unbound section.name}}
						{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
					</a>
				</li>
				{{/each}}
			{{/collapsible-menu}}
		{{/if}}
		{{#view 'article-content'}}
			{{#if model.article}}
				{{{model.article}}}
			{{else}}
				{{i18n 'app.article-empty-label'}}
			{{/if}}
		{{/view}}
	</section>
	<section class='article-footer'>
	{{wikia-users
		users=model.topContributors
		classes='contributors'
		label='app.article-top-contributors-label'
		trackingEvent='contributors'
	}}
	{{article-comments
		page=commentsPage
		articleId=model.id
		commentsCount=model.comments
	}}
	{{#if model.categories}}
		{{#collapsible-menu
			showMenuIcon=false
			additionalClasses='article-categories-list'
			tLabel='app.article-categories-list-label'
			ordered=false
			observe=model.cleanTitle
			trackingEvent='category'
		}}
			{{#each category in model.categories itemController='categoryListItem'}}
			<li {{action 'trackClick' 'category' 'link'}}><a href='{{unbound category.url}}' title='{{unbound category.title}}'>
				{{category.cleanTitle}}
				{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
			</a></li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
	</section>
	{{content-recommendations pages=model.relatedPages}}
{{/if}}
{{wikia-footer trackClick='trackClick'}}
