{{#infobox-wrapper-item}}
	{{#each infoboxState as |element|}}
		{{component element.type value=element.data.defaultValue}}
	{{/each}}
{{/infobox-wrapper-item}}

<button {{action 'addDataItem'}}>{{i18n 'app.add-infobox-data-tag'}}</button>
<button {{action 'addTitleItem'}}>{{i18n 'app.add-infobox-title-tag'}}</button>
<button {{action 'addImageItem'}}>{{i18n 'app.add-infobox-image-tag'}}</button>
<button {{action 'saveTemplate'}}>{{i18n 'app.save-infobox-template'}}</button>
<button {{action 'cancel'}}>{{i18n 'app.cancel'}}</button>
