<h2 class='wiki-title' {{action 'trackClick' 'wikiname'}}>{{#link-to 'article' mainPageTitle alt=siteName}}{{siteName}}{{/link-to}}</h2>
<h1 class='article-title'>{{model}}</h1>
{{curated-content model=model openCuratedContentItem='openCuratedContentItem'}}
{{wikia-footer}}

