<h1 class="article-title">Placeholder Article Title</h1>
{{#table-of-contents sections=headings}}
Table of Contents
{{/table-of-contents}}
{{#each article}} 
	<h3 {{action 'test'}}>{{title}}</h3> 
	{{#each image in images}} 
		<img {{bind-attr src=image.src}}> 
	{{/each}} 
	{{#each item in content}} 
		<p>{{item.text}}</p> 
		{{#if item.elements.length}} 
			<ul> 
			{{#each element in item.elements}} 
				<li>{{element.text}}</li> 
			{{/each}} 
			</ul> 
		{{/if}} 
	{{/each}} 
{{/each}} 

<a class="btn comments-btn" href="#">Load 324 comments</a>
<ul class="contributors">
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
</ul>
<span class="last-edit">Last edited 2 weeks ago</span>

