<section class="article-body">
	<h1 class="article-title">{{cleanTitle}}</h1>
	{{#table-of-contents sections=sections}}
	{{i18n T.table-of-contents}}
	{{/table-of-contents}}
	<article class="article-content">
		{{{article}}}
	</article>
	<a class="btn comments-btn" href="#">{{i18n T.load-n-comments count=comments}}</a>
	<ul class="contributors">
		{{#each users}}
			<li><a href="{{unbound url}}"><img src={{unbound avatar}} alt="{{unbound name}}"></a></li>
		{{/each}}
	</ul>
	<span class="last-edit">{{i18n T.last-edited-n-weeks-ago count=lastEdited}}</span>
</section>
{{content-recommendations pages=relatedPages}}
