<div class="title">
	{{#if parentItem}}
		{{currentMenuItem.text}}
	{{else}}
		Menu
	{{/if}}
</div>

<ul>
	{{#if parentItem}}
		<li class="back" {{action goBack}}>
			<svg viewBox="0 0 12 7" class="icon chevron">
				<use xlink:href="#chevron"></use>
			</svg>
			Back
		</li>
	{{/if}}
	{{#each currentMenuItem.children}}
		{{#if children}}
			<li {{action changeMenuItem index on="mouseUp"}}> 
				{{unbound text}}
				<svg viewBox="0 0 12 7" class="icon chevron">
					<use xlink:href="#chevron"></use>
				</svg>
			</li>
		{{else}}
			<a {{action collapseSideNav target="view.parentView" on="mouseUp"}} href="{{unbound href}}"><li>{{unbound text}}</li></a>
		{{/if}}
	{{/each}}
</ul>
