<div {{action 'expandSideNav' target="view"}} class="nav-container">
	<svg viewBox="0 0 24 14" class="icon nav">
		<use xlink:href="#nav"></use>
	</svg>
</div>
{{! Overlay that fades in}}
<div {{action collapseSideNav target="view"}} class="overlay"></div>
{{! 
	This is the element that is slid away
	If this element has search class, the elements in it will rearrange to be in search mode or whatever
}}
<div {{bind-attr class=":drawer controller.isInSearchMode:search"}}>
	{{input placeholder="Search" focus-in="searchFocus" value=controllers.localWikiaSearch.query}}
	<svg viewBox="0 0 14 14" class="icon search-side-menu">
		<use xlink:href="#search-side-menu"></use>
	</svg>
	<svg {{action 'clearSearch' target="view"}} viewbox="0 0 18 18" class="icon close-side-menu">
		<use xlink:href="#close-side-menu"></use>
	</svg>
	<div {{action 'searchCancel'}} class='cancel'>Cancel</div>

	{{! Search results get put here}}
	{{render "localWikiaSearch" controller='localWikiaSearch'}}
	{{! Here goes the local Wikia navigation menu content. }}
	{{render "localNavMenu" localNavMenu}}
</div>