{{smart-banner}}
<nav class='site-head'>
	{{render 'sideNav'}}
	{{render 'login'}}
	<div class='site-logo' {{action 'trackClick' 'wordmark'}}>
		{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
	</div>
</nav>
{{ad-slot name='MOBILE_TOP_LEADERBOARD'}}
<div class='page-wrapper' {{bind-attr lang=language.content}} {{bind-attr dir=language.contentDir}}>
	<section class='wiki-container'>
		<h2 class='wiki-title' {{action 'trackClick' 'wikiname'}}>{{#link-to 'index' alt=siteName}}{{siteName}}{{/link-to}}</h2>
		{{outlet}}
	</section>
</div>
{{outlet lightbox}}
