<nav class="site-head">
	{{render "sideNav" sideNav}}
	<div class="site-logo">
		{{svg "wikia-logo" role="img" class="icon wikia-logo"}}
	</div>
</nav>
{{ad-slot name='MOBILE_TOP_LEADERBOARD'}}
<div class="page-wrapper">
	<section class="wiki-container">
		<h2 class="wiki-title">{{#link-to "" alt=siteName}}{{siteName}}{{/link-to}}</h2>
		{{outlet}} 
	</section>
</div>
{{outlet lightbox}}
