<div {{bind-attr class="headerHidden :lightbox-header"}}>
	<div class="lightbox-header-title">{{header}}</div>
	<svg role="img" class="lightbox-close-button close-icon" {{action 'closeLightbox'}}>
        <use xlink:href="#close"></use>
    </svg>
</div>
<div class="lightbox-content" {{action 'hideUI'}}>
	<div class="lightbox-content-inner">
		{{contents}}
	</div>
</div>
{{#if footer}}
    <div {{bind-attr class="lightboxFooterExpanded footerHidden :lightbox-footer"}} {{action 'toggleFooter'}}>{{footer}}</div>
{{/if}}
