<div class="cards-container">
	<div class="card first-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n firstCard.headerText}}</h1>
			{{#if firstCard.headerHref}}
				<a href="{{{firstCard.headerHref}}}" class="header-callout-link">
					{{i18n firstCard.headerCallout}} <span class="header-callout-emphasis">{{i18n firstCard.headerCalloutLink}}</span>
				</a>
			{{/if}}
		</header>
		<section class="auth-content">
			{{> (firstCardPartial) }}
		</section>
	</div>
	<div class="card second-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n secondCard.headerText}}</h1>
		</header>
		<section class="auth-content">
			{{> (secondCardPartial) }}
		</section>
	</div>
</div>
