<div class="cards-container">
	<div class="card first-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n headerText}}</h1>
			<a href="{{{headerHref}}}" class="header-callout-link">
				{{i18n headerCallout}} <span class="header-callout-emphasis">{{i18n headerCalloutLink}}</span>
			</a>
		</header>
		<section class="auth-content">
			{{> (firstCardPartial) }}
		</section>
	</div>
	<div class="card second-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n confirmHeaderText}}</h1>
		</header>
		<section class="auth-content">
			{{> (secondCardPartial) }}
		</section>
	</div>
</div>
