<div class="register-message-wrapper">
	<div class="register-message">
		<img src="/front/common/symbols/wikia-logo-white.svg" alt="Wikia">
	</div>
	<div class="register-message">
		<p>{{{i18n 'auth:join.join-text'}}}</p>
	</div>
</div>
<div class="auth-options">
	<ul class="signup-providers">
		<li>
			<a class="button signup-provider-facebook" href="#" data-helios-facebook-uri="{{{heliosFacebookURL}}}">
				<span>{{i18n 'auth:common.connect-with-facebook'}}</span>
			</a>
		</li>
		<li>
			<a class="button signup-provider-email" href="{{{signupHref}}}">
				{{i18n 'auth:join.sign-up-with-email'}}
			</a>
		</li>
	</ul>
		<p class="sign-in-message">
			{{i18n 'auth:common.signin-callout'}}
			<a class="sign-in footer-callout-link" href="{{signinRoute}}">{{i18n 'auth:common.signin-link-text'}}</a>
		</p>
</div>
