<div class="register-message-wrapper">
	<div class="register-message register-message-callout">
		<p>{{{i18n 'auth:join.join-text'}}}</p>
	</div>
	<div class="register-message register-message-logo">
		<img src="/front/common/symbols/fandom-logo-white.svg" alt="Fandom">
	</div>
</div>
<div class="auth-options">
	<ul class="signup-providers">
		<li>
			<a class="button signup-provider-facebook" href="#" data-helios-facebook-uri="{{{heliosFacebookURL}}}">
				<span>{{i18n 'auth:common.connect-with-facebook'}}</span>
			</a>
		</li>
		<li>
			<a class="button signup-provider-email" href="{{{signupHref}}}">
				{{i18n 'auth:join.sign-up-with-email'}}
			</a>
		</li>
	</ul>
	<a class="sign-in footer-callout-link" href="{{signinRoute}}">
		<p class="sign-in-message">
			{{i18n 'auth:common.signin-callout'}} <span class="footer-callout-emphasis">{{i18n 'auth:common.signin-link-text'}}</span>
		</p>
	</a>
</div>
