<nav class="auth-nav">
	<a class="back" href="{{exitTo}}">{{i18n 'auth:common.to-wiki-link-text'}}</a>
</nav>
<div class="cards-container">
	<div class="card forgot-password-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n headerText}}</h1>
			<a href="{{{headerHref}}}" class="header-callout-link">
				{{i18n headerCallout}} <span class="header-callout-emphasis">{{i18n headerCalloutLink}}</span>
			</a>
		</header>
		<div class="desktop-view">
			<section class="auth-content auth-content-wide">
				{{> auth/forgot-password}}
			</section>
		</div>
	</div>
	<div class="card confirm-forgot-password-card">
		<header class="auth-header splash splash-top">
			<h1>{{i18n 'auth:confirm-forgot-password.header'}}</h1>
			<a href="" class="header-callout-link"></a>
		</header>
		<div class="desktop-view">
			<section class="auth-content auth-content-wide">
				{{> auth/forgot-password-check-email}}
			</section>
		</div>
	</div>
</div>
