<span class="fancy-checkbox-span {{if isChecked 'active-element-background-color'}} {{if disabled 'disabled'}}">
	{{one-way-checkbox
		checked=isChecked
		class='fancy-checkbox'
		click=onClick
		id=inputId
		name=inputId
	}}
	{{svg 'checkbox-checkmark' class=(concat 'icon ' (unless isChecked 'hidden')) viewBox="0 0 20 14"}}
</span>
{{label}}
