{{# unless textOnly}}
	<a {{action this.attrs.onBackArrowClick}} title="{{backArrowTooltip}}" class="sub-head--cancel">{{svg 'back-arrow'
	role='img'
	class='icon'}}</a>
<button class="sub-head--done" {{action this.attrs.onConfirmBtnClick}}>{{confirmBtnLabel}}</button>
{{/unless}}
<div class="sub-head--title">{{title}}</div>
