{{input
	class='text-field-input'
	value=valueProxy
	id=inputId
	name=name
	focus-out='onBlur'
	focus-in='onFocus'
	change=this.attrs.onChange
	placeholder=placeholder
	key-up='onKeyUp'
}}
<label class={{labelClassNames}} for={{inputId}}>{{label}}</label>
{{#if errorMessage}}
	<span class="text-field-error-message">{{errorMessage}}</span>
{{/if}}
