<div id="wikiContainer" class="wiki-container">
  <ArticleWrapper
		  @displayArticleWrapper={{this.applicationWrapperVisible}}
		  @commentsPage={{this.commentsPage}}
		  @model={{@model}}
		  @siteName={{this.siteName}}
		  @toggleSiteHeadShadow={{this.toggleSiteHeadShadow}}
  />
</div>
<RecirculationPrefooter @applicationWrapperVisible={{this.applicationWrapperVisible}} @articleId={{@model.details.id}} />

{{#if this.wikiVariables.recommendedVideoPlaylist}}
  <RecommendedVideo @playlistId={{this.wikiVariables.recommendedVideoPlaylist}} @relatedMediaId={{this.wikiVariables.recommendedVideoRelatedMediaId}} />
{{/if}}
