<div class="page-wrapper">
  <WikiaUiComponents::WikiPageHeader @title={{model.displayTitle}} @heroImage={{heroImage}} />
  <section class="article-body">
    <ArticleContent @content={{model.content}} @isPreview={{true}} @media={{model.media}} />
  </section>
</div>
