<div id="wikiContainer" class="wiki-container">
  <ArticleWrapper @displayArticleWrapper={{applicationWrapperVisible}} @commentsPage={{commentsPage}} @model={{model}} @siteName={{siteName}} @toggleSiteHeadShadow={{action "toggleSiteHeadShadow" target=application}} />
</div>
<RecirculationPrefooter @applicationWrapperVisible={{applicationWrapperVisible}} @articleId={{model.details.id}} />

{{#if wikiVariables.recommendedVideoPlaylist}}
  <RecommendedVideo @playlistId={{wikiVariables.recommendedVideoPlaylist}} @relatedMediaId={{wikiVariables.recommendedVideoRelatedMediaId}} />
{{/if}}
