<div id="wikiContainer" class="wiki-container">
  <ArticleWrapper @displayEmptyArticleInfo={{false}} @mainPageTitle={{mainPageTitle}} @model={{model}} @showComments={{false}} @siteName={{siteName}} @wikiPageHeaderSubtitle={{i18n "category-page.subtitle"}}>
    {{!-- Keep it outside of category-page to make scrolling to top easier --}}
    {{#if model.trendingPages}}
      <CategoryTrendingPages @model={{model.trendingPages}} />
    {{/if}}
    <CategoryPage @from={{from}} @loadFrom={{action "loadFrom"}} @model={{model}} />
  </ArticleWrapper>
</div>
