{{! Tags set once (static head tags) }}
{{#unless this.model.noExternals}}
  <link rel="dns-prefetch" href="http://edge.quantserve.com">
  <link rel="dns-prefetch" href="http://secure-dcr.imrworldwide.com/">
  <link rel="dns-prefetch" href="http://b.scorecardresearch.com">
  <link rel="dns-prefetch" href="https://script.ioam.de/iam.js">
  <link rel="preconnect" href={{this.model.cdnRootUrl}}>
  <link rel="dns-prefetch" href={{this.model.cdnRootUrl}}>
  <link rel="preconnect" href="https://beacon.wikia-services.com">
  <link rel="dns-prefetch" href="https://beacon.wikia-services.com">

  {{! Ads header bidding providers}}
  {{! a9}}
  <link rel="preconnect" href="//c.amazon-adsystem.com">
  <link rel="dns-prefetch" href="//c.amazon-adsystem.com">
  {{! rubicon}}
  <link rel="preconnect" href="//fastlane.rubiconproject.com">
  <link rel="dns-prefetch" href="//fastlane.rubiconproject.com">
  <link rel="preconnect" href="//fastlane-adv.rubiconproject.com">
  <link rel="dns-prefetch" href="//fastlane-adv.rubiconproject.com">
  {{! pubmatic}}
  <link rel="preconnect" href="//ads.pubmatic.com">
  <link rel="dns-prefetch" href="//ads.pubmatic.com">
  <link rel="preconnect" href="//gads.pubmatic.com">
  <link rel="dns-prefetch" href="//gads.pubmatic.com">
  {{! lkqd}}
  <link rel="preconnect" href="//v.lkqd.net">
  <link rel="dns-prefetch" href="//v.lkqd.net">
  {{! aol}}
  <link rel="preconnect" href="//adserver-us.adtech.advertising.com">
  <link rel="dns-prefetch" href="//adserver-us.adtech.advertising.com">
  {{! oneMobile}}
  <link rel="preconnect" href="//hb.nexage.com">
  <link rel="dns-prefetch" href="//hb.nexage.com">
  {{! indexExchange}}
  <link rel="preconnect" href="http://as.casalemedia.com">
  <link rel="dns-prefetch" href="http://as.casalemedia.com">
  {{! appnexus}}
  <link rel="preconnect" href="//ib.adnxs.com">
  <link rel="dns-prefetch" href="//ib.adnxs.com">
  {{! beachfront}}
  <link rel="preconnect" href="//reachms.bfmio.com">
  <link rel="dns-prefetch" href="//reachms.bfmio.com">
  {{! openx}}
  <link rel="preconnect" href="//wikia-d.openx.net">
  <link rel="dns-prefetch" href="//wikia-d.openx.net">
  {{! googletag gpt}}
  <link rel="preconnect" href="//www.googletagservices.com">
  <link rel="dns-prefetch" href="//www.googletagservices.com">
  {{! kargo}}
  <link rel="preconnect" href="//krk.kargo.com">
  <link rel="dns-prefetch" href="//krk.kargo.com">
  {{! gumgum}}
  <link rel="preconnect" href="//g2.gumgum.com">
  <link rel="dns-prefetch" href="//g2.gumgum.com">
  {{! teads}}
  <link rel="preconnect" href="//a.teads.tv">
  <link rel="dns-prefetch" href="//a.teads.tv">
  {{! triplelift}}
  <link rel="preconnect" href="//tlx.3lift.com">
  <link rel="dns-prefetch" href="//tlx.3lift.com">
  {{! criteo}}
  <link rel="preconnect" href="//bidder.criteo.com">
  <link rel="dns-prefetch" href="//bidder.criteo.com">
  {{! moat}}
  <link rel="preconnect" href="//mb.moatads.com" crossorigin>
  <link rel="dns-prefetch" href="//mb.moatads.com">

  {{#if this.model.gaUrl}}
    <link rel="dns-prefetch" href={{this.model.gaUrl}}>
  {{/if}}
{{/unless}}

{{#if this.model.favicon}}
  <link rel="shortcut icon" href={{this.model.favicon}}>
{{/if}}

{{#if this.model.appleTouchIcon}}
  <link
    rel="apple-touch-icon"
    href={{this.model.appleTouchIcon.url}}
    sizes={{this.model.appleTouchIcon.size}}
  >
{{/if}}

{{#if this.model.amphtml}}
  <link rel="amphtml" href={{this.model.amphtml}}>
{{/if}}

{{! Tags updated on each transition (dynamic head tags) }}
{{#if this.model.htmlTitle}}
  <title>{{this.model.htmlTitle}}</title>
{{/if}}

{{#if this.model.description}}
  <meta name="description" content={{this.model.description}}>
{{/if}}

{{#if this.model.keywords}}
  <meta name="keywords" content={{this.model.keywords}}>
{{/if}}

{{#if this.model.robots}}
  <meta name="robots" content={{this.model.robots}}>
{{/if}}

{{#if this.model.appleItunesApp}}
  <meta name="apple-itunes-app" content={{this.model.appleItunesApp}}>
{{/if}}

{{#if this.model.canonical}}
  <link rel="canonical" href={{this.model.canonical}}>
{{/if}}

{{#if this.model.next}}
  <link rel="next" href={{this.model.next}}>
{{/if}}

{{#if this.model.prev}}
  <link rel="prev" href={{this.model.prev}}>
{{/if}}

{{#each-in this.model.hreflangLinks as |language url|}}
  <link
    rel="alternate"
    hreflang={{language}}
    href={{url}}
  >
{{/each-in}}

{{! Open Graph start }}
{{#if this.model.type}}
  <meta property="og:type" content={{this.model.type}}>
{{/if}}
{{#unless this.model.isMainPage}}
  <meta property="og:site_name" content={{this.model.siteName}}>
{{/unless}}
{{#if this.model.title}}
  <meta property="og:title" content={{this.model.title}}>
{{/if}}
{{#if this.model.description}}
  <meta property="og:description" content={{this.model.description}}>
{{/if}}
{{#if this.model.canonical}}
  <meta property="og:url" content={{this.model.canonical}}>
{{/if}}
{{#if this.model.pageImage}}
  <meta property="og:image" content={{this.model.pageImage}}>
{{/if}}
{{! Open Graph end }}

{{! Facebook }}
{{#if this.model.facebookAppId}}
  <meta
    property="fb:app_id"
    content={{this.model.facebookAppId}}
    prefix="fb: http://www.facebook.com/2008/fbml"
  >
{{/if}}

{{! Twitter start }}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content={{this.model.twitterSite}}>
{{#if this.model.canonical}}
  <meta name="twitter:url" content={{this.model.canonical}}>
{{/if}}
{{#if this.model.twitterTitle}}
  <meta name="twitter:title" content={{this.model.twitterTitle}}>
{{/if}}
{{#if this.model.twitterDescription}}
  <meta name="twitter:description" content={{this.model.twitterDescription}}>
{{/if}}
{{#if this.model.isDedicatedForArticle}}
  <meta name="featured-video" content={{this.model.isDedicatedForArticle}}>
{{/if}}
{{! Twitter end }}

{{#if this.model.lazyCss}}
  {{!- These styles will be added to head on front-end to lazy load them-}}
  <link rel="stylesheet" href="/mobile-wiki/assets/lazy.css">
{{/if}}

{{#if this.model.shouldLoadDarkCss}}
  {{!- Styles for dark theme added only in the mobile app view-}}
  <link rel="stylesheet" href="/mobile-wiki/assets/dark.css">
{{/if}}
