<div class="language-wikis-index">
  <p
    class="language-wikis-index__intro wds-font-size-l wds-font-weight-bold wds-leading-tight"
  >
    {{#if this.wikiVariables.isClosed}}
      The English wiki at this URL has been closed, but here are related wikis in other languages
    {{else}}
      We couldn't find an English wiki at this URL, but here are related wikis in other languages
    {{/if}}
  </p>
  <div class="language-wikis-index__list-intro wds-font-size-l">
    <span class="wds-midlight-aqua">This is the list of communities under this domain</span>
  </div>
  <div class="language-wikis-index__list">
    {{#each this.wikiVariables.languageWikis.wikis as |wiki|}}
      <div class="language-wikis-index__list-language">
        <a href={{wiki.url}}>
          {{wiki.languageName}} &middot; {{wiki.title}}
        </a>
      </div>
    {{/each}}
  </div>
  <div class="language-wikis-index__links">
    {{#each this.wikiVariables.languageWikis.additionalLinks as |link|}}
      <a
        href={{link.url}}
        class="language-wikis-index__links-item"
      >
        {{link.title}}
      </a>
    {{/each}}
  </div>
</div>
