<div class="language-wikis-index">
  <p class="language-wikis-index__intro">
    {{#if wikiVariables.isClosed}}
      The English wiki at this URL has been closed, but here are related wikis in other languages
    {{else}}
      We couldn't find an English wiki at this URL, but here are related wikis in other languages
    {{/if}}
  </p>
  <div class="language-wikis-index__list-intro">
    <span class="wds-midlight-aqua">This is the list of communities under this domain</span>
  </div>
  <div class="language-wikis-index__list">
    {{#each wikiVariables.languageWikis.wikis as |wiki|}}
      <div class="language-wikis-index__list-language">
        <a href={{wiki.url}}>
          {{wiki.languageName}} &middot; {{wiki.title}}
        </a>
      </div>
    {{/each}}
  </div>
  <div class="language-wikis-index__links">
    {{#each wikiVariables.languageWikis.additionalLinks as |link|}}
      <a
        href={{link.url}}
        class="language-wikis-index__links-item"
      >
        {{link.title}}
      </a>
    {{/each}}
  </div>
</div>
