{{wikia-search
				onEnterHandler=(action 'onSearchEnter')
				query=inputPhrase
				focusInput=false
				suggestionsEnabled=false
}}
{{wds-spinner
	active=model.loading
	radius=38
	strokeWidth=3
}}
<div class="search-results">
	{{#if model.totalItems}}
		<div class="search-results__total">
			{{{i18n 'main.total-results'
				ns='search'
				totalItems=model.totalItems
				query=(wrap-me model.query tagName='strong')
			}}}
		</div>
		{{wikia-ui-components/wikia-card-list
			classNames="search-results__list"
			items=model.items
			trackingCategory="search-page"
			trackingLabel="search-result"
		}}
	{{else if notFoundError}}
		{{#wikia-ui-components/error-info}}
			{{wikia-search-error-not-found
				erroneousQuery=model.erroneousQuery
				onErrorPageClick=(action 'onErrorPageClick')
			}}
		{{/wikia-ui-components/error-info}}
	{{/if}}
</div>
{{#if model.canLoadMore}}
	<div class="search-results__load-more-wrapper">
		{{wikia-ui-components/wds-button
			text=(i18n 'main.load-more-results' ns='search')
			onClick=(action 'onLoadMore')
			trackLabel='search-load-more'
			isText=true
		}}
	</div>
{{/if}}
