{{wds-spinner
  active=model.loading
  radius=38
  strokeWidth=3
}}
<div class="search-results">
  {{#if model.totalItems}}
    <div class="search-results__total wds-font-size-s wds-leading-tight">
      {{{i18n 'main.total-results'
        ns='search'
        totalItems=model.totalItems
        query=(wrap-me model.query tagName='strong' className='wds-font-weight-bold')
      }}}
    </div>
    {{wikia-ui-components/wikia-card-list
      items=model.items
      trackingCategory="search-page"
      trackingLabel="search-result"
    }}
  {{else if notFoundError}}
    {{#wikia-ui-components/error-info}}
      {{wikia-search-error-not-found
        erroneousQuery=model.erroneousQuery
      }}
    {{/wikia-ui-components/error-info}}
  {{/if}}
</div>
{{#if model.canLoadMore}}
  <div class="search-results__load-more-wrapper">
    {{#wds-button
      click=(action 'onLoadMore' 'search-load-more')
      data-tracking-label='search-load-more'
      secondary=true
    }}
      {{i18n 'main.load-more-results' ns='search'}}
    {{/wds-button}}
  </div>
{{/if}}
